<div class="ssContainer ssContents">
  <div class="flexHeader">
    <h1 class="noMargin">Invite Users</h1>
    <div class="tool">
      <label class="labelLeft">Current Users</label>
      {{activeUsersCount}} / 50
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="tooltipsOpen['currentUsers']=!tooltipsOpen['currentUsers']"><i class="ss-help"></i></button>
        <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltipsOpen['currentUsers'] }">
          <div class="tool__text">
            Your plan only has {{50 - employees?.length}} available user accounts left. To upgrade now, call 801-555-5555 or email sales@careadopt.com.
          </div>
        </div>
      </div>
    </div> <!--/.tool-->
  </div> <!--/.flexHeader (for title, etc.)-->

  <table class="fullWidth">
    <thead>
      <tr>
        <th class="left">
          <span>User</span>
        </th>
        <th class="left">
          <span>Title</span>
        </th>
        <th class="left">
          <span>Email</span>
        </th>
        <th class="left">
          <span>NPI</span>
        </th>
        <th class="left">
          <span>Employed By</span>
        </th>
        <th class="left">
          <span>Org/Facility</span>
        </th>
        <th>
          <span>Admin</span>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="usersToInivite.length > 0">
      <tr *ngFor="let user of usersToInivite">
        <td class="left">
          {{user.firstName}} {{user.lastName}}
        </td>
        <td class="left hideOverflow">
          {{user.title?.abbreviation}}
        </td>
        <td class="left hideOverflow">
          {{user.email}}
        </td>
        <td class="left">
          {{user.npi}}
        </td>
        <td class="left hideOverflow">
          {{user.employedBy?.name}}
        </td>
        <td class="left hideOverflow">
          <span *ngIf="user.facility">{{user.facility.length ? user.facility[0].name : ''}}</span>
        </td>
        <td class="hideOverflow">
          <i *ngIf="isAdmin(user)" class="ss-standard ss-check"></i>
        </td>
        <td class="noPad">
          <button class="button button--icon button--icon--small" (click)="openEditUser(user)">
            <i class="ss-write"></i>
          </button>
        </td>
        <td class="noPad">
          <button class="button button--icon button--icon--small" (click)="confirmDelete(user?.id)">
            <i class="ss-delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="button button--iconText marBottom64"
    (click)="openAddUser()">
      <i class="ss-plus"></i> Add User
  </button>

  <h2>Customize Message</h2>
  <textarea class="input input--textarea marBottom32" [(ngModel)]="emailBody"></textarea>
  <button class="button button--right" (click)="sendInvites()" [disabled]="sendDisabled">
    Send Invitations
  </button>
</div> <!--/.ssContainer-->
