<div class="ssContainer ssContents">
  <div class="flexHeader">
    <h1 class="noMargin">Invite Users</h1>
    <div class="tool">
      <label class="labelLeft">Current Users</label>
      45 / 50
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="tooltipsOpen['currentUsers']=!tooltipsOpen['currentUsers']"><i class="ss-help"></i></button>
        <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltipsOpen['currentUsers'] }">
          <div class="tool__text">
            Your plan only has 5 available user accounts left. To upgrade now, call 801-555-5555 or email sales@careadopt.com.
          </div>
        </div>
      </div>
    </div> <!--/.tool-->
  </div> <!--/.flexHeader (for title, etc.)-->

  <table class="fullWidth" *ngIf="usersToInivite.length > 0">
    <thead>
      <tr>
        <th class="left thSortable thSortable--sortDown">
          <span class="thSortable__text thSortable__text--left">User</span>
        </th>
        <th class="left thSortable">
          <span class="thSortable__text thSortable__text--left">Title</span>
        </th>
        <th class="left thSortable">
          <span class="thSortable__text thSortable__text--left">Specialty</span>
        </th>
        <th class="left thSortable">
          <span class="thSortable__text thSortable__text--left">Email</span>
        </th>
        <th class="left thSortable">
          <span class="thSortable__text thSortable__text--left">Phone (opt)</span>
        </th>
        <th class="left thSortable">
          <span class="thSortable__text thSortable__text--left">NPI (opt)</span>
        </th>
        <th class="left thSortable">
          <span class="thSortable__text thSortable__text--left">Employer</span>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersToInivite">
        <td class="left">
          {{user.firstName}} {{user.lastName}}
        </td>
        <td class="left hideOverflow">
          {{user.title?.abbreviation}}
        </td>
        <td class="left hideOverflow">
          {{user.specialty?.name}}
        </td>
        <td class="left hideOverflow">
          {{user.email}}
        </td>
        <td class="left noWrap">
          {{user.phone}}
        </td>
        <td class="left">
        </td>
        <td class="left hideOverflow">
          {{user.employedBy}}
        </td>
        <td class="noPad">
          <button class="button button--icon button--icon--small">
            <i class="ss-write"></i>
          </button>
        </td>
        <td class="noPad">
          <button class="button button--icon button--icon--small">
            <i class="ss-delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="button button--iconText marBottom64"
    (click)="openAddUser()">
      <i class="ss-plus"></i> Add User to Invite
  </button>

  <h2>Customize Message</h2>
  <textarea class="input input--textarea marBottom32">Join us on CareAdopt! CareAdopt empowers patients to adopt care after discharge and in between visits improving care coordination and engagement, decreasing costs, and providing better outcomes. Click the link below to create your profile.</textarea>
  <button class="button button--right">
    Send Invitations
  </button>
</div> <!--/.ssContainer-->
