<h1 class="modal__title">
  <span *ngIf="action === 'add'">Add a Patient to a Plan</span>
  <span *ngIf="action === 'edit'">Edit Patient Details</span>
</h1>

<div class="drop marBottom32 flex justifySpaceBetween" *ngIf="action === 'add'">
  <input
    type="text"
    class="input fullWidth modal__inputWrap"
    [ngClass]="{'input--search': !selectedPatient }"
    placeholder="Search Patients"
    (click)="dropAPPM0Open=!dropAPPM0Open"
    [value]="selectedPatientName()"
    [disabled]="selectedPatient"
  />
  <button
    class="button button--icon searchClear"
    (click)="unselectPatient()"
    *ngIf="selectedPatient && !data.disableRemovePatient"
  >
    <i class="ss-delete"></i>
  </button>

  <ul class="drop__dropdown fullWidth" [ngClass]="{ 'isOpen' : dropAPPM0Open }" (click)="dropAPPM0Open=!dropAPPM0Open">
    <li class="drop__option" *ngFor="let patient of allPatients" (click)="selectPatient(patient)">
      <a class="drop__link">
        <div class="picName">
          <img class="picName__img" src="../../../assets/img/profile.svg" />{{patient?.user?.first_name}} {{patient?.user?.last_name}}
        </div>
      </a>
    </li>
  </ul>
</div>
<!--TODO: Show the following div if the patient needs to be added to the system, or if editing new patient details-->
<div class="flex justifySpaceBetween">
  <div class="modal__inputWrap marRight16">
    <label>First Name</label>
    <input class="input fullWidth" [(ngModel)]="firstName" [disabled]="selectedPatient" />
  </div>
  <div class="modal__inputWrap">
    <label>Last Name</label>
    <input class="input fullWidth" [(ngModel)]="lastName" [disabled]="selectedPatient" />
  </div>
</div>

<div class="divider"></div>

<div class="flex justifySpaceBetween">
  <div class="modal__inputWrap marRight16 fullWidth">
    <label>Mobile Phone</label>
    <input class="input fullWidth" [(ngModel)]="phoneNumber" [disabled]="selectedPatient && phoneNumber" />
  </div>
  <div class="modal__inputWrap fullWidth">
    <label>Email</label>
    <input class="input fullWidth" [(ngModel)]="email" [disabled]="selectedPatient && email" />
  </div>
</div>

<div class="divider"></div>

<div class="flex justifySpaceBetween">
  <div class="divider"></div>
  <div class="modal__inputWrap fullWidth marRight16">
    <label>Facility</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="selectedFacility"  [compareWith]="compareFn" [disabled]="selectedPatient">
        <option *ngFor="let facility of filteredFacilities" [ngValue]="facility">{{facility.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal__inputWrap fullWidth">
    <label>Source</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="source">
        <option></option>
        <option value="Analytics">Analytics</option>
        <option value="MD Referral">MD Referral</option>
        <option value="Office Staff">Office Staff</option>
        <option value="Care Manager">Care Manager</option>
        <option value="Discharge Planner">Discharge Planner</option>
        <option value="Enrollment Coordinator">Enrollment Coordinator</option>
        <option value="Patient Request">Patient Request</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex justifySpaceBetween">
  <div class="modal__inputWrap fullWidth marRight16">
    <label>Service Area</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="selectedServiceArea" [compareWith]="compareFn">
        <option *ngFor="let serviceArea of serviceAreas" [ngValue]="serviceArea">{{serviceArea.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal__inputWrap fullWidth">
    <label>Care Plan</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [disabled]="!selectedServiceArea" [(ngModel)]="selectedPlan" [compareWith]="compareFn">
        <option *ngFor="let plan of carePlansFiltered()" [ngValue]="plan">{{plan.name}}</option>
      </select>
    </div>
  </div>
</div>

<div class="divider"></div>

<label class="styledInput">
  <input type="checkbox" class="styledInput__input" [(ngModel)]="enrollPatientChecked" />
  <span class="styledInput__box"></span>
  Enroll Patient
</label>

<p>By default the patient will be added to the Potential Patients unless you select the checkbox Enroll Patient.</p>

<div class="divider"></div>

<ng-container *ngIf="enrollPatientChecked">
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="payerReimburses"/>
    <span class="styledInput__box"></span>
    Payer Reimbursement
  </label>

  <p>Determininng payer reimbursement can be accomplished after the patient has been enrolled.</p>

  <div class="divider"></div>
</ng-container>

<ng-container *ngIf="payerReimburses">
  <div class="flex justifySpaceBetween">
    <div class="modal__inputWrap marRight32">
      <label>Insurance</label>
      <div class="styledSelect">
        <select class="styledSelect__select">
        </select>
      </div>
    </div>
    <div class="modal__inputWrap">
      <label>Billing Category</label>
      <div class="styledSelect">
        <select class="styledSelect__select" [(ngModel)]="selectedPlanType">
          <option *ngFor="let planType of planTypes" [ngValue]="planType">{{planType}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</ng-container>

<!--TODO: Show the following if "care plan type" is CCM or CCCM-->
<div *ngIf="selectedPlanType === 'CCM' || selectedPlanType === 'CCCM'">
  <h5>
  </h5>
  <div class="iconText iconText--wrap iconText--autoHeight error">
    <i class="iconText__icon ss-alert"></i>
    <span class="error__text">
      Patients must be diagnosed with 2 or more chronic conditions<br />
      to qualify for CCM or CCCM plans.
    </span>
  </div>
  <!--TODO: Show the following if the patient has one or more diagnoses.-->
  <div>
    <table class="marBottom8 fullWidth">
      <thead>
        <tr>
          <th class="left">Diagnosis</th>
          <th class="left">Chronic</th>
          <th class="noPad"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let diagnosis of diagnoses; let i = index">
          <td class="left">
            <span *ngIf="editDiagnosisIndex !== i">{{diagnosis.name}}</span>
            <form *ngIf="editDiagnosisIndex === i" class="flex">
              <div class="drop">
                <input type="text" class="input input--search fullWidth" placeholder="Search Diagnoses" />
              </div>
            </form>
          </td>
          <td class="left">
            <span *ngIf="editDiagnosisIndex !== i">{{diagnosis.chronic ? 'Chronic' : 'Not Chronic'}}</span>
            <div *ngIf="editDiagnosisIndex === i" class="styledSelect">
              <select class="styledSelect__select">
                <option>Not Chronic</option>
                <option>Chronic</option>
              </select>
            </div>
          </td>
          <td class="noPad">
            <!--TODO: Show help button if diagnosis was formerly assigned-->
            <div *ngIf="diagnosis.original" class="tool__anchor flex justifyEnd">
              <button class="button button--icon button--icon--small">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip tool__tip--right" [ngClass]="{ 'isOpen' : false }">
                <div class="tool__text">
                  Go to the patient profile to edit or remove previously added diagnoses.
                </div>
              </div>
            </div>
            <div *ngIf="!diagnosis.original && editDiagnosisIndex !== i" class="flex">
              <button class="button button--icon button--icon--small" (click)="editDiagnosis(i)">
                <i class="ss-write"></i>
              </button>
              <button class="button button--icon button--icon--small">
                <i class="ss-delete"></i>
              </button>
            </div>
            <div *ngIf="editDiagnosisIndex === i" class="flex">
              <button class="button button--icon button--icon--small" (click)="editDiagnosis(-1)">
                <i class="ss-undo"></i>
              </button>
              <button class="button button--icon button--icon--small">
                <i class="ss-floppydisk"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button *ngIf="!createDiagnosis" class="button button--iconText"
  (click)="createDiagnosis=!createDiagnosis">
    <i class="ss-plus"></i> Add Diagnosis
  </button>
  <form *ngIf="createDiagnosis" class="flex">
    <div class="drop">
      <input type="text" class="input input--search" placeholder="Search Diagnoses" [(ngModel)]="newDiagnosis" name="newDiagnosis"/>
    </div>
    <div *ngIf="createDiagnosis" class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="newDiagnosisIsChronic">
        <option [ngValue]="false">Not Chronic</option>
        <option [ngValue]="true">Chronic</option>
      </select>
    </div>
    <div class="flex">
      <button class="button button--icon button--icon--small"
      (click)="createDiagnosis=!createDiagnosis">
        <i class="ss-undo"></i>
      </button>
      <button class="button button--icon button--icon--small"
      (click)="addDiagnosis()">
        <i class="ss-plus"></i>
      </button>
    </div>
  </form>
  <div class="divider"></div>
</div> <!--/ section for diagnoses-->

<!--TODO: Hide BP section if "payer reimburses" is not checked-->
<!--TODO: Disable BP input until care plan is selected-->
<div *ngIf="payerReimburses">
  <label>Billing Practitioner</label>
  <div class="drop">
    <input
      type="text"
      class="input input--search fullWidth marBottom32"
      placeholder="Search Providers"
      [(ngModel)]="billingSearchString"
      (keypress)="selectedBilling = null"
    />
    <ul class="drop__dropdown fullWidth" [ngClass]="{ 'isOpen' : billingSearchString.length >= 3 && !selectedBilling }">
      <li class="drop__option" *ngFor="let employee of searchBillingEmployees">
        <a class="drop__link" (click)="setBillingPractitioner(employee)">
          <div class="picName">
            <img class="picName__img" src="../../../assets/img/profile.svg" />{{employee?.user?.first_name}} {{employee?.user?.last_name}}, {{employee?.title?.abbreviation}}
          </div>
        </a>
      </li>
    </ul>
  </div>
  <label>Care Plan Role (opt)</label>
  <div class="styledSelect">
    <select class="styledSelect__select">
      <option>None</option>
      <option>Care Manager</option>
      <option>Primary Care Provider</option>
      <option>Specialist</option>
    </select>
  </div>
  <div class="divider"></div>
</div> <!--/ section for BP-->

<!--TODO: Hide CM section if BP role is CM-->
<!--TODO: Disable CM input until care plan is selected-->
<div *ngIf="enrollPatientChecked">
  <label>Care Manager</label>
  <div class="drop">
    <input
      type="text"
      class="input input--search fullWidth marBottom32"
      placeholder="Search Providers"
      [(ngModel)]="CMSearchString"
      (keypress)="selectedCM = null"
    />
    <ul class="drop__dropdown fullWidth" [ngClass]="{ 'isOpen' : CMSearchString.length >= 3 && !selectedCM }">
      <li class="drop__option" *ngFor="let employee of searchCMEmployees">
        <a class="drop__link" (click)="setCareManager(employee)">
          <div class="picName">
            <img class="picName__img" src="../../../assets/img/profile.svg" />{{employee?.user?.first_name}} {{employee?.user?.last_name}}, {{employee?.title?.abbreviation}}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="modal__buttons">
  <button class="button button--2nd" (click)="clickClose()">
    Cancel
  </button>
  <button [disabled]="saveDisabled" class="button" (click)="handleSubmit()">
    Save
  </button>
</div>
