<div class="flex alignCenter marBottom32" *ngIf="patient">
  <div class="picName marRight24">
    <img class="picName__img picName__img--big" src="../../../../assets/img/profile.svg" *ngIf="!patient.user.image_url" />
    <img class="picName__img picName__img--big" [src]="patient.user.image_url" *ngIf="patient.user.image_url" />
    <h1 class="noMargin">{{patient.user.first_name}} {{patient.user.last_name}}</h1>
  </div>
  <div class="drop">
    <div class="drop__input drop__input--select" (click)="multi1Open=!multi1Open">
      <h2 class="noMargin">{{currentPlan?.plan_template?.name}} ({{currentPlan?.plan_template?.service_area?.name}})</h2>
    </div>
    <ul class="drop__dropdown drop__dropdown--select"
    [ngClass]="{ 'isOpen' : multi1Open }"
    (click)="multi1Open=!multi1Open">
      <li class="drop__option drop__option--select" *ngFor="let plan of plans">
        <a [routerLink]="['/patient', patientId, 'dashboard', plan?.id]">
          <span class="marRight8">{{plan?.plan_template?.name}}</span> ({{plan?.plan_template?.service_area?.name}})
        </a>
      </li>
    </ul>
  </div>
</div> <!--/.flex (for title area)-->

<div class="info info--horiz">
  <div class="info__cell">
    <label>Care Team</label>
    <div class="flex alignCenter justifyCenter">
      <div class="picName marRight8">
        <img class="picName__img" src="../../../assets/img/profile.svg" />
        {{currentPlan?.careTeam ? currentPlan?.careTeam[0] : ''}}
      </div>
      <div class="tool__anchor">
        <a class="flex alignCenter" (click)="teamListOpen === !teamListOpen">
          <span class="marRight8">+2</span>
          <img src="../../../assets/img/arrow-down.svg" />
        </a>
        <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : teamListOpen }">
          <div class="tool__text">
            <div *ngFor="let practitioner of currentPlan?.careTeam?.slice(1)" class="picName marBottom16">
              <img class="picName__img" src="../../../assets/img/profile--2.svg" />
              {{practitioner}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!--/.info__cell (for care team)-->
  <div class="info__cell">
    <label>Progress</label>
    <div class="progress marCenter">
      Week {{currentPlan?.week}} of {{currentPlan?.plan_template?.duration_weeks}}
      <div class="progress__bg">
        <div class="progress__bar" [ngStyle]="{width: (currentPlan?.week / currentPlan?.totalWeeks) * 100 + '%'}"></div>
      </div>
    </div>
  </div>
  <div class="info__cell">
    <label>Last&nbsp;Contact</label>
    <a [routerLink]="['/patient/asdf/history']" class="justifyCenter">{{currentPlan?.daysSinceContact}} days ago</a>
  </div>
  <div class="info__cell">
    <label>Problems</label>
    <a class="justifyCenter" (click)="openProblemAreas()">{{currentPlan?.problems}}</a>
  </div>
  <div class="info__cell">
    <label class="tool info__tool justifyCenter">
      Time
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="openFinancialDetails()">
          <i class="ss-info"></i>
        </button>
      </div>
    </label>
    <div class="pill pill--lime">
      {{currentPlan?.time}}
    </div>
  </div> <!--/.info__cell (for time)-->
  <div class="info__cell">
    <label>Risk Level</label>
    <div
      class="pill"
      [ngClass]="{
        'pill--red': currentPlan?.riskLevel >= 80,
        'pill--yellow': currentPlan?.riskLevel < 80 && currentPlan?.riskLevel >= 40,
        'pill--lime': currentPlan?.riskLevel < 40
      }"
    >
      {{currentPlan?.riskLevel}}%
    </div>
  </div>
</div> <!--/.info (for care plan instance)-->

