:host {
  width: 100%;
}

.cellTextHeight {
  height: 3rem;
}

.smallLabel {
  font-size: 10px;
}

.checkinText {
  font-size: 18px;
  font-weight: 300;
  color: #45555a;
}

.datepicker__picker {
  position: inherit;
  top: auto;
  left: auto;
}

.drop__input--select {
  max-width: initial;
}
