<div class="flex alignCenter justifySpaceBetween marBottom24" *ngIf="patient">
  <div class="flex alignCenter">
    <div class="picName marRight24">
      <img class="picName__img picName__img--big" [src]="patient.user.image_url" *ngIf="patient?.user.image_url" />
      <h1 class="noMargin">{{patient?.user.first_name}} {{patient?.user.last_name}}</h1>
    </div>
    <div class="drop">
      <div class="drop__input drop__input--select" (click)="planSelectOpen=!planSelectOpen">
        <h3 class="noMargin">{{selectedPlan?.plan_template.name}}<span *ngIf="selectedPlan?.plan_template.service_area">, {{selectedPlan.plan_template.service_area.name}}</span></h3>
      </div>
      <app-popover [visible]="planSelectOpen" (visibleChange)="planSelectOpen = $event;" [options]="planSelectOptions">
        <ul class="drop__dropdown drop__dropdown--select isOpen">
          <li class="drop__option drop__option--select" *ngFor="let plan of carePlans" (click)="changeSelectedPlan(plan)">
            <div class="iconText">
              <span>{{plan.plan_template.name}}</span><span *ngIf="plan.plan_template.service_area">, {{plan.plan_template.service_area.name}}</span>
            </div>
          </li>
        </ul>
      </app-popover>
    </div>
  </div>
  <div class="flex alignCenter" *ngIf="isCareTeamMember">
    <div class="marRight16">
      <label class="smallLabel noMargin">My Next <br>Check-In</label>
    </div>
    <div class="flex alignCenter" *ngIf="!editCheckin">
      <div>
        <span class="checkinText" *ngIf="myCheckinDate && !isBefore3DaysAgo(myCheckinDate)">{{myCheckinDate.format('MMM DD, YYYY')}} at {{myCheckinDate.format('h:mm A')}}</span>
        <span class="checkinText" *ngIf="!myCheckinDate || isBefore3DaysAgo(myCheckinDate)">Not Scheduled</span>
      </div>
      <button class="button button--icon button--icon--small" (click)="clickEditCheckin()">
        <i class="ss-write"></i>
      </button>
    </div>
    <div class="flex alignCenter" *ngIf="editCheckin">
      <div class="marRight8">
        <div class="datepicker">
          <div class="datepicker__date" (click)="showDate=!showDate">
            <span *ngIf="!myCheckinDate">Select Date</span>
            <span *ngIf="myCheckinDate">{{myCheckinDate.format('M/D/YYYY')}}</span>
          </div>
          <app-popover [visible]="showDate" (visibleChange)="showDate = $event;" [options]="datePickerOptions">
            <app-date-picker class="datepicker__picker isOpen" [selected]="myCheckinDate" (selectedChange)="setCheckinDate($event)"></app-date-picker>
          </app-popover>
        </div> <!--/.datepicker-->
      </div>
      <div>
        <app-time-picker [startingValue]="parseTime(myCheckinDate)" (valueChange)="setCheckinTime($event)"></app-time-picker>
      </div>
      <div class="flex alignCenter">
        <button class="button button--icon button--icon--small" (click)="revertCheckin()">
          <i class="ss-undo"></i>
        </button>
        <button class="button button--icon button--icon--small" (click)="saveCheckin()">
          <i class="ss-floppydisk"></i>
        </button>
      </div>
    </div>
  </div>
</div> <!--/.flex (for title area)-->

<div class="flex justifyEnd">
  <button class="button button--icon" *ngIf="!isCollapsed" (click)="toggleCollapsed()">
    <i class="ss-standard ss-navigatedown"></i>
  </button>
  <button class="button button--icon" *ngIf="isCollapsed" (click)="toggleCollapsed()">
    <i class="ss-standard ss-navigateright"></i>
  </button>
</div>
<div class="info info--horiz" *ngIf="!isCollapsed">
  <div class="info__cell">
    <label>Care Team</label>
    <div class="flex alignCenter justifyCenter">
      <div class="picName" *ngIf="careManager" [ngClass]="{'marRight8': careTeamMembers.length > 0}">
        <img class="picName__img" [src]="careManager.employee_profile.user.image_url" />
        {{careManager.employee_profile.user.first_name}} {{careManager.employee_profile.user.last_name}}<span *ngIf="careManager.employee_profile.title">, {{careManager.employee_profile.title.abbreviation}}</span>
      </div>
      <div class="tool__anchor" *ngIf="careTeamMembers.length > 0">
        <a class="flex alignCenter" (click)="teamListOpen=!teamListOpen">
          <span class="marRight8">+{{careTeamMembers.length}}</span>
          <img src="../../../assets/img/arrow-down.svg" />
        </a>
        <app-popover [visible]="teamListOpen" (visibleChange)="teamListOpen = $event;">
          <div class="tool__tip tool__tip--bottom isOpen">
            <div class="tool__text">
              <div class="picName" [ngClass]="{'marBottom16': (i + 1) !== careTeamMembers.length}" *ngFor="let teamMember of careTeamMembers; index as i">
                <img class="picName__img" [src]="teamMember.employee_profile.user.image_url" />
                {{teamMember.employee_profile.user.first_name}} {{teamMember.employee_profile.user.last_name}}<span *ngIf="teamMember.employee_profile.title">, {{teamMember.employee_profile.title.abbreviation}}</span>
              </div>
            </div>
          </div>
        </app-popover>
      </div>
    </div>
  </div> <!--/.info__cell (for care team)-->
  <div class="info__cell">
    <label>Progress</label>
    <div class="progress marCenter" *ngIf="selectedPlan?.plan_template?.duration_weeks >= 0">
      Week {{progressInWeeks(selectedPlan)}} of {{selectedPlan?.plan_template?.duration_weeks}}
      <div class="progress__bg">
        <div class="progress__bar" [ngStyle]="{width: (progressInWeeks(selectedPlan) / selectedPlan?.plan_template.duration_weeks) * 100 + '%'}"></div>
      </div>
    </div>
    <div class="progress marCenter" *ngIf="selectedPlan?.plan_template?.duration_weeks < 0">
      Ongoing
    </div>
  </div>
  <div class="info__cell">
    <label>Next&nbsp;Check-In</label>
    <div class="flex alignCenter justifyCenter">
      <a class="justifyCenter" *ngIf="!nextCheckinTeamMember">Not Scheduled</a>
      <div class="tool__anchor" *ngIf="nextCheckinTeamMember">
        <a class="flex alignCenter" (click)="nextCheckinVisible=!nextCheckinVisible">
          <span>{{moment(nextCheckinTeamMember.next_checkin).fromNow()}}</span>
        </a>
        <app-popover [visible]="nextCheckinVisible" (visibleChange)="nextCheckinVisible = $event;">
          <div class="tool__tip tool__tip--bottom isOpen">
            <div class="tool__text">
              <span>{{nextCheckinTeamMember.employee_profile.user.first_name}} {{nextCheckinTeamMember.employee_profile.user.last_name}}<span *ngIf="nextCheckinTeamMember.employee_profile.title">, {{nextCheckinTeamMember.employee_profile.title.abbreviation}}</span></span><br/>
              <span *ngIf="nextCheckinTeamMember.role">{{nextCheckinTeamMember.role.name}}</span>
              <span *ngIf="nextCheckinTeamMember.is_manager">Care Manager</span>
              <br />
              <span>{{moment(nextCheckinTeamMember.next_checkin).format('MMMM D, YYYY')}}</span>
            </div>
          </div>
        </app-popover>
      </div>
    </div>
  </div>
  <div class="info__cell">
    <label>Last&nbsp;Contact</label>
    <a (click)="routeToPatientHistory()" class="justifyCenter">N/A</a>
  </div>
  <div class="info__cell">
    <label>Problems</label>
    <a class="justifyCenter" (click)="openProblemAreas()">{{problemAreas.length}}</a>
  </div>
  <div class="info__cell">
    <label class="tool info__tool justifyCenter">
      Time
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="openFinancialDetails()">
          <i class="ss-info"></i>
        </button>
      </div>
    </label>
    <div class="pill">
      {{selectedPlanOverview?.time_spent_this_month}}
    </div>
  </div> <!--/.info__cell (for time)-->
  <div class="info__cell">
    <label>Risk Level</label>
    <div class="pill" [ngStyle]="{'background': utils.percentPillColor(patient?.risk_level)}">
      {{utils.getRiskLevelText(patient?.risk_level)}} {{patient?.risk_level}}%
    </div>
  </div>
</div> <!--/.info (for care plan instance)-->
