:host {
  width: 100%;
}

.smallLabel {
  font-size: 11px;
}

.checkinText {
  font-size: 18px;
  font-weight: 300;
  color: #45555a;
}

.datepicker__picker {
  position: inherit;
  top: auto;
  left: auto;
}
