<div class="flex alignCenter marBottom32" *ngIf="patient">
  <div class="picName marRight24">
    <img class="picName__img picName__img--big" src="../../../../assets/img/profile.svg" *ngIf="!patient?.user.image_url" />
    <img class="picName__img picName__img--big" [src]="patient.user.image_url" *ngIf="patient?.user.image_url" />
    <h1 class="noMargin">{{patient?.user.first_name}} {{patient?.user.last_name}}</h1>
  </div>
  <div class="drop">
    <div class="drop__input drop__input--select" (click)="multi1Open=!multi1Open">
      <h2 class="noMargin">{{selectedPlan?.plan_template.name}}<!--<i class="icomoon-cocm"></i>--><span *ngIf="selectedPlan?.plan_template.service_area">, {{selectedPlan.plan_template.service_area.name}}</span></h2>
    </div>
    <ul class="drop__dropdown drop__dropdown--select"
    [ngClass]="{ 'isOpen' : multi1Open }"
    (click)="multi1Open=!multi1Open">
      <li class="drop__option drop__option--select" *ngFor="let plan of carePlans" (click)="changeSelectedPlan(plan)">
        <div class="iconText">
          <span class="marRight8">{{plan.plan_template.name}}</span> <!--<i class="icomoon-cocm iconText__icon iconText__icon--noTop"></i>--><span *ngIf="plan.plan_template.service_area">{{plan.plan_template.service_area.name}}</span>
        </div>
      </li>
    </ul>
  </div>
</div> <!--/.flex (for title area)-->

<div class="info info--horiz">
  <div class="info__cell">
    <label>Care Team</label>
    <div class="flex alignCenter justifyCenter">
      <div class="picName" *ngIf="careManager" [ngClass]="{'marRight8': careTeamMembers.length > 0}">
        <img class="picName__img" [src]="careManager.employee_profile.user.image_url" />
        {{careManager.employee_profile.user.first_name}} {{careManager.employee_profile.user.last_name}}<span *ngIf="careManager.employee_profile.title">, {{careManager.employee_profile.title.abbreviation}}</span>
      </div>
      <div class="tool__anchor" *ngIf="careTeamMembers.length > 0">
        <a class="flex alignCenter" (click)="tooltipP1Open=!tooltipP1Open">
          <span class="marRight8">+{{careTeamMembers.length}}</span>
          <img src="../../../assets/img/arrow-down.svg" />
        </a>
        <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : teamListOpen }">
          <div class="tool__text">
            <div class="picName marBottom16" *ngFor="let teamMember of careTeamMembers">
              <img class="picName__img" [src]="teamMember.employee_profile.user.image_url" />
              {{teamMember.employee_profile.user.first_name}} {{teamMember.employee_profile.user.last_name}}<span *ngIf="teamMember.employee_profile.title">, {{teamMember.employee_profile.title.abbreviation}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!--/.info__cell (for care team)-->
  <div class="info__cell">
    <label>Progress</label>
    <div class="progress marCenter">
      Week {{selectedPlan?.week}} of {{selectedPlan?.plan_template?.duration_weeks}}
      <div class="progress__bg">
        <div class="progress__bar" [ngStyle]="{width: (selectedPlan?.week / selectedPlan?.totalWeeks) * 100 + '%'}"></div>
      </div>
    </div>
  </div>
  <div class="info__cell">
    <label>Next&nbsp;Check-In</label>
    <a href="" class="justifyCenter">2 days</a>
  </div>
  <div class="info__cell">
    <label>Last&nbsp;Contact</label>
    <a [routerLink]="['/patient/asdf/history']" class="justifyCenter">{{selectedPlan?.daysSinceContact}} days ago</a>
  </div>
  <div class="info__cell">
    <label>Problems</label>
    <a class="justifyCenter" (click)="openProblemAreas(patient)">{{problemAreas.length}}</a>
  </div>
  <div class="info__cell">
    <label class="tool info__tool justifyCenter">
      Time
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="openFinancialDetails()">
          <i class="ss-info"></i>
        </button>
      </div>
    </label>
    <div class="pill pill--lime">
      {{selectedPlan?.time}}
    </div>
  </div> <!--/.info__cell (for time)-->
  <div class="info__cell">
    <label>Risk Level</label>
    <div
      class="pill"
      [ngClass]="{
        'pill--red': selectedPlan?.riskLevel >= 80,
        'pill--yellow': selectedPlan?.riskLevel < 80 && selectedPlan?.riskLevel >= 40,
        'pill--lime': selectedPlan?.riskLevel < 40
      }"
    >
      {{selectedPlan?.riskLevel}}%
    </div>
  </div>
</div> <!--/.info (for care plan instance)-->
