<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <app-patient-header [currentPage]="'details'"></app-patient-header>
  </div> <!--/.flex-->

  <div class="flex alignCenter justifySpaceBetween marBottom32">
    <div>
      <label class="styledInput">
        <input type="checkbox" class="styledInput__input" [(ngModel)]="isUsingMobile"/>
        <span class="styledInput__box"></span>
        Using Mobile Application
      </label>
    </div>
    <div>
      <div class="datepicker">
        <button class="button button--icon" (click)="prevDate()">
          <i class="ss-standard ss-navigateleft"></i>
        </button>
        <div class="datepicker__date" (click)="showDate=!showDate">
          <span *ngIf="!selectedDate">Select Date</span>
          <span *ngIf="selectedDate">{{selectedDate.format('ddd, MMM, D')}}</span>
        </div>
        <app-date-picker class="datepicker__picker" [ngClass]="{ 'isOpen' : showDate }" [selected]="selectedDate" (selectedChange)="setSelectedDay($event)"></app-date-picker>
        <button class="button button--icon" (click)="nextDate()">
          <i class="ss-standard ss-navigateright"></i>
        </button>
      </div> <!--/.datepicker-->
    </div>
  </div>

  <div class="accordion" [ngClass]="{ 'isOpen' : goalAccordionOpen }">
    <div class="accordion__head" (click)="goalAccordionOpen=!goalAccordionOpen">
      <span class="accordion__title">Care Plan Goals - {{tableHeaderDate()}} ({{planGoals.length}})</span>
      <div class="accordion__right">
        <span class="marRight8">{{planGoals.length}} Goals</span>
        <div class="pill" [ngStyle]="{'background': getPillColor(goalsPercentage())}">
          {{goalsAverage()}}/5
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <table class="fullWidth">
          <thead>
            <tr>
              <th class="thSortable thSortable--sortDown">
                <span class="thSortable__text thSortable__text--left">Goal</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Outcome</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Last Updated</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Comments</span>
              </th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let goal of planGoals">
              <td class="left">{{goal.name}}</td>
              <td>
                <div class="pill" [ngStyle]="{'background': getPillColor(goalPercentage(goal.progress))}">
                  {{goal.progress}}/5
                </div>
              </td>
              <td>{{moment(goal.lastUpdated).format('MMM D, YYYY')}}</td>
              <td>
                <a class="button button--icon button--center relative"
                  (click)="openGoalComments()">
                  <i class="ss-chats"></i>
                  <div class="badge" *ngIf="goal.comments.length > 0">
                    {{goal.comments.length}}
                  </div>
                </a>
              </td>
              <td>
                <a class="button button--icon--small button--icon button--center relative" (click)="updateGoal()">
                  <i class="ss-write"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button button--iconText"
        (click)="addGoal()">
          <i class="ss-plus"></i> Add Goal
        </button>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for care plan goals)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : userTasksOpen }">
    <div class="accordion__head" (click)="userTasksOpen=!userTasksOpen">
      <span class="accordion__title">My Tasks - {{tableHeaderDate()}} ({{userTasks.length}})</span>
      <div class="accordion__right">
        <span class="marRight8">{{completedUserTasks()}}/{{userTasks.length}} Completed</span>
        <div class="pill" [ngStyle]="{'background': getPillColor(userTasksPercentage())}">
          {{userTasksPercentage()}}%
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <table class="fullWidth">
          <thead>
            <tr>
              <th class="thSortable">
                <span class="thSortable__text thSortable__text--left">Task</span>
              </th>
              <th class="thSortable thSortable--sortDown">
                <span class="thSortable__text">Appear</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Due</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Status</span>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Occur</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD200Open=!tooltipPD200Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD200Open }">
                      <div class="tool__text">
                        This is the number of times the provider has seen this item, out of the total times it will occurr in this care plan.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of userTasks">
              <td class="left">{{task.name}}</td>
              <td>{{format24Hour(task.appear)}}</td>
              <td>{{format24Hour(task.due)}}</td>
              <td>
                <div class="pill pill--status" [ngStyle]="{'background': getPillColorStatus(task.status)}">
                  {{task.status}}
                </div>
              </td>
              <td>{{task.currentOccurance}} of {{task.totalOccurances}}</td>
              <td>
                <button class="button button--center relative completeButton" *ngIf="task.status !== 'done'" (click)="openRecordResults()">
                  Complete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button button--iconText"
        (click)="addCTTask()">
          <i class="ss-plus"></i> Add Ad Hoc Task
        </button>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for my tasks)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : teamTasksOpen }">
    <div class="accordion__head" (click)="teamTasksOpen=!teamTasksOpen">
      <span class="accordion__title">Care Team Tasks - {{tableHeaderDate()}} ({{teamTasks.length}})</span>
      <div class="accordion__right">
        <span class="marRight8">{{completedTeamTasks()}}/{{teamTasks.length}} Completed</span>
        <div class="pill" [ngStyle]="{'background': getPillColor(teamTasksPercentage())}">
          {{teamTasksPercentage()}}%
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <table class="fullWidth">
          <thead>
            <tr>
              <th class="thSortable">
                <span class="thSortable__text thSortable__text--left">Task</span>
              </th>
              <th class="thSortable thSortable--sortDown">
                <span class="thSortable__text">Appear</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Due</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Status</span>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Occur</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD300Open=!tooltipPD300Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD300Open }">
                      <div class="tool__text">
                        This is the number of times the provider has seen this item, out of the total times it will occur in this care plan.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="left">Responsible Person</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of teamTasks">
              <td class="left">{{task.name}}</td>
              <td>{{format24Hour(task.appear)}}</td>
              <td>{{format24Hour(task.due)}}</td>
              <td>
                <div class="pill pill--status" [ngStyle]="{'background': getPillColorStatus(task.status)}">
                  {{task.status}}
                </div>
              </td>
              <td>{{task.currentOccurance}} of {{task.totalOccurances}}</td>
              <td class="left">
                John Phillips, MD (Psychiatric Consultant)
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button button--iconText"
        (click)="addCTTask()">
          <i class="ss-plus"></i> Add Ad Hoc Task
        </button>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for care team tasks)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : patientTasksOpen }">
    <div class="accordion__head" (click)="patientTasksOpen=!patientTasksOpen">
      <span class="accordion__title">Patient Tasks - {{tableHeaderDate()}} ({{patientTasks.length}})</span>
      <div class="accordion__right">
        <span class="marRight8">{{completedPatientTasks()}}/{{patientTasks.length}} Completed</span>
        <div class="pill" [ngStyle]="{'background': getPillColor(patientTasksPercentage())}">
          {{patientTasksPercentage()}}%
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <table class="fullWidth">
          <thead>
            <tr>
              <th class="thSortable">
                <span class="thSortable__text thSortable__text--left">Type</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text thSortable__text--left">Name</span>
              </th>
              <th class="thSortable thSortable--sortDown">
                <span class="thSortable__text">Appear</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Due</span>
              </th>
              <th class="thSortable">
                <span class="thSortable__text">Status</span>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Occur</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD400Open=!tooltipPD400Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD400Open }">
                      <div class="tool__text">
                        This is the number of times the patient has seen this item, out of the total times it will occurr in this care plan.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Avg Eng</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD401Open=!tooltipPD401Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD401Open }">
                      <div class="tool__text">
                        This number shows the patient’s average engagement with this item over the course of the care plan thus far.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Update</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD402Open=!tooltipPD402Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD402Open }">
                      <div class="tool__text">
                        You are able to update the patient's information.  This will override anything the patient has already submitted.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of patientTasks">
              <td class="left">{{task.type | titlecase}}</td>
              <td class="left">{{task.name}}</td>
              <td>{{format24Hour(task.appear)}}</td>
              <td>{{format24Hour(task.due)}}</td>
              <td>
                <div class="pill pill--status" [ngStyle]="{'background': getPillColorStatus(task.status)}">
                  {{task.status}}
                </div>
              </td>
              <td>{{task.currentOccurance}} of {{task.totalOccurances}}</td>
              <td>
                <div class="pill" [ngStyle]="{'background': getPillColor(task.averageEngagement * 100)}">
                  {{floor(task.averageEngagement * 100)}}%
                </div>
              </td>
              <td>
                <a class="button button--icon--small button--icon button--center relative" (click)="editPatientTask()">
                  <i class="ss-write"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for patient tasks)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : assessmentResultsOpen }">
    <div class="accordion__head" (click)="assessmentResultsOpen=!assessmentResultsOpen">
      <span class="accordion__title">Assessment Results - {{tableHeaderDate()}} ({{assessmentResults.length}})</span>
      <div class="accordion__right">
        <span class="marRight8">{{totalOutcomeQuestions()}} Outcome Questions</span>
        <ng-container *ngIf="totalOutcomeQuestions() > 0">
          <div class="pill marRight24" [ngStyle]="{'background': getPillColor(averageOutcomePercentage())}">
            {{averageOutcomeScore()}}/5
          </div>
        </ng-container>
        <ng-container *ngIf="totalOutcomeQuestions() === 0">
          <div class="pill marRight24">
            N/A
          </div>
        </ng-container>
          <span class="marRight8">{{totalSatisfactionQuestions()}} Satisfaction Question</span>
        <ng-container *ngIf="totalSatisfactionQuestions() > 0">
          <div class="pill" [ngStyle]="{'background': getPillColor(averageSatisfactionPercentage())}">
            {{averageSatisfactionScore()}}/5
          </div>
        </ng-container>
        <ng-container *ngIf="totalSatisfactionQuestions() === 0">
          <div class="pill">
            N/A
          </div>
        </ng-container>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <ng-container *ngFor="let assessment of assessmentResults">
          <div class="flex alignCenter">
            <h3 class="noMargin marRight24">{{assessment.name}}</h3>
            <h4 class="noMargin" *ngIf="assessment.tracksOutcome">Tracks Outcome</h4>
            <div class="tool__anchor" *ngIf="assessment.tracksOutcome">
            	<button class="button button--icon button--icon--small" (click)="tooltipPD500Open=!tooltipPD500Open">
            		<i class="ss-help"></i>
            	</button>
            	<div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD500Open }">
            		<div class="tool__text">
            			Assessments that track outcome are included when calculating the patient’s outcomes.
            		</div>
            	</div>
            </div>
            <h4 class="noMargin" *ngIf="assessment.tracksSatisfaction">Tracks Satisfaction</h4>
            <div class="tool__anchor" *ngIf="assessment.tracksSatisfaction">
              <button class="button button--icon button--icon--small"
              (click)="tooltipPD505Open=!tooltipPD505Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD505Open }">
                <div class="tool__text">
                  Assessments that track satisfaction are included when calculating the patient’s satisfaction score.
                </div>
              </div>
            </div>
          </div>
          <table class="fullWidth marBottom48">
            <thead>
              <tr>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Question</span>
                </th>
                <th class="thSortable thSortable--sortDown">
                  <span class="thSortable__text">Outcome</span>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Occur</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small"
                      (click)="tooltipPD501Open=!tooltipPD501Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD501Open }">
                        <div class="tool__text">
                          This is the number of times the patient has seen this item, out of the total times it will occurr in this care plan.
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Vs Prev</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small"
                      (click)="tooltipPD502Open=!tooltipPD502Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD502Open }">
                        <div class="tool__text">
                          This column shows how these results compare to the patient’s previous response to these questions.
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Vs Next</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small"
                      (click)="tooltipPD503Open=!tooltipPD503Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD503Open }">
                        <div class="tool__text">
                          This column shows how these results compare to the patient’s next response to these questions.
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Vs Care Plan</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small"
                      (click)="tooltipPD504Open=!tooltipPD504Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD504Open }">
                        <div class="tool__text">
                          This column shows how these results compare to the patient's average responses to these questions over the course of the care plan.
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Update</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small"
                      (click)="tooltipPD402Open=!tooltipPD402Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD402Open }">
                        <div class="tool__text">
                          You are able to update the patient's information.  This will override anything the patient has already submitted.
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let question of assessment.questions">
                <td class="left">{{question.text}}</td>
                <td>
                  <div class="pill" [ngStyle]="{'background': getPillColor(outcomePercentage(question.outcome))}">
                    {{question.outcome}}/5
                  </div>
                </td>
                <td>{{question.currentOccurance}} of {{question.totalOccurances}}</td>
                <td>
                  <div class="iconText">
                    <i class="iconText__icon iconText__icon--noTop ss-standard ss-up iconSmall iconLime"></i> {{question.vsPrev}}
                  </div>
                </td>
                <td>
                  {{question.vsNext}}
                </td>
                <td>
                  <div class="iconText">
                    <i class="iconText__icon iconText__icon--noTop ss-standard ss-hyphen iconSmall"></i> {{question.vsPlan}}
                  </div>
                </td>
                <td>
                  <a class="button button--icon--small button--icon button--center relative" (click)="editPatientTask()">
                    <i class="ss-write"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for assessments)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : symptomResultsOpen }">
    <div class="accordion__head" (click)="symptomResultsOpen=!symptomResultsOpen">
      <span class="accordion__title">Symptoms - {{tableHeaderDate()}} ({{symptomResults.length}})</span>
      <div class="accordion__right">
        <span class="marRight8">{{symptomResults.length}} Symptoms</span>
        <div class="pill" [ngStyle]="{'background': getPillColor(averageSymptomPercent())}">
          {{averageSymptomRating()}}/5
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <table class="fullWidth">
          <thead>
            <tr>
              <th class="thSortable">
                <span class="thSortable__text thSortable__text--left">Symptom</span>
              </th>
              <th class="thSortable thSortable--sortDown">
                <span class="thSortable__text">Rating</span>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Reported</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD600Open=!tooltipPD600Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD600Open }">
                      <div class="tool__text">
                        This is the number of times the patient has reported this symptom, out of the total times possible.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Vs Prev</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD601Open=!tooltipPD601Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD601Open }">
                      <div class="tool__text">
                        This column shows how these results compare to the patient’s previous report of these symptoms.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Vs Next</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD602Open=!tooltipPD602Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD602Open }">
                      <div class="tool__text">
                        This column shows how these results compare to the patient’s next report of these symptoms.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Vs Care Plan</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD603Open=!tooltipPD603Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD603Open }">
                      <div class="tool__text">
                        This column shows how these results compare to the patient's average report of these symptoms over the course of the care plan.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th class="thSortable">
                <div class="tool justifyCenter">
                  <span class="thSortable__text">Update</span>
                  <div class="tool__anchor">
                    <button class="button button--icon button--icon--small"
                    (click)="tooltipPD402Open=!tooltipPD402Open">
                      <i class="ss-help"></i>
                    </button>
                    <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD402Open }">
                      <div class="tool__text">
                        You are able to update the patient's information.  This will override anything the patient has already submitted.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let symptom of symptomResults">
              <td class="left">{{symptom.name}}</td>
              <td>
                <div class="pill" [ngStyle]="{'background': getPillColor(ratingPercentage(symptom.rating))}">
                  {{symptom.rating}}/5
                </div>
              </td>
              <td>{{symptom.currentOccurance}} of {{symptom.totalOccurances}}</td>
              <td>
                <div class="iconText">
                  <i class="iconText__icon iconText__icon--noTop ss-standard ss-hyphen iconSmall"></i> {{symptom.vsPrev}}
                </div>
              </td>
              <td>
                {{symptom.vsNext}}
              </td>
              <td>
                <div class="iconText">
                  <i class="iconText__icon iconText__icon--noTop ss-standard ss-hyphen iconSmall"></i> {{symptom.vsPlan}}
                </div>
              </td>
              <td>
                <a class="button button--icon--small button--icon button--center relative" (click)="editPatientTask()">
                  <i class="ss-write"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <label>Comment</label>
        <p>
          "I think this new medication makes my head hurt more."
        </p>
        <a [routerLink]="['/patient/asdf/messaging']" class="button button--iconText">
          <i class="ss-chat"></i> Reply
        </a>

      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for symptoms)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : vitalsResultsOpen }">
    <div class="accordion__head" (click)="vitalsResultsOpen=!vitalsResultsOpen">
      <span class="accordion__title">Vitals - {{tableHeaderDate()}} ({{vitalResults.length}})</span>
      <div class="accordion__right">
        <span class="marRight24">{{vitalResults.length}} Updates</span>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <ng-container *ngFor="let vital of vitalResults">
          <h3 class="noMargin">{{vital.name}}</h3>
          <table class="fullWidth">
          	<thead>
          		<tr>
          			<th class="thSortable">
          				<span class="thSortable__text thSortable__text--left">Questions</span>
          			</th>
          			<th class="thSortable thSortable--sortDown">
          				<span class="thSortable__text">Result</span>
          			</th>
          			<th class="thSortable">
          				<div class="tool justifyCenter">
          					<span class="thSortable__text">Reported</span>
          					<div class="tool__anchor">
          						<button class="button button--icon button--icon--small" (click)="tooltipPD700Open=!tooltipPD700Open">
          							<i class="ss-help"></i>
          						</button>
          						<div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD700Open }">
          							<div class="tool__text">
          								This is the number of times the patient has reported these metrics, out of the total times possible.
          							</div>
          						</div>
          					</div>
          				</div>
          			</th>
          			<th class="thSortable">
          				<div class="tool justifyCenter">
          					<span class="thSortable__text">Vs Prev</span>
          					<div class="tool__anchor">
          						<button class="button button--icon button--icon--small" (click)="tooltipPD701Open=!tooltipPD701Open">
          							<i class="ss-help"></i>
          						</button>
          						<div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD701Open }">
          							<div class="tool__text">
          								This column shows how these results compare to the patient’s previous report of these metrics.
          							</div>
          						</div>
          					</div>
          				</div>
          			</th>
          			<th class="thSortable">
          				<div class="tool justifyCenter">
          					<span class="thSortable__text">Vs Next</span>
          					<div class="tool__anchor">
          						<button class="button button--icon button--icon--small" (click)="tooltipPD702Open=!tooltipPD702Open">
          							<i class="ss-help"></i>
          						</button>
          						<div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPD702Open }">
          							<div class="tool__text">
          								This column shows how these results compare to the patient’s next report of these metrics.
          							</div>
          						</div>
          					</div>
          				</div>
          			</th>
          			<th class="thSortable">
          				<div class="tool justifyCenter">
          					<span class="thSortable__text">Vs Care Plan</span>
          					<div class="tool__anchor">
          						<button class="button button--icon button--icon--small" (click)="tooltipPD703Open=!tooltipPD703Open">
          							<i class="ss-help"></i>
          						</button>
          						<div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD703Open }">
          							<div class="tool__text">
          								This column shows how these results compare to the patient's average report of these metrics over the course of the care plan.
          							</div>
          						</div>
          					</div>
          				</div>
          			</th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Update</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small"
                      (click)="tooltipPD402Open=!tooltipPD402Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD402Open }">
                        <div class="tool__text">
                          You are able to update the patient's information.  This will override anything the patient has already submitted.
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
          		</tr>
          	</thead>
          	<tbody>
          		<tr *ngFor="let question of vital.questions">
          			<td class="left">{{question.text}}</td>
          			<td>{{question.results}}</td>
          			<td>{{question.currentOccurance}} of {{question.totalOccurances}}</td>
          			<td>
          				<div class="iconText">
          					<i class="iconText__icon iconText__icon--noTop ss-standard ss-up iconSmall"></i> {{question.vsPrev}}
          				</div>
          			</td>
          			<td>
          				{{question.vsNext}}
          			</td>
          			<td>
          				<div class="iconText">
          					<i class="iconText__icon iconText__icon--noTop ss-standard ss-hyphen iconSmall"></i> {{question.vsPlan}}
          				</div>
          			</td>
                <td>
                  <a class="button button--icon--small button--icon button--center relative" (click)="editPatientTask()">
                    <i class="ss-write"></i>
                  </a>
                </td>
          		</tr>
          	</tbody>
          </table>
        </ng-container>
        <label>Comment</label>
        <p>
          "My blood pressure seems to be stabilizing."
        </p>
        <a [routerLink]="['/patient/asdf/messaging']" class="button button--iconText">
          <i class="ss-chat"></i> Reply
        </a>

      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for vitals)-->

  <div class="accordion" [ngClass]="{ 'isOpen' : messagesOpen }">
    <div class="accordion__head" (click)="messagesOpen=!messagesOpen">
      <span class="accordion__title">Messages - {{tableHeaderDate()}} (1)</span>
      <div class="accordion__right">
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->

    <!-- Patient Care Messages -->
    <div class="accordion__body">
      <div class="accordion__contents">
        <ng-container *ngFor="let messageQueue of messageQueues; let i = index">
          <ng-container *ngFor="let message of messageQueue.messages; let j = index">
            <table class="fullWidth">
              <thead>
                <tr>
                  <th class="left">Care Message</th>
                  <th class="center">Viewed</th>
                  <th class="left">Type</th>
                  <th>
                    <div class="tool left">
                      <span>Helpful</span>
                      <div class="tool__anchor">
                        <button class="button button--icon button--icon--small"
                        (click)="tooltipPD800Open=!tooltipPD800Open">
                          <i class="ss-help"></i>
                        </button>
                        <div class="tool__tip tool__tip--bottom tool__tip--right" [ngClass]="{ 'isOpen' : tooltipPD800Open }">
                          <div class="tool__text">
                            Patients can mark messages as helpful or not. They may also dismiss the message without a response.
                          </div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <th class="left">Type</th>
                  <th class="center">Number of Messages</th>
                  <th class="left">Update</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="left">
                    {{messageQueue.name}}
                  </td>
                  <td class="center">
                    <div class="pill pill--lime">yes</div>
                  </td>
                  <td class="left">Text Message</td>
                  <td class="left">
                    <i class="ss-standard ss-like iconLime"></i>
                  </td>
                  <td class="left">Education</td>
                  <td class="center">{{j + 1}} of {{messageQueue.messages.length}}</td>
                  <td class="center">
                    <button class="button button--iconText"
                      (click)="openRecordResults()">
                      <i class="ss-write"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <label>Message Sent</label>
            <p>
              {{message.text}}
            </p>
            <div *ngIf="i !== messageQueues.length - 1 || j !== messageQueue.messages.length - 1" class="divider"></div>
          </ng-container>
        </ng-container>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion (for messages)-->

</div> <!--/.ssContainer-->
