<h1 class="modal__title">Delete Medication?</h1>
<!--TODO: Show the following if deleting a medication tied to a medication task-->
<div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
  <i class="iconText__icon ss-alert"></i>
  <span class="error__text">
    This medication is linked to a medication task. Deleting it may affect this patient's care&nbsp;plan.
  </span>
</div>
Are you sure you want to delete this medication?
<div class="modal__buttons modal__buttons--full">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" (click)="clickSave()">
    Continue
  </button>
</div>
