html {
    /*static background-image is set inline in landing.html*/
    background: transparent no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    font-family: 'Chivo', sans-serif;
}
.jumbotron {
    opacity: 0.6;
}
.jumbotron .container {
    max-width: 40%;
    min-width: 500px;
}
