<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <app-patient-header [currentPage]="'team'"></app-patient-header>
  </div> <!--/.flex-->
  <h2>Billing Practitioner</h2>
  <div class="ssSpinner pad24" *ngIf="!bpLoaded"></div>
  <ng-container *ngIf="bpLoaded">
    <div class="flex alignCenter marBottom48" *ngIf="billingPractitioner">
      <div class="picName">
        <img class=picName__img [src]="billingPractitioner.user.image_url" />
        {{billingPractitioner.user.first_name}} {{billingPractitioner.user.last_name}}<span *ngIf="billingPractitioner.title">, {{billingPractitioner.title.abbreviation}}</span>
      </div>
      <button class="button button--icon button--icon--small" (click)="changeBP()">
        <i class="ss-write"></i>
      </button>
    </div>
    <div class="flex alignCenter marBottom48" *ngIf="!billingPractitioner">
      <button class="button button--iconText marRight32" (click)="changeBP()">
        <i class="ss-plus"></i> Add Billing Practitioner
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="availableRoles.length > 0">
    <h2>Unassigned Care Plan Roles</h2>
    <div class="flex marBottom48">
      <button class="button button--iconText marRight32" *ngFor="let availableRole of availableRoles" (click)="addCTMember(availableRole)">
        <i class="ss-plus"></i> Add {{availableRole.name}}
      </button>
    </div>
  </ng-container>

  <h2>Care Manager</h2>
  <div class="ssSpinner pad24" *ngIf="!careTeamLoaded"></div>
  <ng-container *ngIf="careTeamLoaded">
    <div class="info info--team marBottom48" *ngIf="careManager">
      <div class="info__pill pill">
        {{careManager.time_spent_this_month}}
      </div>
      <button class="info__edit button button--icon button--icon--small" (click)="changeCM(careManager)">
        <i class="ss-write"></i>
      </button>
      <img class="info__pic" [src]="careManager.employee_profile.user.image_url" />
      <h3 class="center">{{careManager.employee_profile.user.first_name}} {{careManager.employee_profile.user.last_name}}<span *ngIf="careManager.employee_profile.title">, {{careManager.employee_profile.title.abbreviation}}</span></h3>
      <div class="divider divider--dk divider--smallMargin"></div>
      <h5 class="center">Care Manager</h5>
      <p class="info__subhead">Last patient view: Today</p>
      <label>Specialty</label>
      <p class="marBottom32">{{careManager.employee_profile.specialty ? careManager.employee_profile.specialty.name : 'None'}}</p>
      <label>Org/Location</label>
      <p class="marBottom32">Ogden Clinic: Mountain View</p>
      <div class="info__contact">
        <div class="info__contactInner tool__anchor" *ngIf="careManager.employee_profile.user.phone">
          <button class="button button--icon" (click)="phoneTooltipOpen[careManager.id] =! phoneTooltipOpen[careManager.id]">
            <i class="ss-standard ss-phone"></i>
          </button>
          <app-popover [visible]="phoneTooltipOpen[careManager.id]" (visibleChange)="phoneTooltipOpen[careManager.id] = $event;">
            <div class="tool__tip tool__tip--left isOpen">
              <a href="tel:{{careManager.employee_profile.user.phone}}">{{careManager.employee_profile.user.phone}}</a>
            </div>
          </app-popover>
        </div>
        <div class="info__contactInner tool__anchor">
          <button class="button button--icon" (click)="emailTooltipOpen[careManager.id]=!emailTooltipOpen[careManager.id]">
            <i class="ss-standard ss-mail"></i>
          </button>
          <app-popover [visible]="emailTooltipOpen[careManager.id]" (visibleChange)="emailTooltipOpen[careManager.id] = $event;">
            <div class="tool__tip tool__tip--right isOpen">
              <a href="mailto:{{careManager.employee_profile.user.email}}">{{careManager.employee_profile.user.email}}</a>
            </div>
          </app-popover>
        </div>
      </div> <!--/.info__contact-->
    </div> <!--/.info--team (for care manager)-->
    <div *ngIf="!careManager">
      <div class="marBottom48">
        <button class="button button--iconText marRight32" (click)="addCareManager(null)">
          <i class="ss-plus"></i> Add Care Manager
        </button>
      </div>
    </div>
  </ng-container>

  <h2>Care Team</h2>
  <div class="ssSpinner pad24" *ngIf="!careTeamLoaded"></div>
  <ng-container *ngIf="careTeamLoaded">
    <div class="flex wrap">
      <div class="info info--team" *ngFor="let teamMember of careTeamMembers">
        <div class="info__pill pill">
          {{teamMember.time_spent_this_month}}
        </div>
        <button class="info__edit button button--icon button--icon--small" (click)="removeCTMember(teamMember)">
          <i class="ss-delete"></i>
        </button>
        <img class="info__pic" [src]="teamMember.employee_profile.user.image_url" />
        <h3 class="center">{{teamMember.employee_profile.user.first_name}} {{teamMember.employee_profile.user.last_name}}<span *ngIf="teamMember.employee_profile.title">, {{teamMember.employee_profile.title.abbreviation}}</span></h3>
        <div class="divider divider--dk divider--smallMargin"></div>
        <h5 class="center"><span *ngIf="teamMember.role">{{teamMember.role.name}}</span></h5>
        <p class="info__subhead">Last patient view: 20 days ago</p>
        <label>Specialty</label>
        <p class="marBottom32">{{teamMember.employee_profile.specialty ? teamMember.employee_profile.specialty.name : 'None'}}</p>
        <label>Org/Location</label>
        <p class="marBottom32">Ogden Clinic: Mountain View</p>
        <div class="info__contact">
          <div class="info__contactInner tool__anchor" *ngIf="teamMember.employee_profile.user.phone">
            <button class="button button--icon" (click)="phoneTooltipOpen[teamMember.id]=!phoneTooltipOpen[teamMember.id]">
              <i class="ss-standard ss-phone"></i>
            </button>
            <app-popover [visible]="phoneTooltipOpen[teamMember.id]" (visibleChange)="phoneTooltipOpen[teamMember.id] = $event;">
              <div class="tool__tip tool__tip--left isOpen">
                <a href="tel:{{teamMember.employee_profile.user.phone}}">{{teamMember.employee_profile.user.phone}}</a>
              </div>
            </app-popover>
          </div>
          <div class="info__contactInner tool__anchor">
            <button class="button button--icon" (click)="emailTooltipOpen[teamMember.id]=!emailTooltipOpen[teamMember.id]">
              <i class="ss-standard ss-mail"></i>
            </button>
            <app-popover [visible]="emailTooltipOpen[teamMember.id]" (visibleChange)="emailTooltipOpen[teamMember.id] = $event;">
              <div class="tool__tip tool__tip--right isOpen">
                <a href="mailto:{{teamMember.employee_profile.user.email}}">{{teamMember.employee_profile.user.email}}</a>
              </div>
            </app-popover>
          </div>
        </div> <!--/.info__contact-->
      </div> <!--/.info--team-->
    </div> <!--/.flex wrap-->
  </ng-container>
</div> <!--/.ssContainer-->
