<!--TODO: Use this modal for adding care team tasks, and patient tasks-->
<h1 class="modal__title">{{getTaskType().title}}</h1>
<!-- TODO: If adding a task to a care plan template, show the following -->
<div class="iconText iconText--wrap iconText--autoHeight error marBottom32" *ngIf="!isAdhoc">
	<i class="iconText__icon ss-alert"></i>
	<span class="error__text">
		Making changes here will affect {{totalPatients}} patients currently assigned to this care plan.
	</span>
</div>
<!--TODO: If adding a task to a care plan instance, show the following-->
<h5 *ngIf="isAdhoc">NOTE: You are adding a task to one patient's care plan. To add a task for everyone, go to care plans.</h5>
<input type="text" class="input input--search fullWidth marBottom32" placeholder="Search Tasks" [(ngModel)]="searchInput" (ngModelChange)="filterTasks()" />
<div class="listBox">
	<ul class="nameList">
		<li class="nameList__item nameList__item--padLeft nameList__item--target" [ngClass]="{'nameList__item--target--active': task.id == selectedTask?.id}" *ngFor="let task of tasksShown" (click)="selectTask(task)">
			<div *ngIf="!task.edit && !task.delete" class="flex alignCenter justifySpaceBetween fullWidth">
				<span>{{task.name}} <span class="badge badge--chat">{{uniqByNameCount(task)}}</span></span>
				<div class="flex">
					<button class="button button--icon button--icon--small" (click)="clickEditTask(task, $event)">
						<i class="ss-write"></i>
					</button>
					<button class="button button--icon button--icon--small" (click)="clickDeleteTask(task, $event)">
						<i class="ss-delete"></i>
					</button>
				</div>
			</div>
			<form *ngIf="task.edit" class="nameList__form">
				<div class="nameList__inputWrap">
					<input type="text" class="input fullWidth" [(ngModel)]="task.name" [ngModelOptions]="{standalone: true}" />
				</div>
				<div class="flex">
					<button class="button button--icon button--icon--small" type="button" (click)="clickUndoName(task, $event)">
						<i class="ss-undo"></i>
					</button>
					<button class="button button--icon button--icon--small" type="submit" (click)="updateTaskName(task, $event)">
						<i class="ss-floppydisk"></i>
					</button>
				</div>
			</form>
			<form *ngIf="task.delete" class="nameList__form">
				<div class="fullWidth flex justifySpaceBetween alignCenter">
					<div class="flex alignCenter">
						<p class="noMargin marRight8">Are you sure you want to remove this task from all care plans?</p>
					</div>
					<div class="flex justifyEnd alignCenter">
						<button class="button button--icon button--icon--small" type="button" (click)="confirmDeleteTask(task, $event)">
							<i class="ss-check ss-standard"></i>
						</button>
						<button class="button button--icon button--icon--small" type="button" (click)="clickUndoDelete(task, $event)">
							<i class="ss-ban ss-standard"></i>
						</button>
					</div>
				</div>
			</form>
		</li>
	</ul>
</div>
<!--/.listBox-->
<button *ngIf="!createTask" class="button button--iconText" (click)="createTask=!createTask">
	<i class="ss-plus"></i> Create New Task
</button>
<form *ngIf="createTask" class="nameList__form">
	<div class="nameList__inputWrap">
		<input type="text" class="input fullWidth" [(ngModel)]="newTaskName" [ngModelOptions]="{standalone: true}" />
	</div>
	<div class="flex">
		<button class="button button--icon button--icon--small" type="button" (click)="createTask=!createTask;">
			<i class="ss-undo"></i>
		</button>
		<button class="button button--icon button--icon--small" (click)="addTask(newTaskName)">
			<i class="ss-plus"></i>
		</button>
	</div>
</form>
<div class="modal__buttons">
	<button class="button button--2nd" (click)="close()">
		Cancel
	</button>
	<button class="button" [disabled]="!selectedTask" (click)="next(selectedTask)">
		Next
	</button>
</div>
