<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <div class="flexHeader fullWidth">
      <div class="fullWidth flex">
        <h1 class="noMargin">Invited Patients ({{totalInvited}})</h1>
        <div class="tool__anchor">
          <button class="button button--icon button--icon--small"
          (click)="toolIP1Open=!toolIP1Open">
            <i class="ss-help"></i>
          </button>
          <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : toolIP1Open }">
            <div class="tool__text">
              Invited patients have recieved an invitation, but have not yet created their account.
            </div>
          </div>
        </div>
      </div>
      <div class="fullWidth"></div>
      <div class="flex fullWidth">
        <div [ngStyle]="{width: '100px', padding: '5px'}"><label>Filter By User</label></div>
        <div class="drop">
          <div class="drop__input" (click)="multi4Open = !multi4Open">
            All
          </div>
          <app-popover [visible]="multi4Open" (visibleChange)="multi4Open = $event">
            <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi4Open }">
              <div class="drop__buttons">
                <button class="button button--iconText" (click)="toggleAllUsers(true)">
                  <i class="ss-check ss-standard"></i> Check All
                </button>
                <button class="button button--iconText" (click)="toggleAllUsers(false)">
                  <i class="ss-ban"></i> Uncheck All
                </button>
              </div>

              <li class="drop__option">
                <input class="input input--search drop__innerInput" type="text" placeholder="Search" [(ngModel)]="userSearch" />
              </li>

              <ng-container *ngFor="let employee of employees">
                <li class="drop__option" *ngIf="userSearchMatch(employee)">
                  <label
                    class="drop__checkbox styledInput"
                    title="Behavioral Health Initiative"
                  >
                    <input type="checkbox" class="styledInput__input" [(ngModel)]="employeeChecked[employee.id]" />
                    <span class="styledInput__box"></span>
                    {{employee?.user?.first_name}} {{employee?.user?.last_name}}
                  </label>
                </li>
              </ng-container>
            </ul>
          </app-popover>
        </div>
      </div>
      <button class="button button--iconText"
      (click)="addPatientToPlan()">
        <i class="ss-plus"></i> Add Patient
      </button>
    </div>
  </div> <!--/.flex (for title and tooltip)-->

  <div class="flex marBottom48">

    <div class="marRight32">
      <label>Service Area</label>
      <div class="drop">
          <div class="drop__input" (click)="multi2Open = !multi2Open">
            All
          </div>
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi2Open }">
            <div class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllServiceAreas(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllServiceAreas(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div>

            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>

            <li class="drop__option" *ngFor="let serviceArea of allServiceAreas">
              <label class="drop__checkbox styledInput"
              title="Behavioral Health Initiative">
                <input type="checkbox" class="styledInput__input" [(ngModel)]="activeServiceAreas[serviceArea]" />
                <span class="styledInput__box"></span>
                {{serviceArea}}
              </label>
            </li>
          </ul>
        </div>
    </div> <!--/ container for care plan type filter-->

    <div>
      <label>Care Plan</label>
      <div class="drop">
          <div class="drop__input" (click)="multi3Open = !multi3Open">
            All
          </div>
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi3Open }">
            <div class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllCarePlans(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllCarePlans(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div>

            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>

            <li class="drop__option" *ngFor="let carePlan of allCarePlans">
              <label
                class="drop__checkbox styledInput"
                title="Behavioral Health Initiative"
              >
                <input type="checkbox" class="styledInput__input" [(ngModel)]="activeCarePlans[carePlan]" />
                <span class="styledInput__box"></span>
                {{carePlan}}
              </label>
            </li>
          </ul>
        </div>
    </div> <!--/ container for care plan name filter-->
  </div> <!--/.flex (for filters)-->

  <ng-container *ngFor="let facility of facilities">
    <div class="accordion" [ngClass]="{ 'isOpen' : facilityAccordOpen[facility.id] }">
      <div class="accordion__head" (click)="facilityAccordOpen[facility.id] = !facilityAccordOpen[facility.id]">
        <span class="accordion__title">{{facility?.name}} ({{facility?.invitedPatients?.length || 0}})</span>
        <div class="accordion__right">
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div> <!--/.accordion__head-->
      <div class="accordion__body">
        <div class="accordion__contents">
          <div class="tableWrap fullWidth">
            <table class="fullWidth">
              <thead>
                <tr>
                  <th class="thSortable">
                    <span class="thSortable__text thSortable__text--left">Patient</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text thSortable__text--left">Care Plan</span>
                  </th>
                  <th class="thSortable">
                    <div class="tool justifyCenter">
                      <span class="thSortable__text">Also</span>
                      <div class="tool__anchor">
                        <button class="button button--icon button--icon--small" (click)="tooltip2Open=!tooltip2Open">
                          <i class="ss-help"></i>
                        </button>
                        <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltip2Open }">
                          <div class="tool__text">This is the number of additional care plans a patient has. Click the number for details.</div>
                        </div>
                      </div>
                    </div>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text thSortable__text--left">Emails Sent</span>
                  </th>
                  <th class="thSortable thSortable--sortDown">
                    <span class="thSortable__text thSortable__text--left">Enrolled</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text thSortable__text--left">Phone</span>
                  </th>
                  <th class="noPad"></th>
                  <th class="noPad"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let patient of facility?.invitedPatients; let i = index">
                  <ng-container *ngFor="let plan of patient.carePlans; let j = index">
                    <ng-container *ngIf="hasCheckedCareTeamMember(plan)">
                      <tr>
                        <td class="left">{{patient.full_name}}</td>
                        <td>
                          <div class="iconText">
                            {{plan.plan_template.name}}
                          </div>
                        </td>
                        <td>
                          <a
                            class="tool__anchor justifyCenter"
                            (click)="openAlsoTip[''+i+j] = !openAlsoTip[''+i+j]"
                            *ngIf="getAlsoPlans(j, patient).length"
                          >
                            {{getAlsoPlans(j, patient).length}}
                            <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : openAlsoTip[''+i+j] }">
                              <div class="iconText iconText--white iconText--autoHeight marBottom8" *ngFor="let planName of getAlsoPlans(j, patient)">
                                {{planName}}
                              </div>
                            </div>
                          </a>
                        </td>
                        <td>{{patient.emails_sent}}</td>
                        <td class="left">0 days ago</td>
                        <td class="left">{{patient.phone}}</td>
                        <td class="noPad">
                          <button class="button button--center button--icon"
                          (click)="reminderEmail(patient)">
                            <i class="ss-standard ss-mail"></i>
                          </button>
                        </td>
                        <td class="noPad">
                          <button class="button button--center button--icon button--icon--small"
                          (click)="confirmRemovePatient(facility, patient, plan)">
                            <i class="ss-delete"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div> <!--/.tableWrap-->
        </div> <!--/.accordion__contents-->
      </div> <!--/.accordion__body-->
    </div> <!--/.accordion-->
  </ng-container>
</div> <!--/.ssContainer-->
