<div class="nav sticky" *ngIf="nav.visible">
  <div class="ssContainer">
    <div class="nav__top">

      <div class="nav__left">
        <a [routerLink]="['/dashboard']"><img src="../../../assets/img/CareAdoptlogo-White.png" width="154" alt="CareAdopt"></a>
      </div> <!--/.nav__left-->

      <div class="nav__right">
        <div class="drop">
          <div id="patientSearchContainer">
            <input class="input input--nav"
                   [ngClass]="{ 'typing': searchString.length > 0 }"
                   [(ngModel)]="searchString"
                   type="text"
                   (keyup)="searchChange($event.target.value)"
                   placeholder="Search Patients" />
            <button class="button button--icon button--icon--nav searchClear"
                    (click)="searchString = ''"
                    *ngIf="searchString.length > 0">
              <i class="ss-delete"></i>
            </button>
          </div>
          <app-popover [visible]="searchOpen" (visibleChange)="searchOpen = $event;">
            <ul class="drop__dropdown isOpen">
              <ng-container *ngFor="let patient of searchResults">
                <li class="drop__option">
                  <a class="drop__link" (click)="routeToPatient(patient.id)">
                    <div class="picName">
                      <img class="picName__img" [src]="patient?.user?.image_url ? patient.user.image_url : '../../../assets/img/profile.svg'" />{{patient.user.first_name}} {{patient.user.last_name}}
                    </div>
                  </a>
                </li>
              </ng-container>
            </ul>
          </app-popover>
        </div> <!--/.drop (for search)-->

        <div class="drop">
          <div class="badge" *ngIf="taskCount > 0">{{taskCount}}</div>
          <button class="button button--icon button--icon--nav" (click)="taskDropOpen = !taskDropOpen">
            <i class="ss-standard ss-list"></i>
          </button>
          <app-popover [visible]="taskDropOpen" (visibleChange)="taskDropOpen = $event;" [options]="taskDropOptions">
            <ul class="drop__dropdown isOpen">
              <li class="drop__label">My Check-Ins Today</li>
              <li class="drop__option" *ngFor="let checkIn of taskData?.checkIns">
                <a class="drop__link">
                  <div class="picName">
                    <img class="picName__img" src="../../../assets/img/profile.svg" />{{checkIn.patientName}} ({{checkIn.time}})
                  </div>
                </a>
              </li>
              <li class="drop__label">My Tasks Due Today</li>
              <li class="drop__option" *ngFor="let task of taskData?.tasks">
                <a class="drop__link">
                  <div class="picName">
                    <img class="picName__img" src="../../../assets/img/profile.svg" />{{task.patientName}}
                  </div>
                </a>
              </li>
            </ul>
          </app-popover>
        </div> <!--/.drop (for tasks list)-->

        <div class="drop">
          <div *ngIf="notificationsCount > 0" class="badge">{{notificationsCount}}</div>
          <button class="button button--icon button--icon--nav" (click)="notificationsDropOpen = !notificationsDropOpen">
            <i class="ss-notifications"></i>
          </button>
          <app-popover [visible]="notificationsDropOpen" (visibleChange)="notificationsDropOpen = $event;" [options]="notificationsDropOptions">
            <ul class="drop__dropdown drop__dropdown--notifications isOpen">
              <ng-container *ngFor="let category of notifications">
                <li class="drop__label">{{category.category}}</li>
                <li class="drop__option" *ngFor="let notification of category.notifications">
                  <a class="drop__link drop__link--complex">
                    <h6 class="drop__date">{{timeSince(notification.created)}}</h6>
                    <div class="picName" *ngIf="notification.patient">
                      <img class="picName__img" src="../../../assets/img/profile.svg" />{{notification.patient?.first_name}} {{notification.patient?.last_name}}
                    </div>
                    <p class="drop__text">
                      {{notification.message}}
                    </p>
                  </a>
                </li>
              </ng-container>
            </ul>
          </app-popover>
        </div> <!--/.drop (for notifications)-->

        <div class="drop">
          <button class="button button--icon button--icon--nav" (click)="analyticsOpen=!analyticsOpen">
            <i class="ss-barchart"></i>
          </button>
          <app-popover [visible]="analyticsOpen" (visibleChange)="analyticsOpen = $event;" [options]="logoutDropOptions">
            <ul class="drop__dropdown isOpen">
              <li class="drop__label">Switch Applications</li>
              <li class="drop__option">
                <a class="drop__link drop__link" (click)="routeToAnalytics()">
                  Patient Analytics
                </a>
              </li>
            </ul>
          </app-popover>
        </div> <!--/.drop (for logout, switch org)-->

        <div class="drop">
          <button class="button button--icon button--icon--nav" (click)="logoutOpen=!logoutOpen">
            <i class="ss-door"></i>
          </button>
          <app-popover [visible]="logoutOpen" (visibleChange)="logoutOpen = $event;" [options]="logoutDropOptions">
            <ul class="drop__dropdown isOpen">
              <li class="drop__option">
                <a class="drop__link" (click)="logout()">
                  <div class="iconText">
                    <i class="iconText__icon ss-door"></i> Log Out
                  </div>
                </a>
              </li>
              <ng-container *ngIf="selectableOrganizations && selectableOrganizations.length > 0">
                <li class="drop__label">Other Organizations</li>
                <li class="drop__option">
                  <a class="drop__link drop__link" *ngFor="let organization of selectableOrganizations" (click)="switchOrganization(organization)">
                    {{organization.name}}
                  </a>
                </li>
              </ng-container>
            </ul>
          </app-popover>
        </div> <!--/.drop (for logout, switch org)-->

        <a (click)="routeToProfile()">
          <img class="nav__profile" [src]="employee?.user?.image_url || '../../../assets/img/profile--2.svg'" />
        </a>
      </div> <!--/.nav__right-->
    </div> <!--/.nav__top-->
  </div> <!--/.ssContainer-->

  <div class="nav__bottom" *ngIf="normalState">
    <div class="ssContainer nav__container">
      <div class="nav__links">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Dashboard
        </a>
        <a [routerLink]="['/billing']" [routerLinkActive]="['nav__link--current']" class="nav__link" *ngIf="employee?.billing_view">
          Billing
        </a>
        <div class="nav__link drop drop__arrowWhite"
             [ngClass]="{'nav__link--current': patientsDropOpen || isPatientsRoute()}"
             (click)="patientsDropOpen=!patientsDropOpen">
          Patients
          <app-popover [options]="patientsDropOptions" [visible]="patientsDropOpen" (visibleChange)="patientsDropOpen = $event;">
            <ul class="drop__dropdown isOpen">
              <li class="drop__option">
                <a (click)="openEnrollPatient()" class="button button--iconText drop__button">
                  <i class="ss-plus"></i> Add Patient
                </a>
              </li>
              <li class="drop__label" *ngIf="nav.recentPatients.length > 0">Recent Patients</li>
              <li class="drop__option" *ngFor="let patient of nav.recentPatients?.reverse()">
                <a class="drop__link" (click)="routeToPatient(patient.id)">
                  <div class="picName">
                    <img class="picName__img" [src]="patient?.user.image ? patient?.user.image : '../../../assets/img/profile.svg'" />
                    {{patient.user.first_name}} {{patient.user.last_name}}
                  </div>
                </a>
              </li>
              <li class="drop__label">Patients Lists</li>
              <li class="drop__option">
                <a class="drop__link" [routerLink]="['/patients/active']">
                  Active Patients ({{activePatientsCount}})
                </a>
              </li>
              <li class="drop__option">
                <a class="drop__link" [routerLink]="['/patients/invited']">
                  Invited Patients ({{invitedPatientsCount}})
                </a>
              </li>
              <li class="drop__option">
                <a class="drop__link" [routerLink]="['/patients/potential']">
                  Potential Patients ({{potentialPatientsCount}})
                </a>
              </li>
              <li class="drop__option">
                <a class="drop__link" [routerLink]="['/patients/inactive']">
                  Inactive Patients ({{inactivePatientsCount}})
                </a>
              </li>
            </ul>
          </app-popover>
        </div>
        <a [routerLink]="['/plans']" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Care Plans
        </a>
        <a [routerLink]="['/organization']" [routerLinkActive]="['nav__link--current']" class="nav__link" *ngIf="organization?.is_manager">
          Account
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['nav__link--current']" class="nav__link" *ngIf="organization?.is_manager">
          Users
        </a>
      </div>
    </div> <!--/.ssContainer-->
  </div> <!--/.nav__bottom-->

  <div class="nav__bottom" *ngIf="planDetailState">
    <div class="ssContainer nav__container">
      <div class="nav__links">
        <a [routerLink]="['/plans']" class="nav__link">
          <i class="ss-standard ss-navigateleft"></i> To Care Plans
        </a>
        <a [routerLink]="['/plan', nav.planDetailId, 'info']" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Care Plan Info
        </a>
        <a [routerLink]="['/plan', nav.planDetailId, 'schedule']" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Care Plan Schedule
        </a>
      </div>
    </div> <!--/.ssContainer-->
  </div> <!--/.nav__bottom-->

  <div class="nav__bottom" *ngIf="patientDetailState">
    <div class="ssContainer nav__container">
      <div class="nav__links">
        <a [routerLink]="['/patient', nav.patientDetailId]" class="nav__link">
          <i class="ss-standard ss-navigateleft"></i> To Patients
        </a>
        <a [routerLink]="['/patient', nav.patientDetailId, 'dashboard', nav.patientPlanId]" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Dashboard
        </a>
        <a [routerLink]="['/patient', nav.patientDetailId, 'details', nav.patientPlanId]" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Details
        </a>
        <a [routerLink]="['/patient', nav.patientDetailId, 'history', nav.patientPlanId]" [routerLinkActive]="['nav__link--current']" class="nav__link">
          History
        </a>
        <a [routerLink]="['/patient', nav.patientDetailId, 'overview', nav.patientPlanId]" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Overview
        </a>
        <a [routerLink]="['/patient', nav.patientDetailId, 'team', nav.patientPlanId]" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Care Team
        </a>
        <a [routerLink]="['/patient', nav.patientDetailId, 'messaging', nav.patientPlanId]" [routerLinkActive]="['nav__link--current']" class="nav__link">
          Messages
        </a>
      </div>
    </div>
  </div>
</div> <!--/.nav-->
