@import '~scss/variables';
@import '~scss/functions';
@import '~scss/mixins';

.nav {
  background-color: $greenDk;
  color: white;
  width: 100%;
  min-width: rem-calc(1024);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem-calc(64);
  }

  &__left {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__appSwitcher {
    margin-left: rem-calc(24);
    @include bold;
    font-size: rem-calc(12);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    height: 48px;
    display: flex;
    align-items: center;
  }

  &__right {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__profile {
    margin-left: rem-calc(8);
    width: rem-calc(48);
    border-radius: rem-calc(100);
  }

  &__bottom {
    height: rem-calc(48);
    background: $green;
    width: inherit;
  }

  &__links {
    display: flex;
  }

  &__link {
    color: white;
    @include bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $offWhite;
    max-width: 236px;

    &:last-child {
      border-right: 1px solid $offWhite;
    }

    &:hover, &:active {
      background: $greenDker;
    }

    &--current {
      background: $greenDker;
      cursor: default;
    }

    > [class*="ss-"] {
      color: white;
      margin-top: rem-calc(6);
      margin-right: rem-calc(8);
    }
  }
}

#patientSearchContainer {
  position: relative;
}

.searchClear {
  position: absolute;
  top: 0px;
  right: 10px;
}
