<div class="ssContainer ssContents">
  <div class="org">
    <div class="org__left">
      <h1 class="org__title">Facility Details
        <button class="button button--icon"><i class="ss-write"></i></button>
      </h1>
      <label>Name</label>
      Canyon View
      <label class="org__subhead">Address</label>
      1159 East 12th Street<br />
      Ogden, UT 84404
      <label class="org__subhead">Parent Company</label>
      Ogden Clinic
    </div> <!--/.org__left-->

    <div class="org__right">
      <div class="info">
        <h2>Plan Details</h2>
        <div class="cols">
          <div>
            <label>Current Users</label>
            45 / 50
          </div>
          <div>
            <label>Renewal Date</label>
            Apr 15, 2018
          </div>
        </div>

        <div class="divider divider--dk"></div>

        <h2>Questions?</h2>
        <label>Billing Questions</label>
        <div class="iconText">
          <i class="iconText__icon ss-standard ss-phone"></i> 801-555-5555
        </div>
        <a class="iconText" href="mailto:email@exampl.com">
          <i class="iconText__icon ss-standard ss-mail"></i> accounting@careadopt.com
        </a>
        <label class="info__label">Sales Questions</label>
        <div class="iconText">
          <i class="iconText__icon ss-standard ss-phone"></i> 801-555-5555
        </div>
        <a class="iconText" href="mailto:email@exampl.com">
          <i class="iconText__icon ss-standard ss-mail"></i> sales@careadopt.com
        </a>
        <label class="info__label">General Questions</label>
        <div class="iconText">
          <i class="iconText__icon ss-standard ss-phone"></i> 801-555-5555
        </div>
        <a class="iconText" href="mailto:email@exampl.com">
          <i class="iconText__icon ss-standard ss-mail"></i> help@careadopt.com
        </a>
      </div> <!--/.info-->
    </div> <!--/.org__right-->
  </div> <!--/.org-->
</div> <!--/.ssContiner-->
