<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <div class="fullWidth flex">
      <h1 class="noMargin fullWidth">Potential Patients ({{potentialPatients.length}})</h1>
      <div class="tool__anchor fullWidth">
        <button class="button button--icon button--icon--small"
        (click)="toolPP1Open=!toolPP1Open">
          <i class="ss-help"></i>
        </button>
        <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : toolPP1Open }">
          <div class="tool__text">
            Potential patients have been identfied in the EHR, from CareInsight, or added individually as candidates for care management.
          </div>
        </div>
      </div>
    </div>
    <div class="fullWidth"></div>
    <div class="flex fullWidth">
      <div [ngStyle]="{width: '100px', padding: '5px'}"><label>Filter By User</label></div>
      <div class="drop">
        <div class="drop__input" (click)="multi4Open = !multi4Open">
          All
        </div>
        <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi4Open }">
          <div class="drop__buttons">
            <button class="button button--iconText" (click)="toggleAllCarePlans(true)">
              <i class="ss-check ss-standard"></i> Check All
            </button>
            <button class="button button--iconText" (click)="toggleAllCarePlans(false)">
              <i class="ss-ban"></i> Uncheck All
            </button>
          </div>

          <li class="drop__option">
            <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
          </li>

          <li class="drop__option" *ngFor="let user of users">
            <label
              class="drop__checkbox styledInput"
              title="Behavioral Health Initiative"
            >
              <input type="checkbox" class="styledInput__input" />
              <span class="styledInput__box"></span>
              {{user?.user?.first_name}} {{user?.user?.last_name}}

            </label>
          </li>
        </ul>
      </div>
    </div>
    <button class="button button--iconText"
    (click)="addPatientToPlan()">
      <i class="ss-plus"></i> Add Patient
    </button>

  </div> <!--/.flex (for title and tooltip)-->

  <div class="flex marBottom48">

    <div class="marRight32">
      <label>Service Area</label>
      <div class="drop">
          <div class="drop__input" (click)="multi2Open = !multi2Open">
            All
          </div>
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi2Open }">
            <div class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllServiceAreas(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllServiceAreas(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div>

            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>

            <li class="drop__option" *ngFor="let serviceArea of allServiceAreas">
              <label class="drop__checkbox styledInput"
              title="Behavioral Health Initiative">
                <input type="checkbox" class="styledInput__input" [(ngModel)]="activeServiceAreas[serviceArea]" />
                <span class="styledInput__box"></span>
                {{serviceArea}}
              </label>
            </li>
          </ul>
        </div>
    </div> <!--/ container for care plan type filter-->

    <div>
      <label>Care Plan</label>
      <div class="drop">
          <div class="drop__input" (click)="multi3Open = !multi3Open">
            All
          </div>
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi3Open }">
            <div class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllCarePlans(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllCarePlans(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div>

            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>

            <li class="drop__option" *ngFor="let carePlan of carePlans">
              <label
                class="drop__checkbox styledInput"
                title="Behavioral Health Initiative"
              >
                <input type="checkbox" class="styledInput__input" [(ngModel)]="activeCarePlans[carePlan]" />
                <span class="styledInput__box"></span>
                {{carePlan}}
              </label>
            </li>
          </ul>
        </div>
    </div> <!--/ container for care plan name filter-->
  </div> <!--/.flex (for filters)-->



  <div class="accordion" [ngClass]="{ 'isOpen' : accord1Open }" *ngIf="potentialPatients">
    <div class="accordion__head" (click)="accord1Open=!accord1Open">
      <span class="accordion__title">Canyon View({{potentialPatients.length}})</span>
      <div class="accordion__right">
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body">
      <div class="accordion__contents">
        <div class="tableWrap fullWidth">
          <table class="fullWidth">
            <thead>
              <tr>
                <th class="thSortable thSortable--sortDown">
                  <span class="thSortable__text thSortable__text--left">Patient</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Care Plan</span>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Also</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small" (click)="tooltip2Open=!tooltip2Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltip2Open }">
                        <div class="tool__text">This is the number of additional care plans a patient has. Click the number for details.</div>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Source</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Added</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Phone</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Enroll</span>
                </th>
                <th class="noPad"></th>
                <th class="noPad"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let potentialPatient of potentialPatients">
                <tr *ngIf="activeCarePlans[potentialPatient.care_plan]">
                  <td class="left">{{potentialPatient.first_name}} {{potentialPatient.last_name}}</td>
                  <td>
                    <div class="iconText">
                      {{potentialPatient.care_plan}}
                    </div>
                  </td>
                  <td>
                    <a class="tool__anchor justifyCenter" (click)="tooltipPP2Open=!tooltipPP2Open">
                      --
                      <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipPP2Open }">
                        <div class="iconText iconText--white iconText--autoHeight marBottom8">
                          Anxiety
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="left">--</td>
                  <td class="left">{{formatTimeAdded(potentialPatient.created)}}</td>
                  <td class="left">{{potentialPatient.phone}}</td>
                  <td>
                    <button class="button button--center button--icon"
                    (click)="enrollPotentialPatient(potentialPatient)">
                      <i class="ss-adduser"></i>
                    </button>
                  </td>
                  <td class="noPad">
                    <button class="button button--center button--icon button--icon--small"
                    (click)="editPotentialPatient(potentialPatient)">
                      <i class="ss-write"></i>
                    </button>
                  </td>
                  <td class="noPad">
                    <button class="button button--center button--icon button--icon--small"
                    (click)="removePotentialPatient(potentialPatient)">
                      <i class="ss-delete"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <button class="button button--iconText"
          (click)="addPatientToPlan()">
            <i class="ss-plus"></i> Add Patient
          </button>
        </div> <!--/.tableWrap-->
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion-->

  <div class="accordion" [ngClass]="{ 'isOpen' : accord2Open }">
      <div class="accordion__head" (click)="accord2Open=!accord2Open">
        <span class="accordion__title">South County Regional (0)</span>
        <div class="accordion__right">
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div>
      <div class="accordion__body">
        <div class="accordion__contents">
          <h2 class="center">No potential patients have been added to this facility.</h2>
          <button class="button button--center button--iconText"
          (click)="addPatientToPlan()">
            <i class="ss-plus"></i> Add Patient
          </button>
        </div>
      </div>
    </div> <!--/.accordion-->

</div> <!--/.ssContainer-->
