<div class="loginBg">
  <div class="login">
    <img src="../../assets/img/logo-color.svg" alt="" class="marBottom32">
    <p class="marBottom32">
      Enter your new password. Then we'll take you to the login screen.
    </p>
    <form class="left">
      <label>New Password</label>
      <input type="password" class="input fullWidth marBottom32" />
      <label>Confirm Password</label>
      <input type="password" class="input fullWidth marBottom32" />
      <button class="button login__button">
        Reset Password
      </button>
    </form>
  </div> <!--/.login-->
</div> <!--/.loginBg-->
