<div class="ssContainer ssContents">
  <div class="chatWrap">
    <div class="chatHead">
      <app-patient-header [currentPage]="'history'"></app-patient-header>
       <div class="flexHeader">
         <div class="flex alignCenter">
           <div class="marRight32">
             <label>Filter by Date</label>
             <div class="datepicker">
                 <div class="datepicker__date" (click)="dateFilterOpen=!dateFilterOpen">
                   <span *ngIf="!dateFilter">Select Date</span>
                   <span *ngIf="dateFilter">{{dateFilter.format('MMM DD, YYYY')}}</span>
                 </div>
                 <app-popover [visible]="dateFilterOpen" (visibleChange)="dateFilterOpen = $event;" [options]="datePickerOptions">
                   <!--TODO: This datepicker needs a clear option when a date is selected.-->
                   <app-date-picker class="datepicker__picker isOpen" [selected]="dateFilter" (selectedChange)="setSelectedDay($event)"></app-date-picker>
                 </app-popover>
               </div>
           </div>
           <div>
             <label>Filter by Task</label>
             <div class="drop">
               <div class="drop__input" (click)="taskFilterOpen = !taskFilterOpen">
                 All
               </div>
               <app-popover [visible]="taskFilterOpen" (visibleChange)="taskFilterOpen = $event;">
                 <ul class="drop__dropdown isOpen">
                   <div class="drop__buttons">
                     <button class="button button--iconText" (click)="checkAllTasks()">
                       <i class="ss-check ss-standard"></i> Check All
                     </button>
                     <button class="button button--iconText" (click)="uncheckAllTasks()">
                       <i class="ss-ban"></i> Uncheck All
                     </button>
                   </div>
                   <li class="drop__option" *ngFor="let teamTask of teamTaskChoices">
                     <label class="drop__checkbox styledInput">
                       <input type="checkbox" class="styledInput__input" [checked]="isTaskChecked(teamTask)" (click)="toggleTask(teamTask)" />
                       <span class="styledInput__box"></span>
                       {{teamTask.name}}
                     </label>
                   </li>
                 </ul>
               </app-popover>
             </div>
           </div>
         </div> <!--/.flex (for filters)-->
         <button class="button button--iconText" (click)="openRecordResults()">
           <i class="ss-plus"></i> Record Result
         </button>
       </div> <!--/.flexHeader-->
    </div> <!--/.chatHead-->

    <div class="chat chat--pad">
      <div class="chat__side">
        <div class="chat__threads" (scroll)="scrollHistory($event)">
          <ng-container *ngIf="filteredBilledActivities().length > 0">
            <div class="chat__thread" *ngFor="let activity of filteredBilledActivities()" [ngClass]="{'chat__thread--active': selectedActivity && selectedActivity.id === activity.id}" (click)="selectedActivity = activity;">
              <div class="flex alignCenter justifySpaceBetween marBottom8">
                <h5 class="noMargin">
                  {{moment(activity.activity_datetime).format('MMM DD, YYYY')}}&ensp;|&ensp;{{moment(activity.activity_datetime).format('h:mm A')}}
                </h5>
                <div class="pill">
                  {{activity.readable_time_spent}}
                </div>
              </div>
              <div class="marBottom16">
                <span *ngIf="activity.team_task_template">{{formatTaskType(activity.team_task_template.category)}}</span>
                <span *ngIf="!activity.team_task_template">Patient Data Review</span>
              </div>
              <h5 class="noMargin">
                Added by {{activity.added_by.user.first_name}} {{activity.added_by.user.last_name}}
              </h5>
            </div> <!--/.chat__thread-->
          </ng-container>
          <ng-container *ngIf="activitiesLoaded && filteredBilledActivities().length === 0">
            <p class="center marTop32">No activities meet criteria.</p>
          </ng-container>
          <div class="ssSpinner center pad24" *ngIf="!activitiesLoaded"></div>
        </div> <!--/.chat__threads-->
      </div> <!--/.chat__side-->

      <div class="chat__main" *ngIf="!selectedActivity">
        <div class="chat__contents">
          <div class="chat__innerContents">
            <p class="center">Select an activity to view details</p>
          </div>
        </div>
      </div>
      <div class="chat__main" *ngIf="selectedActivity">
        <div class="chat__contents">
          <div class="chat__innerContents">
            <div class="historyItem">
              <div class="historyItem__buttons">
                <button class="button button--icon button--icon--small" *ngIf="isActivityOwnerOrAdmin(selectedActivity)" (click)="editResults(selectedActivity)">
                  <i class="ss-write"></i>
                </button>
                <!--TODO: Hide the delete button if the item is a care plan task-->
                <button class="button button--icon button--icon--small" *ngIf="isActivityOwnerOrAdmin(selectedActivity)" (click)="confirmDelete(selectedActivity)">
                  <i class="ss-delete"></i>
                </button>
              </div>
              <label>Task Category</label>
              <h2 class="noMargin">
                <span *ngIf="selectedActivity.team_task_template">{{formatTaskType(selectedActivity.team_task_template.category)}}</span>
                <span *ngIf="!selectedActivity.team_task_template">Patient Data Review</span>
              </h2>
              <div class="divider divider--smallMargin"></div>
              <h5>Added by {{selectedActivity.added_by.user.first_name}} {{selectedActivity.added_by.user.last_name}}&emsp;{{moment(selectedActivity.activity_datetime).format('MMM DD, YYYY')}}&ensp;|&ensp;{{moment(selectedActivity.activity_datetime).format('h:mm A')}}</h5>
              <!-- <h5 class="noMargin" *ngIf="selectedActivity.lastEditedBy">Last edited by {{getEmployee(selectedActivity.lastEditedBy).first_name}} {{getEmployee(selectedActivity.lastEditedBy).last_name}}, {{getEmployee(selectedActivity.lastEditedBy).title}}&emsp;{{selectedActivity.lastEdited.format('MMM DD, YYYY')}}&ensp;|&ensp;{{selectedActivity.lastEdited.format('h:mm A')}}</h5> -->
              <div class="divider divider--smallTop"></div>
              <label>Total Time</label>
              <div class="pill marBottom32">
                {{selectedActivity.readable_time_spent}}
              </div>
              <!--TODO: Hide the participants section if not a care plan task-->
              <div class="marBottom32">
                <label>Participants</label>
                <ul class="nameList marBottom32">
                  <li class="nameList__item nameList__item--left nameList__item--pad" *ngFor="let member of selectedActivity.members">
                    <div class="picName">
                      <img class="picName__img" [src]="member.user.image_url" />
                      {{member.user.first_name}} {{member.user.last_name}}<span *ngIf="member.title">, {{member.title.abbreviation}}</span>
                    </div>
                  </li>
                  <li class="nameList__item nameList__item--left nameList__item--pad" *ngIf="selectedActivity.patient_included">
                    <div class="picName">
                      <img class="picName__img" [src]="patient.user.image_url" />
                      {{patient.user.first_name}} {{patient.user.last_name}}
                    </div>
                  </li>
                </ul>
              </div> <!--/with section-->
              <label>Notes</label>
              <p class="marBottom32 noNotes">No notes</p>
              <p class="marBottom32" *ngIf="selectedActivity.notes">
                {{selectedActivity.notes}}
              </p>
              <label class="noMargin">Syncing</label>
              <div class="iconText" *ngIf="selectedActivity.sync_to_ehr">
                <i class="iconText__icon ss-transfer"></i> Synced to EHR
              </div>
              <div class="iconText" *ngIf="!selectedActivity.sync_to_ehr">
                Not synced to EHR
              </div>
            </div> <!--/.historyItem-->
          </div> <!--/.chat__innerContents-->
        </div> <!--/.chat__contents-->
      </div> <!--/.chat__main-->
    </div> <!--/.chat-->
  </div> <!--/.chatWrap-->
</div> <!--/.ssContainer-->
