<div class="ssContainer ssContents">
  <div class="chatWrap">

    <div class="chatHead">
      <app-patient-header [currentPage]="'history'"></app-patient-header>

       <div class="flexHeader">
         <div class="flex alignCenter">
           <div class="marRight32">
             <label>Filter by Date</label>
             <div class="datepicker">
                 <div class="datepicker__date" (click)="dateFilterOpen=!dateFilterOpen">
                   Select Date
                 </div>
                 <!--TODO: This datepicker needs a clear option when a date is selected.-->
                 <app-date-picker class="datepicker__picker" [ngClass]="{ 'isOpen' : dateFilterOpen }"></app-date-picker>
               </div>
           </div>
           <div>
             <label>Filter by Action</label>
             <div class="drop">
                 <div class="drop__input" (click)="actionFilterOpen = !actionFilterOpen">
                   All
                 </div>
                 <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : actionFilterOpen }">
                   <div class="drop__buttons">
                     <button class="button button--iconText" (click)="checkAllActions()">
                       <i class="ss-check ss-standard"></i> Check All
                     </button>
                     <button class="button button--iconText" (click)="uncheckAllActions()">
                       <i class="ss-ban"></i> Uncheck All
                     </button>
                   </div>
                   <li class="drop__option" *ngFor="let action of actionChoices">
                     <label class="drop__checkbox styledInput">
                       <input type="checkbox" class="styledInput__input" [checked]="isActionChecked(action)" (click)="toggleAction(action)" />
                       <span class="styledInput__box"></span>
                       {{action.display}}
                     </label>
                   </li>
                 </ul>
               </div>
           </div>
         </div> <!--/.flex (for filters)-->
         <button class="button button--iconText"
         (click)="openRecordResults()">
           <i class="ss-plus"></i> Record Result
         </button>
       </div> <!--/.flexHeader-->
    </div> <!--/.chatHead-->

    <div class="chat chat--pad">
      <div class="chat__side">
        <div class="chat__threads">

          <div class="chat__thread" *ngFor="let result of filteredResults()" [ngClass]="{'chat__thread--active': selectedResult === result}" (click)="selectedResult = result;">
            <div class="flex alignCenter justifySpaceBetween marBottom8">
              <h5 class="noMargin">
                {{result.date}}&ensp;|&ensp;{{result.time}}
              </h5>
              <div class="pill">
                :{{result.totalMinutes}}
              </div>
            </div>
            <div class="iconText iconText--wrap iconText--autoHeight marBottom8">
              <i class="iconText__icon ss-chats"></i>
              {{getTask(result.task).name}}
            </div>
            <h5 class="noMargin">
              Added by {{getEmployee(result.createdBy).first_name}} {{getEmployee(result.createdBy).last_name}}, {{getEmployee(result.createdBy).title}}
            </h5>
          </div> <!--/.chat__thread-->
        </div> <!--/.chat__threads-->
      </div> <!--/.chat__side-->

      <div class="chat__main" *ngIf="selectedResult">
        <div class="chat__contents">
          <div class="chat__innerContents">
            <div class="historyItem">
              <div class="historyItem__buttons">
                <button class="button button--icon button--icon--small"
                (click)="editResults(selectedResult)">
                  <i class="ss-write"></i>
                </button>
                <!--TODO: Hide the delete button if the item is a care plan task-->
                <button class="button button--icon button--icon--small"
                (click)="confirmDelete(selectedResult)">
                  <i class="ss-delete"></i>
                </button>
              </div>
              <label>
                <!--TODO: Show label that matches the result-->
                <span>Care Plan Task</span>
                <span *ngIf="">Action</span>
              </label>
              <h2 class="noMargin">{{getTask(selectedResult.task).name}}</h2>
              <div class="divider divider--smallMargin"></div>
              <h5>Added by {{getEmployee(selectedResult.createdBy).first_name}} {{getEmployee(selectedResult.createdBy).last_name}}, {{getEmployee(selectedResult.createdBy).title}}&emsp;{{selectedResult.date}}&ensp;|&ensp;{{selectedResult.time}}</h5>
              <h5 class="noMargin">Last edited by {{getEmployee(selectedResult.createdBy).first_name}} {{getEmployee(selectedResult.createdBy).last_name}}, {{getEmployee(selectedResult.createdBy).title}}&emsp;{{selectedResult.date}}&ensp;|&ensp;{{selectedResult.time}}</h5>
              <div class="divider divider--smallTop"></div>

              <label>Total Time</label>
              <div class="pill marBottom32">
                :{{selectedResult.totalMinutes}}
              </div>

              <!--TODO: Hide the participants section if not a care plan task-->
              <div class="marBottom32">
                <label>Participants</label>
                <ul class="nameList marBottom32">
                  <li class="nameList__item nameList__item--left nameList__item--pad">
                    <div class="picName">
                      <img class="picName__img" src="../../assets/img/profile.svg" />
                      {{getEmployee(selectedResult.createdBy).first_name}} {{getEmployee(selectedResult.createdBy).last_name}}, {{getEmployee(selectedResult.createdBy).title}}
                    </div>
                  </li>
                  <li class="nameList__item nameList__item--left nameList__item--pad">
                    <div class="picName">
                      <img class="picName__img" src="../../assets/img/profile.svg" />
                      {{getEmployee(selectedResult.with).first_name}} {{getEmployee(selectedResult.with).last_name}}, {{getEmployee(selectedResult.with).title}}
                    </div>
                  </li>
                </ul>
              </div> <!--/with section-->

              <label>Notes</label>
              <p class="marBottom32">
                {{selectedResult.notes}}
              </p>

              <label class="noMargin">Syncing</label>
              <div class="iconText">
                <i class="iconText__icon ss-transfer"></i> Synced to EHR
              </div>



            </div> <!--/.historyItem-->
          </div> <!--/.chat__innerContents-->
        </div> <!--/.chat__contents-->
      </div> <!--/.chat__main-->
    </div> <!--/.chat-->
  </div> <!--/.chatWrap-->
</div> <!--/.ssContainer-->
