<h1 class="modal__title">
  <span *ngIf="!data?.duplicatePlan">Add</span>
  <span *ngIf="data?.duplicatePlan">Duplicate</span>
  Care Plan
</h1>
<!--TODO: If copying a care plan, prepopulate the name field with the previous care plan name and a number (either 2 or increment the previous number by 1)-->
<input type="text" class="input fullWidth marBottom32" placeholder="Care Plan Name" [(ngModel)]="nameInput" />
<div class="styledSelect">
  <select class="styledSelect__select" [(ngModel)]="selectedServiceArea">
    <option disabled selected [ngValue]="null">Select Service Area</option>
    <option *ngFor="let sa of serviceAreas" [ngValue]="sa">{{sa.name}}</option>
  </select>
</div>
<div class="modal__buttons padBottom32">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" [disabled]="continueDisabled()" (click)="clickContinue()">
    Continue
  </button>
</div>
