@import '~app/modules/modals/modal-outlet.component';
@import '~scss/variables';

label {
  border: none;
}

li {
  border: none;

  &:hover {
    background: $grayLtest;
  }
}

.iconText {
}

.drop__input {
  max-width: none;
  padding-left: 0px;
}

p {
  padding: 5px;
  margin-top: 18px;
  font-size: rem-calc(14);
  line-height: rem-calc(24);
}

.placeholder {
  color: $grayLt;
}
