<h1 class="modal__title">Edit Billing Practitioner</h1>
<label class="styledInput">
  <input type="radio" class="styledInput__input" name="radioPDM" />
  <span class="styledInput__radio"></span>John Adams, MD
</label>
<label class="styledInput">
  <input type="radio" class="styledInput__input" name="radioPDM" />
  <span class="styledInput__radio"></span>Lori Ramirez, RN
</label>
<label class="styledInput">
  <input type="radio" class="styledInput__input" name="radioPDM" />
  <span class="styledInput__radio"></span>Stacy Smith, PhD
</label>
<div class="modal__buttons">
  <button class="button button--2nd" (click)="close()">
    Cancel
  </button>
  <button class="button">
    Save
  </button>
</div>
