<div class="loginBg">
  <div class="login login--wide">
    <img src="../../assets/img/logo-color.svg" alt="">
    <h2 class="login__title">Welcome, Montgomery!</h2>
    <p class="marBottom32">
      Finish creating your account
    </p>
    <form class="left">
      <div class="flex justifySpaceBetween marBottom32">
        <!--TODO: Prepopulate name fields-->
        <div class="modal__inputWrap marRight16">
          <label>First Name</label>
          <input type="text" class="input fullWidth" />
        </div>
        <div class="modal__inputWrap">
          <label>Last Name</label>
          <input type="text" class="input fullWidth" />
        </div>
      </div>
      <label>Title (opt)</label>
      <div class="styledSelect marBottom32 fullWidth">
        <select class="styledSelect__select">
          <option>- - - -</option>
          <option>CRNA</option>
          <option>MD</option>
          <option>PhD</option>
          <option>RN</option>
        </select>
      </div>
      <div class="flex justifySpaceBetween marBottom32">
        <div class="modal__inputWrap marRight16">
          <label>Password</label>
          <input type="password" class="input fullWidth" />
        </div>
        <div class="modal__inputWrap">
          <label>Confirm Password</label>
          <input type="password" class="input fullWidth" />
        </div>
      </div>
      <button class="button login__button">
        Create Account
      </button>
    </form>
  </div> <!--/.login-->
</div> <!--/.loginBg-->
