<h1 class="modal__title noMargin">Billing Details</h1>
<div class="divider"></div>
<label class="styledInput styledInput--marBottom32">
  <input type="checkbox" class="styledInput__input" />
  <span class="styledInput__box"></span>
  Tracking Reimbursements
</label>
<div class="modal__inputWrap marRight32 marBottom32">
  <label>Billing Type</label>
  <div class="styledSelect">
    <select class="styledSelect__select" [(ngModel)]="selectedPlanType">
      <option *ngFor="let billingType of billingTypes" [ngValue]="billingType.abr">{{billingType.name}} ({{billingType.abr}})</option>
    </select>
  </div>
</div>

<label class="marBottom24">Reimbursement CPT Codes and Details</label>
<div>
  <ng-container *ngFor="let cpt of billingTypeByAbr(selectedPlanType).cpt">
    <h4>{{cpt.code}}</h4>
    <p class="marBottom32">
      {{cpt.text}}
    </p>
  </ng-container>
</div>

<div class="modal__buttons">
  <button class="button button--2nd">
    Cancel
  </button>
  <button class="button">
    Save
  </button>
</div>
