<button class="button button--iconText" (click)="openAddFacility()">Add Facility</button>
<button class="button button--iconText" (click)="openEditFacility()">Edit Facility</button>
<button class="button button--iconText" (click)="openDeleteFacility()">Delete Facility</button>
<button class="button button--iconText" (click)="openAddUser()">Add User</button>
<button class="button button--iconText" (click)="openReassignBillingPractitioner()">Reassign Billing Practitioner</button>
<button class="button button--iconText" (click)="openChangeEmail()">Change Email</button>
<button class="button button--iconText" (click)="openChangePassword()">Change Password</button>
<button class="button button--iconText" (click)="openAddPlan()">Add Plan</button>
<button class="button button--iconText" (click)="openPlanDuration()">Edit Plan Duration</button>
<button class="button button--iconText" (click)="openGoal()">Add Care Plan Goal</button>
<button class="button button--iconText" (click)="openAddCTTask()">Add CM Task</button>
<button class="button button--iconText" (click)="openEditTask()">Edit CM Task</button>
<button class="button button--iconText" (click)="openAddVital()">Add Vital</button>
<button class="button button--iconText" (click)="openCreateVital()">Create Vital</button>
<button class="button button--iconText" (click)="openAddAssessment()">Add Assessment</button>
<button class="button button--iconText" (click)="openAddAssessment()">Add Assessment</button>
<button class="button button--iconText" (click)="openAddStream()">Add Stream</button>
<button class="button button--iconText" (click)="openCreateStream()">Create Stream</button>
<button class="button button--iconText" (click)="openDeletePlan()">Delete Plan</button>
<button class="button button--iconText" (click)="openReminderEmail()">Reminder Email</button>
<button class="button button--iconText" (click)="openAddPatientToPlan()">Add Patient to Plan</button>
