<div class="flexHeader marBottom48">
  <div class="flex alignCenter">
    <div *ngIf="!editName" class="flex alignCenter">
      <h1 class="noMargin marRight8">
        <span>{{planTemplate?.service_area.name}},</span> {{planTemplate?.name}}
      </h1>
      <button class="button button--icon" (click)="clickEditName()">
        <i class="ss-write"></i>
      </button>
    </div>
    <form *ngIf="editName" class="flex" (submit)="saveEditName">
      <input type="text" class="input" placeholder="Care Plan Name" [(ngModel)]="newPlanName" [ngModelOptions]="{standalone: true}" />
      <button class="button button--icon button--flex" type="button" (click)="cancelEditName()">
        <i class="ss-undo"></i>
      </button>
      <button class="button button--icon button--flex" type="submit" (click)="saveEditName()">
        <i class="ss-floppydisk"></i>
      </button>
    </form>
  </div>
  <div class="flex alignCenter">
      <h2 class="noMargin marRight8" *ngIf="planTemplate?.duration_weeks >= 0">{{planTemplate?.duration_weeks}} weeks</h2>
      <h2 class="noMargin marRight8" *ngIf="planTemplate?.duration_weeks < 0">Ongoing</h2>
      <button class="button button--icon marRight24" (click)="openPlanDuration()">
        <i class="ss-write"></i>
      </button>
    <button class="button button--iconText marRight32" (click)="duplicatePlan()">
      <i class="ss-files"></i> Duplicate
    </button>
    <button class="button button--iconText" (click)="openReassignPatients()">
      <i class="ss-ban"></i> Delete
    </button>
  </div>
</div> <!--/.flexHeader-->
<!-- <h5 class="marBottom32">Lasted edited {{moment(planTemplate?.modified).format('MMM D, YYYY')}}</h5> -->
<!-- <h5 class="marBottom32">Lasted edited by Stacy Smith, PhD&ensp;|&ensp;Jun 15, 2018</h5> -->

<div class="flex" *ngIf="carePlanAverage">
  <div class="info info--horiz">
    <div class="info__cell">
      <label>Total Patients</label>
      {{carePlanAverage.total_patients}}
    </div>
    <div class="info__cell">
      <label>Total Facilities</label>
      {{carePlanAverage.total_facilities}}
    </div>
    <div class="info__cell">
      <label>Time Count</label>
      <div class="pill">
        {{carePlanAverage.time_count}}
      </div>
    </div>
    <div class="info__cell">
      <label>Avg Engagement</label>
      <div class="pill" *ngIf="carePlanAverage.average_engagement" [ngClass]="utils.percentPillClass(carePlanAverage.average_engagement)">
        {{carePlanAverage.average_engagement}}%
      </div>
      <div class="pill" *ngIf="!carePlanAverage.average_engagement">
        ---
      </div>
    </div>
    <div class="info__cell">
      <label>Avg Outcome</label>
      <div class="pill" *ngIf="carePlanAverage.average_outcome" [ngClass]="utils.percentPillClass(carePlanAverage.average_outcome)">
        {{carePlanAverage.average_outcome}}%
      </div>
      <div class="pill" *ngIf="!carePlanAverage.average_outcome">
        ---
      </div>
    </div>
    <div class="info__cell">
      <label>Risk Level</label>
      <div class="pill" *ngIf="carePlanAverage.risk_level" [ngClass]="utils.percentPillClass(carePlanAverage.risk_level)">
        {{utils.getRiskLevelText(carePlanAverage.risk_level)}} {{carePlanAverage.risk_level}}%
      </div>
      <div class="pill" *ngIf="!carePlanAverage.risk_level">
        ---
      </div>
    </div>
  </div> <!--/.info-->
</div> <!--/.flex-->
