.right {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.flexHeader {
  align-items: flex-start;
  margin-bottom: -4.5rem;
}

.info {
  width: 100%;
}
