<div class="ssContainer ssContents">
  <div class="flexHeader">
    <div class="flex alignCenter">
      <h1 class="noMargin marRight8">Service Areas ({{totalServiceAreas()}})</h1>
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="showServiceAreaHelp = !showServiceAreaHelp">
          <i class="ss-help"></i>
        </button>
        <app-popover [visible]="showServiceAreaHelp" (visibleChange)="showServiceAreaHelp = $event;">
          <div class="tool__tip isOpen">
            <div class="tool__text">
              Service Areas contain a group of care plans based on an area of service line.
            </div>
          </div>
        </app-popover>
      </div> <!--/.tool__anchor-->
      <h1 class="noMargin marRight8">Care Plans ({{totalCarePlans()}})</h1>
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="showCarePlanHelp=!showCarePlanHelp">
          <i class="ss-help"></i>
        </button>
        <app-popover [visible]="showCarePlanHelp" (visibleChange)="showCarePlanHelp = $event;">
          <div class="tool__tip isOpen">
            <div class="tool__text">
              Care Plans are condition specific plans for care management and patient engagement.
            </div>
          </div>
        </app-popover>
      </div> <!--/.tool__anchor-->
    </div> <!--/.flex (for page title and tooltip)-->
    <div class="right">
      <button class="button button--iconText" (click)="addPlan()">
        <i class="ss-plus"></i>
        Add Care Plan
      </button>
    </div>
  </div> <!--/.flexHeader-->
  <div class="flex alignCenter">
    <h2 class="noMargin">Averages by Care Plan (Past 30 Days)</h2>
    <div class="tool__anchor">
      <button class="button button--icon button--icon--small" (click)="showAveragesHelp = !showAveragesHelp">
        <i class="ss-help"></i>
      </button>
      <app-popover [visible]="showAveragesHelp" (visibleChange)="showAveragesHelp = $event;">
        <div class="tool__tip isOpen">
          <div class="tool__text">
            The Care Plan view provides an of all current Care Plans within Service Areas statistics across the entire organization.
          </div>
        </div>
      </app-popover>
    </div> <!--/.tool__anchor-->
  </div>
  <div class="flex alignEnd justifySpaceBetween negativeMarTop24 marBottom24">
    <div>
      <label class="styledInput">
        <input type="checkbox" class="styledInput__input" [checked]="hideInactiveTemplates" (change)="toggleInactiveTemplates()" />
        <span class="styledInput__box"></span>
        Show Only Active Service Areas
      </label>
    </div>
    <div>
      <label>Facility</label>
      <div class="drop">
        <div class="drop__input" (click)="facilitiesOpen=!facilitiesOpen">
          <span *ngIf="!selectedFacility">All</span>
          <span *ngIf="selectedFacility">{{selectedFacility.name}}</span>
        </div>
        <app-popover [options]="facilitiesDropOptions" [visible]="facilitiesOpen" (visibleChange)="facilitiesOpen = $event;">
          <ul class="drop__dropdown isOpen">
            <!-- <div class="drop__buttons">
              <button class="button button--iconText" (click)="clickCheckAllFacilities()">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="clickUncheckAllFacilities()">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div> -->
            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>
            <li class="drop__option" *ngFor="let facility of facilities">
              <a class="drop__link" (click)="setSelectedFacility(facility)">{{facility.name}}</a>
            </li>
          </ul>
        </app-popover>
      </div> <!--/.drop-->
    </div>
  </div>
  <div class="flex" *ngIf="averagesByCarePlan">
    <div class="info info--horiz">
      <div class="info__cell">
        <label>Total Patients</label>
        {{averagesByCarePlan.total_patients}}
      </div>
      <div class="info__cell">
        <label>Total Facilities</label>
        {{averagesByCarePlan.total_facilities}}
      </div>
      <div class="info__cell">
        <label>Total Care Plans</label>
        {{averagesByCarePlan.total_care_plans}}
      </div>
      <div class="info__cell">
        <label>Avg Outcomes</label>
        <div class="pill" *ngIf="averagesByCarePlan.average_outcome" [ngClass]="utils.percentPillClass(averagesByCarePlan.average_outcome)">
          {{averagesByCarePlan.average_outcome}}%
        </div>
        <div class="pill" *ngIf="!averagesByCarePlan.average_outcome">
          ---
        </div>
      </div>
      <div class="info__cell">
        <label>Avg Engagement</label>
        <div class="pill" *ngIf="averagesByCarePlan.average_engagement" [ngClass]="utils.percentPillClass(averagesByCarePlan.average_engagement)">
          {{averagesByCarePlan.average_engagement}}%
        </div>
        <div class="pill" *ngIf="!averagesByCarePlan.average_engagement">
          ---
        </div>
      </div>
      <div class="info__cell">
        <label>Risk Level</label>
        <div class="pill" *ngIf="averagesByCarePlan.risk_level" [ngClass]="utils.percentPillClass(averagesByCarePlan.risk_level)">
          {{utils.getRiskLevelText(averagesByCarePlan.risk_level)}} {{averagesByCarePlan.risk_level}}%
        </div>
        <div class="pill" *ngIf="!averagesByCarePlan.risk_level">
          ---
        </div>
      </div>
    </div> <!--/.info-->
  </div> <!--/.flex-->
  <ng-container *ngFor="let plan of planTemplatesGrouped">
    <div class="accordion" [ngClass]="{ 'isOpen' : accordionsOpen[plan.serviceArea] }" *ngIf="!hideInactiveTemplates || plan.totalPatients > 0">
      <div class="accordion__head" (click)="accordionsOpen[plan.serviceArea]=!accordionsOpen[plan.serviceArea]">
        <span class="accordion__title">{{plan.serviceAreaObj.name}} ({{filteredTemplates(plan.templates).length}}) ({{plan.totalPatients}})</span>
        <div class="accordion__right">
          <div class="pill marRight16">
            Time {{totalTimeCount(filteredTemplates(plan.templates))}}
          </div>
          <div class="pill" *ngIf="plan.totalPatients > 0" [ngClass]="utils.percentPillClass(totalRiskLevel(filteredTemplates(plan.templates)))">
            {{utils.getRiskLevelText(totalRiskLevel(filteredTemplates(plan.templates)))}} {{totalRiskLevel(filteredTemplates(plan.templates))}}%
          </div>
          <div class="pill" *ngIf="plan.totalPatients === 0">
            ---
          </div>
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div> <!--/.accordion__head-->
      <div class="accordion__body">
        <div class="accordion__contents">
          <table class="fullWidth">
            <thead>
              <tr>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Care Plans</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Status</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Patients</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Facilities</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Monthly Time</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Duration</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Avg Engagement</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Avg Outcome</span>
                </th>
                <!-- <th class="thSortable thSortable--sortDown thSortable--sortUp"> -->
                <th class="thSortable">
                  <span class="thSortable__text">Risk Level</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredTemplates(plan.templates)">
                <td class="left">
                  <a [routerLink]="['/plan', item.id, 'info']">{{item.name}}</a>
                </td>
                <td class="left">{{item.averages.total_patients > 0 ? 'Active':'Inactive'}} </td>
                <td>{{item.averages.total_patients}}</td>
                <td>{{item.averages.total_facilities}}</td>
                <td>
                  <div class="pill">
                    <span *ngIf="!item.averages.time_count">0:00</span>
                    <span *ngIf="item.averages.time_count">{{item.averages.time_count}}</span>
                  </div>
                </td>
                <td>
                  <span *ngIf="item.duration_weeks >= 0">{{item.duration_weeks}} weeks</span>
                  <span *ngIf="item.duration_weeks < 0">Ongoing</span>
                </td>
                <td>
                  <div class="pill" *ngIf="item.averages.total_patients === 0">
                    ---
                  </div>
                  <div class="pill" *ngIf="item.averages.total_patients > 0" [ngClass]="utils.percentPillClass(item.averages.average_engagement)">
                    {{item.averages.average_engagement}}%
                  </div>
                </td>
                <td>
                  <div class="pill" *ngIf="item.averages.total_patients === 0">
                    ---
                  </div>
                  <div class="pill" *ngIf="item.averages.total_patients > 0" [ngClass]="utils.percentPillClass(item.averages.average_outcome)">
                    {{item.averages.average_outcome}}%
                  </div>
                </td>
                <td>
                  <div class="pill" *ngIf="item.averages.total_patients === 0">
                    ---
                  </div>
                  <div class="pill" *ngIf="item.averages.total_patients > 0" [ngClass]="utils.percentPillClass(item.averages.risk_level)">
                    {{utils.getRiskLevelText(item.averages.risk_level)}} {{item.averages.risk_level}}%
                  </div>
                </td>
                <td>
                  <button class="button button--icon" (click)="duplicatePlan(item)">
                  <i class="ss-files"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="button button--iconText" (click)="addPlan(plan.serviceArea)">
          <i class="ss-plus"></i> Add Care Plan
        </button>
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
  </div> <!--/.accordion-->
  </ng-container>
</div> <!--/.ssContainer-->
