@import "../../../modules/modals/modal-outlet.component.scss";


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 144px;
}

.ellipsisHeader {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 248px;
}

.button--icon--small {
  width: 2.5rem;
}

.iconSmall {
  width: 2.5rem;
  text-align: center;
}
