<h1 class="modal__title">Add Vital Report</h1>
<!--TODO: If adding the vital to a care plan template, show the following.-->
<div *ngIf="editingTemplate && totalPatients > 0" class="marCenter marCenter--twoThirds">
  <div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
    <i class="iconText__icon ss-alert"></i>
    <span class="error__text">
      Making changes here will affect {{totalPatients}} patients currently assigned to this care plan.
    </span>
  </div>
</div>
<!--TODO: If adding the vital to a care plan instance, show the following-->
<h5 class="center" *ngIf="!editingTemplate">NOTE: You are adding a vital to one patient's care plan. To add a vital for everyone, go to care plans.</h5>
<div class="grid2col">
  <div class="gridCell--11 marRight32">
    <input type="text" class="input input--search fullWidth marBottom32" placeholder="Search Vitals" [(ngModel)]="searchInput" (ngModelChange)="filterVitals()" />
    <div class="listBox">
      <ul class="nameList">
        <li class="nameList__item nameList__item--padLeft nameList__item--target" [ngClass]="{'nameList__item--target--active': selectedVital == vital}" *ngFor="let vital of vitalsShown" (click)="showVitalPreview(vital)">
          <div *ngIf="!vital.edit" class="flex alignCenter justifySpaceBetween fullWidth">
            <div class="flex alignCenter">
              <span class="ellipsis">{{vital.name}}</span>
              <span class="badge badge--chat marRight8">{{uniqByNameCount(vital)}}</span>
            </div>
            <div class="flex alignCenter">
              <i class="iconSmall ss-transfer"></i>
              <button class="button button--icon button--icon--small" (click)="clickEditVital(vital, $event)">
                <i class="ss-write"></i>
              </button>
              <button class="button button--icon button--icon--small" (click)="clickDeleteVital(vital, $event)">
                <i class="ss-delete"></i>
              </button>
            </div>
          </div>
          <form *ngIf="vital.edit" class="nameList__form">
            <div class="nameList__inputWrap">
              <input type="text" class="input fullWidth" [(ngModel)]="vital.name" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="flex">
              <button class="button button--icon button--icon--small" type="button" (click)="clickUndoName(vital, $event)">
                <i class="ss-undo"></i>
              </button>
              <button class="button button--icon button--icon--small" type="submit" (click)="updateVitalName(vital, $event)">
                <i class="ss-floppydisk"></i>
              </button>
            </div>
          </form>
        </li>
      </ul>
    </div> <!--/.listBox-->
    <button *ngIf="!createVital" class="button button--iconText" (click)="createVital=!createVital">
    	<i class="ss-plus"></i> Create New Vital
    </button>
    <form *ngIf="createVital" class="nameList__form">
    	<div class="nameList__inputWrap">
    		<input type="text" class="input fullWidth" [(ngModel)]="newVitalName" [ngModelOptions]="{standalone: true}" />
    	</div>
    	<div class="flex">
    		<button class="button button--icon button--icon--small" type="button" (click)="createVital=!createVital;">
    			<i class="ss-undo"></i>
    		</button>
    		<button class="button button--icon button--icon--small" (click)="createNewVital()">
    			<i class="ss-plus"></i>
    		</button>
    	</div>
    </form>
    <div class="modal__buttons modal__buttons--full">
      <button class="button button--2nd" (click)="clickClose()">
        Cancel
      </button>
      <button class="button" [disabled]="!selectedVital" (click)="clickNext()">
        Next
      </button>
    </div>
  </div> <!--/.gridCell--11-->
  <div class="gridCell--21">
    <div class="modal__details">
      <!--TODO: Show the following if no vital is selected-->
      <h2 *ngIf="!selectedVital" class="modal__empty">Select a vital report to see details</h2>
      <!--TODO: Show the following div when a vital is selected-->
      <div *ngIf="selectedVital">
        <div class="flex alignCenter justifySpaceBetween marBottom8">
          <div class="flex alignCenter">
            <h2 class="ellipsisHeader noMargin marRight16">{{selectedVital.name}}</h2>
            <i class="iconSmall ss-transfer"></i>
          </div>
          <button class="button button--icon" (click)="openFullPreview(selectedVital)">
            <i class="ss-standard ss-view"></i>
          </button>
        </div>
        <h5 class="marBottom32">Note: Each vital report includes an optional notes field (not shown here) for the patient to provide feedback.</h5>
        <label>Instructions</label>
        <p class="marBottom24">
          {{selectedVital.instructions}}
        </p>
        <div class="fullWidth">
          <table class="fullWidth">
            <thead>
              <tr>
                <th class="left">Metric</th>
                <th class="left">Type</th>
              </tr>
            </thead>
            <tbody class="fullWidth">
              <tr *ngFor="let question of selectedVital.questions">
                <td class="left">{{question.prompt |titlecase}}</td>
                <td class="left">{{question.answer_type|titlecase}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!--/.modal__details-->
  </div> <!--/.gridCell-21-->
</div> <!--/.grid2col-->
