<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <div class="picName marRight8">
      <img class="picName__img picName__img--big" *ngIf="patient?.user.image_url" [src]="patient?.user.image_url" />
      <img class="picName__img picName__img--big" *ngIf="!patient?.user.image_url" src="../../../assets/img/profile.svg" />
      <div *ngIf="!editName" class="flex alignCenter">
        <h1 class="noMargin marRight8">{{patient?.user.first_name}} {{patient?.user.last_name}}</h1>
        <button class="button button--icon" (click)="editName=!editName">
          <i class="ss-write"></i>
        </button>
      </div>
      <form *ngIf="editName" class="flexForm">
        <input type="text" class="input flexForm__input" placeholder="First Name" />
        <input type="text" class="input flexForm__input" placeholder="Last Name" />
        <button class="button button--icon button--flex" (click)="editName=!editName">
          <i class="ss-undo"></i>
        </button>
        <button class="button button--icon button--flex" (click)="editName=!editName">
          <i class="ss-floppydisk"></i>
        </button>
      </form>
    </div>
  </div> <!--/.flex (for title area)-->
  <ng-container *ngFor="let plan of carePlans; let i = index">
    <div class="flex alignCenter justifySpaceBetween">
      <div class="flex alignCenter">
        <h2 class="noMargin marRight32">{{plan.plan_template.service_area.name}}, {{plan.plan_template.name}}<span *ngIf="plan.plan_template.type">, {{plan.plan_template.type.abbreviation}}</span></h2>
        <a class="button button--iconText" (click)="openConsentForm(plan.id)">
          <i class="ss-standard ss-info"></i>
        </a>
        <a [routerLink]="['/patient', patient.id, 'dashboard', plan.id]" class="button button--iconText">
          <i class="ss-standard ss-view"></i> View Care Plan
        </a>
      </div>
      <div class="flex alignCenter">
        <!-- <button class="button button--icon" (click)="confirmPause()">
          <i class="ss-pause"></i>
        </button> -->
        <button class="button button--icon" (click)="confirmRemovePlan(plan.id)">
          <i class="ss-delete"></i>
        </button>
      </div>
    </div>
    <div class="info info--horiz">
      <div class="info__cell">
        <label>Care Team</label>
        <div class="flex alignCenter justifyCenter">
          <div class="picName" *ngIf="plan.care_manager" [ngClass]="{'marRight8': plan.team_members.length > 0}">
            <img class="picName__img" [src]="plan.care_manager.employee_profile.user.image_url" />
            {{plan.care_manager.employee_profile.user.first_name}} {{plan.care_manager.employee_profile.user.last_name}}<span *ngIf="plan.care_manager.employee_profile.title">, {{plan.care_manager.employee_profile.title.abbreviation}}</span>
          </div>
          <div class="tool__anchor" *ngIf="plan.team_members?.length > 0">
            <a class="flex alignCenter" (click)="teamListOpen[plan.id]=!teamListOpen[plan.id]">
              <span class="marRight8">+{{plan.team_members.length}}</span>
              <img src="../../../assets/img/arrow-down.svg" />
            </a>
            <app-popover [visible]="teamListOpen[plan.id]" (visibleChange)="teamListOpen[plan.id] = $event;">
              <div class="tool__tip tool__tip--bottom isOpen">
                <div class="tool__text">
                  <div class="picName" [ngClass]="{'marBottom16': (i + 1) !== plan.team_members.length}" *ngFor="let teamMember of plan.team_members; index as i">
                    <img class="picName__img" [src]="teamMember.employee_profile.user.image_url" />
                    {{teamMember.employee_profile.user.first_name}} {{teamMember.employee_profile.user.last_name}}<span *ngIf="teamMember.employee_profile.title">, {{teamMember.employee_profile.title.abbreviation}}</span>
                  </div>
                </div>
              </div>
            </app-popover>
          </div>
        </div>
      </div> <!--/.info__cell (for care team)-->
      <div class="info__cell">
        <label>Progress</label>
        <div class="progress marCenter">
          Week {{plan.week || 0}} of {{plan?.plan_template?.duration_weeks}}
          <div class="progress__bg">
            <div class="progress__bar" [ngStyle]="{width: ((plan?.current_week || 0) / (plan?.plan_template?.duration_weeks)) * 100 + '%'}"></div>
          </div>
        </div>
      </div>
      <div class="info__cell">
        <label>Last&nbsp;Contact</label>
        <a [routerLink]="['/patient/asdf/history']" class="justifyCenter">{{plan.daysSinceContact || 0}} days ago</a>
      </div>
      <div class="info__cell">
        <label>Problems</label>
        <a class="justifyCenter" (click)="openProblemAreas(plan)">{{problemAreasFilteredByPlan(plan.id).length}}</a>
      </div>
      <div class="info__cell">
        <label class="tool info__tool justifyCenter">
          Time
          <div class="tool__anchor">
            <button class="button button--icon button--icon--small" (click)="openFinancialDetails()">
              <i class="ss-info"></i>
            </button>
          </div>
        </label>
        <div class="pill" *ngIf="!patient?.payer_reimbursement">
          {{plan.overview?.time_spent_this_month}}
        </div>
        <div class="pill" [ngClass]="utils.timePillColor(totalMinutes(plan.overview?.time_spent_this_month), 30)" *ngIf="patient?.payer_reimbursement">
          {{plan.overview?.time_spent_this_month}}
        </div>
      </div> <!--/.info__cell (for time)-->
      <div class="info__cell">
        <label>Risk Level</label>
        <div class="pill" [ngClass]="utils.percentPillClass(patient?.risk_level)">
          {{utils.getRiskLevelText(patient?.risk_level)}} {{patient.risk_level}}%
        </div>
      </div>
    </div> <!--/.info (for care plan instance)-->
  </ng-container>
  <button class="button button--iconText" (click)="addPatientToPlan(patient)">
    <i class="ss-plus"></i> Add Care Plan
  </button>
  <div class="background-radial marTop48">
    <div class="flex alignCenter marBottom16">
      <h2 class="noMargin">Patient Statistics (Past 12 Months)</h2>
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="tooltipPSOpen=!tooltipPSOpen">
          <i class="ss-help"></i>
        </button>
        <div class="tool__tip" [ngClass]="{'isOpen' : tooltipPSOpen }">
          <div class="tool__text">
            Patient Statistics are key indicators of patient risk.
          </div>
        </div>
      </div>
    </div> <!--/.flex (for patient statistics header and tooltip)-->
    <div class="info info--horiz">
      <div class="info__cell">
        <label>Readmits</label>
        {{patientStats?.readmissions_count}}
      </div>
      <div class="info__cell">
        <label>Readmit %</label>
        {{patientStats?.readmissions_percent}}
      </div>
      <div class="info__cell">
        <label>Cost of Readmits</label>
        {{patientStats?.readmissions_cost}}
      </div>
      <div class="info__cell">
        <label>ED Visits</label>
        {{patientStats?.ed_visits}}
      </div>
      <div class="info__cell">
        <label>Opioid Use</label>
        {{patientStats?.opioid_use}}
      </div>
    </div> <!--/.info (first one for patient stats)-->
    <div class="info info--horiz">
      <div class="info__cell">
        <label>Admits</label>
        {{patientStats?.admits}}
      </div>
      <div class="info__cell">
        <label>Avg Stay</label>
        {{patientStats?.avg_stay_length}}
      </div>
      <div class="info__cell">
        <label>PCP Visits</label>
        {{patientStats?.pcp_visits}}
      </div>
      <div class="info__cell">
        <label>Specialist Visits</label>
        {{patientStats?.specialist_visits}}
      </div>
      <div class="info__cell">
        <label>Total Cost</label>
        {{patientStats?.total_cost}}
      </div>
    </div> <!--/.info (second one for patient stats)-->
  </div>
  <div class="flex justifySpaceBetween marTop48">
    <div class="info cols__colSmall marRight32">
      <h3>Medications</h3>
      <ul class="nameList nameList--dk marBottom16">
        <li *ngFor="let medication of patientMedications" class="nameList__item">
          <span>{{medication?.medication?.name}}</span>
          <div class="flex">
            <button class="button button--icon button--icon--small" (click)="editMedication(medication)">
              <i class="ss-write"></i>
            </button>
            <button class="button button--icon button--icon--small" (click)="deleteMedication(medication?.id)">
              <i class="ss-delete"></i>
            </button>
          </div>
        </li>
      </ul>
      <button class="button button--iconText" (click)="addMedication()">
        <i class="ss-plus"></i> Add Medication
      </button>
    </div> <!--/.info (for medications)-->
    <div class="info cols__colSmall marRight32">
      <h3>Diagnoses</h3>
      <ul class="nameList nameList--dk marBottom16">
        <li class="nameList__item" *ngFor="let diagnosis of patientDiagnoses; let i = index">
          <span>{{diagnosis.name}}</span>
          <div class="flex">
            <button class="button button--icon button--icon--small" (click)="editDiagnosis(diagnosis)">
              <i class="ss-write"></i>
            </button>
            <button class="button button--icon button--icon--small" (click)="deleteDiagnosis(diagnosis, i)">
              <i class="ss-delete"></i>
            </button>
          </div>
        </li>
      </ul>
      <button class="button button--iconText" (click)="addDiagnosis()">
        <i class="ss-plus"></i> Add Diagnosis
      </button>
    </div> <!--/.info (for diagnoses)-->
    <div class="info cols__colSmall">
      <h3>Procedures</h3>
      <ul class="nameList nameList--dk marBottom16">
        <li class="nameList__item" *ngFor="let patientProcedure of patientProcedures">
          <span>{{patientProcedure.procedure.name}}</span>
          <div class="flex">
            <button class="button button--icon button--icon--small" (click)="editProcedure(patientProcedure)">
              <i class="ss-write"></i>
            </button>
            <button class="button button--icon button--icon--small" (click)="deleteProcedure(patientProcedure)">
              <i class="ss-delete"></i>
            </button>
          </div>
        </li>
      </ul>
      <button class="button button--iconText" (click)="addProcedure()">
        <i class="ss-plus"></i> Add Procedure
      </button>
    </div> <!--/.info (for diagnoses)-->
  </div> <!--/.flex (for medications, diagnoses, procedures)-->
  <div class="cols">
    <div class="cols__colBig marRight32">
      <div class="info">
        <div class="info__header">
          <h3 class="noMargin">Profile</h3>
          <button class="button button--icon button--icon--small"
          (click)="editPatientProfile()">
            <i class="ss-write"></i>
          </button>
        </div>
        <div class="flex justifySpaceBetween">
          <div>
            <label class="info__label2">Age</label>
            <p class="info__p">{{patientAge}}</p>
            <label class="info__label2">Insurance</label>
            <p class="info__p">{{patient?.insurance?.name}}</p>
            <label class="info__label2">Height</label>
            <p class="info__p info__p--noMargin">{{patient?.height_feet}}' {{patient?.height_inches}}"</p>
          </div>
          <div>
            <label class="info__label2">Date of Birth</label>
            <p class="info__p">{{patient?.user?.birthdate}}</p>
            <label class="info__label2">Secondary Ins.</label>
            <p class="info__p">{{patient?.secondary_insurance?.name}}</p>
            <label class="info__label2">Ethnicity</label>
            <p class="info__p info__p--noMargin">{{patient?.ethnicity}}</p>
          </div>
          <div>
            <label class="info__label2">Gender</label>
            <p class="info__p">{{patient?.user?.gender ? patient?.user?.gender.toUpperCase() : ''}}</p>
            <label class="info__label2">MRN</label>
            <p class="info__p">{{patient?.mrn}}</p>
            <label class="info__label2">Cognitive Ability</label>
            <p class="info__p info__p--noMargin">{{patient?.cognitive_ability}}</p>
          </div>
        </div>
      </div> <!--/.info (for profile)-->
      <div class="info">
        <div class="info__header">
          <h3 class="noMargin">Address</h3>
          <button class="button button--icon button--icon--small" (click)="editPatientAddress()">
            <i class="ss-write"></i>
          </button>
        </div>
        <div class="flex justifySpaceBetween">
          <div>
            <label class="info__label2">Street</label>
            <p class="info__p">{{patient?.address?.street}}</p>
            <label class="info__label2">State</label>
            <p class="info__p info__p--noMargin">{{patient?.address?.state}}</p>
          </div>
          <div>
            <label class="info__label2">Apt #</label>
            <p class="info__p">{{patient?.address?.apt ? patient?.address?.apt : '- -'}}</p>
            <label class="info__label2">ZIP</label>
            <p class="info__p info__p--noMargin">{{patient?.address?.zip}}</p>
          </div>
          <div>
            <label class="info__label2">City</label>
            <p class="info__p">{{patient?.address?.city}}</p>
          </div>
        </div>
      </div> <!--/.info (for address)-->
    </div> <!--/.cols__colBig-->
    <div class="cols__colSmall">
      <div class="info">
        <div class="info__header">
          <h3 class="noMargin">Communication</h3>
          <button class="button button--icon button--icon--small" (click)="editPatientCommunication()">
            <i class="ss-write"></i>
          </button>
        </div>
        <label class="info__label2">Email</label>
        <p class="info__p">
          <a href="mailto:">{{patient?.user?.email}}</a>
        </p>
        <div class="flex justifySpaceBetween">
          <div class="marRight32">
            <label class="info__label2">Phone</label>
            <p class="info__p info__p--noMargin">
              <a href="tel:">{{patient?.user?.phone}}</a>
            </p>
          </div>
          <div>
            <label class="info__label2">Comm. Preference</label>
            <p class="info__p info__p--noMargin">
              {{patient?.communication_preference === 'in_app_messaging' ? 'In-App Messaging' : ''}}
              {{patient?.communication_preference === 'text_message' ? 'Text Message' : '' }}
              {{patient?.communication_preference === 'phone' ? 'Phone' : '' }}
            </p>
          </div>
        </div>
      </div> <!--/.info (for communication)-->
      <div class="info">
        <div class="info__header">
          <h3 class="noMargin">Emergency Contact</h3>
          <button class="button button--icon button--icon--small"
          (click)="editPatientEmergencyContact()">
            <i class="ss-write"></i>
          </button>
        </div>
        <div class="flex justifySpaceBetween">
          <div class="marRight32">
            <label class="info__label2">Name</label>
            <p class="info__p">{{patient?.emergencyContact?.name}}</p>
          </div>
          <div>
            <label class="info__label2">Relationship</label>
            <p class="info__p">{{patient?.emergencyContact?.relationship}}</p>
          </div>
        </div>
        <label class="info__label2">Phone</label>
        <p class="info__p">
          <a href="tel:">{{patient?.emergencyContact?.phone}}</a>
        </p>
        <label class="info__label2">Email</label>
        <p class="info__p info__p--noMargin">
          <a href="mailto:">{{patient?.emergencyContact?.email}}</a>
        </p>
      </div> <!--/.info (for emergency contact)-->
    </div> <!--/.cols__colSmall-->
  </div> <!--/.cols for profile, address, etc.-->
  <button class="button button--2nd" (click)="confirmMakePatientInactive()">
    Make Inactive
  </button>
</div> <!--/.ssContainer-->
