<h1 class="modal__title noMargin">Patient Added</h1>
<h2 class="center">{{data?.patient?.first_name}} {{data?.patient?.last_name}}</h2>
<p class="center">is now found in potential patients</p>
<h3 class="center marBottom32">
  <span class="marRight8">{{facility?.name}}</span>
</h3>
<h3 class="center marBottom32">
  <span class="marRight8">{{data?.patient?.care_plan?.service_area?.name}}, {{data?.patient?.care_plan?.name}}</span>
</h3>
<div class="flex justifyEnd marBottom32 modal__buttons">
  <button class="button">
    Done
  </button>
</div>
