<h1 class="modal__title noMargin">Patient Enrolled</h1>
<div class="divider"></div>
<h2 class="center">Alexander Montgomery</h2>
<p class="center">is now enrolled in</p>
<h3 class="center marBottom32">
  <span class="marRight8">Heart Disease</span>
  <i class="ss-satellitedish marRight8"></i>
  <span>RPM</span>
</h3>
<p class="red marBottom32">
  Inform the patient that an email has been sent to download the app. They must download the app by START DATE.
</p>
<div class="flex justifyEnd marBottom32">
  <button class="button">
    Done
  </button>
</div>
