<h1 class="modal__title">Change Email</h1>
<div class="iconText iconText--wrap error">
  <i class="iconText__icon ss-alert"></i>
  <span class="error__text">Changing your email will log you out, require you to verify your new email, and then log in again.</span>
</div>
<input class="input fullWidth" type="email" placeholder="New email address" />
<div class="modal__buttons">
  <button class="button button--2nd" (click)="modals.close('cancel')">
    Cancel
  </button>
  <button class="button">
    Verify Email
  </button>
</div>
