<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <div class="flexHeader fullWidth">
      <div class="fullWidth flex">
        <h1 class="noMargin">Active Patients</h1>
        <div class="tool__anchor">
          <button class="button button--icon button--icon--small" (click)="toolAP1Open=!toolAP1Open">
            <i class="ss-help"></i>
          </button>
          <app-popover [visible]="toolAP1Open" (visibleChange)="toolAP1Open=$event">
            <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : toolAP1Open }">
              <div class="tool__text">
                Active patients have created an account and have a current care plan.
              </div>
            </div>
          </app-popover>
        </div>
      </div>
      <div class="fullWidth"></div>
      <div class="flex fullWidth">
        <div [ngStyle]="{width: '100px', padding: '5px'}"><label>Filter By User</label></div>
        <div class="drop">
          <div class="drop__input" (click)="multi4Open = !multi4Open">
            {{userFilterListText}}
          </div>
          <app-popover [visible]="multi4Open" (visibleChange)="multi4Open = $event">
            <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi4Open }">
              <li class="drop__buttons">
                <button class="button button--iconText" (click)="toggleAllUsers(true)">
                  <i class="ss-check ss-standard"></i> Check All
                </button>
                <button class="button button--iconText" (click)="toggleAllUsers(false)">
                  <i class="ss-ban"></i> Uncheck All
                </button>
              </li>
              <li class="drop__option">
                <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
              </li>
              <ng-container *ngFor="let user of employees">
                <li class="drop__option" *ngIf="showUserInFilter(user)">
                  <label class="drop__checkbox styledInput">
                    <input type="checkbox" class="styledInput__input" [(ngModel)]="employeeChecked[user.id]" />
                    <span class="styledInput__box"></span>
                    {{user?.user?.first_name}} {{user?.user?.last_name}}
                  </label>
                </li>
              </ng-container>
            </ul>
          </app-popover>
        </div>
      </div>
      <button class="button button--iconText" (click)="addPatientToPlan()">
        <i class="ss-plus"></i> Add Patient
      </button>
    </div>
  </div> <!--/.flex (for title and tooltip)-->
  <div class="info info--horiz">
    <div class="info__cell">
      <label>Active Patients</label>
      {{activePatientsCount}}
    </div>
    <div class="info__cell">
      <label>Facilities</label>
      {{facilities?.length}}
    </div>
    <div class="info__cell">
      <label>Avg Time</label>
      <div class="pill" [ngClass]="averageTimePercentage()">
        <!-- {{averageTimePercentage() || '0:00'}} -->
        {{formatTime(averageTimeMinutes()) || '0:00'}}
      </div>
    </div>

    <div class="info__cell">
      <label>Avg Engagement</label>
      <div class="pill" [ngClass]="utils.percentPillClass(average?.average_engagement)">
        {{average?.average_engagement || '0'}}%
      </div>
    </div>
    <div class="info__cell">
      <label>Avg Outcome</label>
      <div class="pill" [ngClass]="utils.percentPillClass(average?.average_outcome)">
        {{average?.average_outcome || '0'}}%
      </div>
    </div>
    <div class="info__cell">
      <label>Avg Risk Level</label>
      <div class="pill" [ngClass]="utils.percentPillClass(averageaverage?.risk_level)">
        {{utils.getRiskLevelText(average?.risk_level)}} {{average?.risk_level}}%
      </div>
    </div>
  </div> <!--/.info-->
  <div class="flex marBottom48">
    <div class="marRight32">
      <label>Service Area</label>
      <div class="drop">
        <div class="drop__input" (click)="multi2Open = !multi2Open">
          All
        </div>
        <app-popover [visible]="multi2Open" (visibleChange)="multi2Open = $event">
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi2Open }">
            <li class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllServiceAreas(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllServiceAreas(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </li>
            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" [(ngModel)]="serviceAreaSearch" />
            </li>
            <ng-container *ngFor="let serviceArea of serviceAreas">
              <li class="drop__option" *ngIf="saSearchMatch(serviceArea)">
                <label class="drop__checkbox styledInput">
                  <input type="checkbox" class="styledInput__input" [(ngModel)]="serviceAreaChecked[serviceArea.id]" />
                  <span class="styledInput__box"></span>
                  {{serviceArea.name}}
                </label>
              </li>
            </ng-container>
          </ul>
        </app-popover>
      </div>
    </div> <!--/ container for care plan type filter-->
    <div>
      <label>Care Plan</label>
      <div class="drop">
        <div class="drop__input" (click)="multi3Open = !multi3Open">
          All
        </div>
        <app-popover [visible]="multi3Open" (visibleChange)="multi3Open = $event">
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi3Open }">
            <li class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllCarePlans(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllCarePlans(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </li>
            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" [(ngModel)]="carePlanSearch" />
            </li>
            <ng-container *ngFor="let planTemplate of carePlanTemplates">
              <li class="drop__option" *ngIf="cpSearchMatch(planTemplate)">
                <label class="drop__checkbox styledInput">
                  <input type="checkbox" class="styledInput__input" [(ngModel)]="carePlanTemplateChecked[planTemplate.id]" />
                  <span class="styledInput__box"></span>
                  {{planTemplate.name}}
                </label>
              </li>
            </ng-container>
          </ul>
        </app-popover>
      </div>
    </div> <!--/ container for care plan name filter-->
  </div> <!--/.flex (for filters)-->
  <ng-container *ngFor="let facility of facilities">
    <div class="accordion" [ngClass]="{ 'isOpen' : accordionsOpen[facility.id] }" *ngIf="facility.carePlans?.length > 0">
      <div class="accordion__head" (click)="accordionsOpen[facility.id]=!accordionsOpen[facility.id]">
        <span class="accordion__title">{{facility.name}} ({{facilityTotal[facility.id]}})</span>
        <div class="accordion__right">
          <div class="pill marRight32" [ngClass]="avgFacilityTimeColor(facility)">
            Time {{formatTime(facilityTimeCount(facility))}}
          </div>
          <div class="pill" [ngClass]="utils.percentPillClass(facility.avgRiskLevel)">
            {{utils.getRiskLevelText(avgFacilityRiskLevel(facility))}} {{avgFacilityRiskLevel(facility)}}%
          </div>
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div> <!--/.accordion__head-->
      <div class="accordion__body">
        <div class="accordion__contents">
          <div class="tableWrap fullWidth">
            <table class="fullWidth">
              <thead>
                <tr>
                  <th class="thSortable">
                    <span class="thSortable__text thSortable__text--left">Patient</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text thSortable__text--left">Care Plan</span>
                  </th>
                  <th class="thSortable">
                    <div class="tool">
                      <span class="thSortable__text">Also</span>
                      <div class="tool__anchor">
                        <button class="button button--icon button--icon--small" (click)="tooltip2Open[facility.id]=!tooltip2Open[facility.id]">
                          <i class="ss-help"></i>
                        </button>
                        <app-popover [visible]="tooltip2Open[facility.id]" (visibleChange)="tooltip2Open[facility.id]=$event">
                          <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltip2Open[facility.id] }">
                            <div class="tool__text">This is the number of additional care plans a patient has. Click the number for details.</div>
                          </div>
                        </app-popover>
                      </div>
                    </div>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text">Monthly Time</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text">My Tasks This Week</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text">Progress</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text">Engagement</span>
                  </th>
                  <th class="thSortable">
                    <span class="thSortable__text">Outcomes</span>
                  </th>
                  <th class="thSortable thSortable--sortDown">
                    <span class="thSortable__text">Risk Level</span>
                  </th>
                  <th class="noPad"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let plan of facility.carePlans; let i = index">
                  <tr *ngIf="serviceAreaChecked[plan.plan_template.service_area.id] && carePlanTemplateChecked[plan.plan_template.id] && hasCheckedCareTeamMember(plan)">
                    <td class="left hideOverflow">
                      <a class="picName" (click)="routeToPatient(plan.patient)">
                        <img class="picName__img" [src]="plan.patient.image_url" *ngIf="plan.patient.image_url" />
                        <img class="picName__img" src="../../../assets/img/profile.svg" *ngIf="!plan.patient.image_url" />
                        {{plan.patient.full_name}}
                      </a>
                    </td>
                    <td>
                      <div class="iconText">
                        {{plan.plan_template.name}}
                      </div>
                    </td>
                    <td>
                      <a class="tool__anchor justifyCenter" (click)="openAlsoTip[plan.id] = !openAlsoTip[plan.id]" *ngIf="plan.other_plans.length > 0">
                        {{plan.other_plans.length}}
                        <app-popover [visible]="openAlsoTip[plan.id]">
                          <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : openAlsoTip[plan.id] }">
                            <div class="iconText iconText--white iconText--autoHeight marBottom8" *ngFor="let otherPlan of plan.other_plans">
                              {{otherPlan.plan_template.name}}
                            </div>
                          </div>
                        </app-popover>
                      </a>
                    </td>
                    <td>
                      <div class="pill" [ngClass]="timePillColor(plan)">
                        {{formatTime(plan.time_count)}}
                      </div>
                    </td>
                    <td>
                      <a [routerLink]="['/patient', plan.patient.id, 'details', plan.id]" [queryParams]="{show_my_tasks: true}" class="justifyCenter">{{plan.tasks_this_week}}</a>
                    </td>
                    <td>
                      <div class="progress marCenter">
                        Week {{progressInWeeks(plan)}} of {{plan.plan_template.duration_weeks}}
                        <div class="progress__bg">
                          <div class="progress__bar" [ngStyle]="{width: (progressInWeeks(plan) / plan.plan_template.duration_weeks) * 100 + '%'}"></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="pill" [ngClass]="utils.percentPillClass(plan.average_engagement)">
                        {{plan.average_engagement}}%
                      </div>
                    </td>
                    <td>
                      <div class="pill" [ngClass]="utils.percentPillClass(plan.average_outcome)">
                        {{plan.average_outcome}}%
                      </div>
                    </td>
                    <td>
                      <div class="pill" [ngClass]="utils.percentPillClass(plan.risk_level)">
                        {{utils.getRiskLevelText(plan.risk_level)}} {{plan.risk_level}}%
                      </div>
                    </td>
                    <td class="noPad">
                      <button class="button button--center button--icon button--icon--small" (click)="confirmRemovePatient(facility, plan)">
                        <i class="ss-delete"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div> <!--/.tableWrap-->
        </div> <!--/.accordion__contents-->
        <div class="paginationWrap" *ngIf="true">
          <button class="button button--iconText" (click)="addPatientToPlan()">
            <i class="ss-plus"></i> Add Patient
          </button>
          <div class="pagination">
            <button class="button button--icon button--icon--dis"
                    (click)="navigatePages(facility.id, 1)"
                    [disabled]="facilityPage[facility.id] === 1">
              <i class="ss-standard ss-skipback"></i>
            </button>
            <button class="button button--icon button--icon--dis"
                    (click)="navigatePages(facility.id, facilityPage[facility.id] - 1)"
                    [disabled]="facilityPage[facility.id] === 1">
              <i class="ss-standard ss-directleft"></i>
            </button>
            <span>{{facilityPage[facility.id]}} of {{facilityPageCount[facility.id]}}</span>
            <button class="button button--icon"
                    (click)="navigatePages(facility.id, facilityPage[facility.id] + 1)"
                    [disabled]="facilityPage[facility.id] === facilityPageCount[facility.id]">
              <i class="ss-standard ss-directright"></i>
            </button>
            <button class="button button--icon"
                    (click)="navigatePages(facility.id, facilityPageCount[facility.id])"
                    [disabled]="facilityPage[facility.id] === facilityPageCount[facility.id]">
              <i class="ss-standard ss-skipforward"></i>
            </button>
          </div> <!--/.pagination-->
        </div> <!--/.paginationWrap-->
      </div> <!--/.accordion__body-->
    </div> <!--/.accordion-->
  </ng-container>
</div> <!--/.ssContainer-->
