<div class="ssContainer ssContents">
  <div class="chatWrap">

    <div class="chatHead">
      <app-patient-header [currentPage]="'messaging'"></app-patient-header>
    </div> <!--/.chatHead-->

    <div class="chat">

      <div class="chat__side">
        <div class="chat__threads">
          <div
            *ngFor="let stream of messageStreams"
            class="chat__thread"
            [ngClass]="{ 'chat__thread--active': stream?.id === currentStream?.id }"
            (click)="changeStream(stream)"
          >
            <div class="flex justifySpaceBetween alignCenter marBottom8">
              <div class="picName">
                <img class="picName__img" src="../../../../assets/img/profile.svg" />
                <h5 class="noMargin">{{getParticipants(stream)}}</h5>
              </div>
              <h5 class="noMargin">{{getLastMessageTime(stream)}}</h5>
            </div>
            <p class="chat__preview">
              {{stream?.messages?.length && stream?.messages[stream?.messages?.length - 1].text}}
            </p>
          </div> <!--/.chat__thread-->
          <div class="fullWidth">
            <button class="button button--iconText addMessageButton" (click)="openAddConversation()">
              <i class="ss-plus"></i> Add Message
            </button>
          </div>
        </div> <!--/.chat__threads-->
      </div> <!--/.chat__side-->

      <div class="chat__main">
        <div class="chat__contents" #chatBox>
          <div class="chat__innerContents">

            <ng-container *ngIf="currentStream?.messages?.length">
              <ng-container *ngFor="let messageGroup of messagesByDay(currentStream)">

                <div class="chat__dayDivider">
                  <div class="chat__divider"></div>
                  <div class="chat__date">{{getDay(messageGroup[0])}}</div>
                </div>

                <div
                  *ngFor="let message of messageGroup"
                  class="chat__message"
                  [ngClass]="{ 'chat__message--right': isSelf(currentStream, message) }"
                >
                  <div class="chat__picBubble">
                    <img class="chat__img" src="../../../../assets/img/profile.svg" />
                    <div class="chat__bubble">
                      <span *ngFor="let messageLine of message.text.split('\n')">{{messageLine}}<br></span>
                    </div>
                  </div>
                  <h5 class="chat__info">{{getNameAndTitle(getUser(currentStream, message))}}&emsp;{{getDay(message)}}, {{getTime(message)}}</h5>
                </div> <!--/.chat__message-->

              </ng-container>
            </ng-container>

          </div> <!--/.chat__innerContents-->
        </div> <!--/.chat__contents-->

        <div class="chat__form">
          <textarea
            class="input input--textarea marBottom8"
            placeholder="Type message&hellip;"
            [(ngModel)]="newMessageText"
            (keydown.shift.enter)="addMessage()"
          ></textarea>
          <div class="flex justifySpaceBetween">
            <label class="styledInput">
              <input type="file" class="styledInput__input" />
              <div class="button button--iconText">
                <i class="ss-picture"></i> Attach Image
              </div>
            </label>
            <button class="button button--iconText" (click)="addMessage()">
              <i class="ss-chat"></i> Post Message
            </button>
          </div>
        </div> <!--/.chat__form-->
      </div> <!--/.chat__main-->
    </div> <!--/.chat-->
  </div> <!--/.chatWrap-->
</div> <!--/.ssContainer-->
