<div class="ssContainer ssContents">
  <div class="chatWrap">

    <div class="chatHead">
      <app-patient-header [currentPage]="'messaging'"></app-patient-header>
    </div> <!--/.chatHead-->

    <div class="chat">
      <div class="chat__side">
        <div class="chat__threads">
          <div class="chat__thread">
            <div class="flex alignCenter marBottom16">
              <label class="noMargin">Patient and Care Team</label>
              <div class="badge badge--chat">
                8
              </div>
            </div> <!--/.flex for participants, badge, and follow checkbox-->
            <div class="flex justifySpaceBetween alignCenter marBottom8">
              <div class="picName">
                <img class="picName__img" src="../../../../assets/img/profile.svg" />
                <h5 class="noMargin">Lori Ramirez, RN</h5>
              </div>
              <h5 class="noMargin">4:32 PM</h5>
            </div>
            <p class="chat__preview">
              Have you scheduled your appointment? Cuz i don't think you have. Seriously now.
            </p>
          </div> <!--/.chat__thread-->
          <div class="chat__thread chat__thread--active">
            <div class="flex alignCenter marBottom16">
              <label class="noMargin">Care Team Only</label>
              <div *ngIf="" class="badge badge--chat"></div>
            </div> <!--/.flex for participants, badge, and follow checkbox-->
            <div class="flex justifySpaceBetween alignCenter marBottom8">
              <div class="picName">
                <img class="picName__img" src="../../../../assets/img/profile.svg" />
                <h5 class="noMargin">Montgomery Alexander, CRNA</h5>
              </div>
              <h5 class="noMargin">Yesterday</h5>
            </div>
            <p class="chat__preview">
              CT Coordination has been moved to tomorrow.
            </p>
          </div> <!--/.chat__thread-->
        </div> <!--/.chat__threads-->
      </div> <!--/.chat__side-->

      <div class="chat__main">
        <div class="chat__contents">
          <div class="chat__innerContents">

            <!--TODO: When a new thread is added, show hint text: Add people to the conversation by typing @ followed by their name.-->

            <div class="chat__dayDivider">
              <div class="chat__divider"></div>
              <div class="chat__date">Tuesday</div>
            </div>

            <div class="chat__message">
              <div class="chat__picBubble">
                <img class="chat__img" src="../../../../assets/img/profile.svg" />
                <div class="chat__bubble">
                  I will let you know about that prescription. We need to look at all the side effects and see if we need to change to dosage.
                </div>
              </div>
              <h5 class="chat__info">Lori Ramirez, RN&emsp;Tuesday, 12:16 PM</h5>
            </div> <!--/.chat__message-->

            <div class="chat__dayDivider">
              <div class="chat__divider"></div>
              <div class="chat__date">Yesterday</div>
            </div>

            <div class="chat__message chat__message--right">
              <div class="chat__picBubble">
                <img class="chat__img" src="../../../../assets/img/profile.svg" />
                <div class="chat__bubble">
                  Roger that.
                </div>
              </div>
              <h5 class="chat__info">Yesterday, 10:12 AM</h5>
            </div> <!--/.chat__message-->

            <div class="chat__message">
              <div class="chat__picBubble">
                <img class="chat__img" src="../../../../assets/img/profile.svg" />
                <div class="chat__bubble">
                  Who is meeting with the patient next week?
                </div>
              </div>
              <h5 class="chat__info">Montgomery Alexander, CRNA&emsp;Yesterday, 12:16 PM</h5>
            </div> <!--/.chat__message-->
            <div class="chat__message">
              <div class="chat__picBubble">
                <img class="chat__img" src="../../../../assets/img/profile.svg" />
                <div class="chat__bubble">
                  I'm going to be out all day following wisdom teeth removal.
                </div>
              </div>
              <h5 class="chat__info">Montgomery Alexander, CRNA&emsp;Yesterday, 12:17 PM</h5>
            </div> <!--/.chat__message-->
            <div class="chat__message">
              <div class="chat__picBubble">
                <img class="chat__img" src="../../../../assets/img/profile.svg" />
                <div class="chat__bubble">
                  CT Coordination has been moved to tomorrow.
                </div>
              </div>
              <h5 class="chat__info">Montgomery Alexander, CRNA&emsp;Yesterday, 12:43 PM</h5>
            </div> <!--/.chat__message-->
          </div> <!--/.chat__innerContents-->
        </div> <!--/.chat__contents-->

        <div class="chat__form">
          <textarea class="input input--textarea marBottom8" placeholder="Type message&hellip;"></textarea>
          <div class="flex justifySpaceBetween">
            <label class="styledInput">
              <input type="file" class="styledInput__input" />
              <div class="button button--iconText">
                <i class="ss-picture"></i> Attach Image
              </div>
            </label>
            <button class="button button--iconText">
              <i class="ss-chat"></i> Post Message
            </button>
          </div>
        </div> <!--/.chat__form-->
      </div> <!--/.chat__main-->
    </div> <!--/.chat-->
  </div> <!--/.chatWrap-->
</div> <!--/.ssContainer-->
