<h1 class="modal__title noMargin">Goal Comments</h1>
<div class="divider"></div>
<h2 class="goalChat__subtitle">{{goal?.name}}</h2>
<div class="goalChat">
  <div class="chat__contents">
    <div class="chat__innerContents">
      <h2 *ngIf="comments.length === 0" class="modal__empty">Be the first to comment on this goal.</h2>
      <ng-container *ngFor="let comment of orderedComments()">
        <div class="chat__message" *ngIf="comment.is_employee" [ngClass]="{'chat__message--right': comment.employee.id === mockData.employees[0].id}">
          <div class="chat__picBubble">
            <img class="chat__img" src="../../../../assets/img/profile.svg" />
            <div class="chat__bubble">
              {{comment.text}}
            </div>
          </div>
          <h5 class="chat__info"><span *ngIf="comment.employee.id !== mockData.employees[0].id">{{comment.employee.first_name}} {{comment.employee.last_name}}, {{comment.employee.title}}&emsp;</span>{{formatDate(comment.date)}}</h5>
        </div> <!--/.chat__message-->
        <div class="chat__message" *ngIf="!comment.is_employee">
          <div class="chat__picBubble">
            <img class="chat__img" src="../../../../assets/img/profile.svg" />
            <div class="chat__bubble">
              {{comment.text}}
            </div>
          </div>
          <h5 class="chat__info">{{patient.user.first_name}} {{patient.user.last_name}}&emsp;{{formatDate(comment.date)}}</h5>
        </div> <!--/.chat__message-->
      </ng-container>
    </div> <!--/.chat__innerContents-->
  </div> <!--/.chat__contents-->
  <div class="chat__form goalChat__form">
    <div class="modal__inputWrap">
      <input type="text" class="input fullWidth" placeholder="Comment here&hellip;" [(ngModel)]="newCommentInput" (keydown.enter)="addComment()" />
    </div>
    <button class="button button--icon" (click)="addComment()">
      <i class="ss-chat"></i>
    </button>
  </div> <!--/.chat__form-->
</div> <!--/.goalChat-->
