<!--TODO: Show "back" button if enroll patient step 2-->
<button *ngIf="showEPStep2" class="modal__back button button--icon"
(click)="showEPStep2=!showEPStep2">
  <i class="ss-standard ss-navigateleft"></i>
</button>

<h1 class="modal__title noMargin">
  <!--TODO: Show if enroll patient step 1 or 2-->
  <span>Enroll Patient</span>
  <!--TODO: Show if care plan consent-->
  <span *ngIf="">Care Plan Consent</span>
</h1>
<div class="divider"></div>
<h2 class="center marBottom32">
  <!--TODO: Show if enroll patient step 1-->
  <span *ngIf="!showEPStep2">Step 1 of 2: Verbal Confirmation</span>
  <!--TODO: Show if enroll patient step 2-->
  <span *ngIf="showEPStep2">Step 2 of 2: Patient Info</span>
  <!--TODO: Show if care plan consent-->
  <span *ngIf="">Theresa Beckstrom</span>
</h2>
<!--TODO: Show if enroll patient step 1-->
<h5 *ngIf="!showEPStep2" class="marBottom24">Call the patient to obtain verbal consent for care plan enrollment.</h5>
<!--TODO: Show if enroll patient step 2-->
<h5 *ngIf="showEPStep2"  class="marBottom24">Collect or verify the following information with the patient.</h5>

<!--TODO: Show if enroll patient step 1-->
<div *ngIf="!showEPStep2" class="flex justifySpaceBetween marBottom48">
  <div *ngIf="!showEPStep2" class="marRight16">
    <label>Patient</label>
    {{data?.patient?.first_name}} {{data?.patient?.last_name}}
  </div>
  <div class="marRight16">
    <label>Phone</label>
    <span class="noWrap">{{phoneNum(data?.patient?.phone)}}</span>
  </div>
  <div>
    <label>Care Plan & Type</label>
    {{data?.patient?.care_plan}}: RPM
  </div>
</div>

<!--TODO: Show if care plan consent-->
<div *ngIf="" class="flex justifySpaceBetween marBottom48">
  <div class="marRight16">
    <label>Care Plan & Type</label>
    Heart Disease: RPM
  </div>
  <div class="marRight16">
    <label>Enrolled By</label>
    Nathaniel Robinson, CRNA
  </div>
  <div>
    <label>Enrolled On</label>
    May 32, 2018
  </div>
</div>

<!--TODO: Show if enroll patient step 1 or care plan consent-->
<div *ngIf="!showEPStep2">
  <h5 class="marBottom32">Patients can be enrolled without meeting reimbursement requirements. However, they won’t be eligible to receive reimbursement until requirements have been meet. </h5>
  <label>Reimbursement Requirements (opt)</label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" />
    <span class="styledInput__box"></span>
    Patient has verbally consented to begin care plan.
  </label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" />
    <span class="styledInput__box"></span>
    Patient has been seen by the billing practitioner within the past year.
  </label>
  <label class="styledInput styledInput--marBottom32">
    <input type="checkbox" class="styledInput__input" />
    <span class="styledInput__box"></span>
    Patient understands the potential co-pay.
  </label>

  <label>Patient Commitment (Opt)</label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" />
    <span class="styledInput__box"></span>
    Use the mobile app.
  </label>
  <!--TODO: Show if care plan type is RPM.-->
  <div class="iconText iconText--wrap iconText--autoHeight error marBottom8">
    <i class="iconText__icon ss-alert"></i>
    <span class="error__text">
    For RPM plans, the patient must agree to use the mobile app.
    </span>
  </div>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" />
    <span class="styledInput__box"></span>
    Interact with their care team.
  </label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" />
    <span class="styledInput__box"></span>
    Complete daily tasks.
  </label>
</div>

<!--TODO: show if enroll patient step 2-->
<div *ngIf="showEPStep2">
  <label>Email</label>
  <input type="email" class="input fullWidth marBottom32" />
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label>Communication Preference</label>
      <div class="styledSelect fullWidth">
        <select class="styledSelect__select">
          <option>In-App Messaging</option>
          <option>Email</option>
          <option>Phone</option>
        </select>
      </div>
    </div>
    <div class="modal__inputWrap">
      <label>Gender</label>
      <div class="styledSelect fullWidth">
        <select class="styledSelect__select">
          <option>Female</option>
          <option>Male</option>
          <option>Other</option>
        </select>
      </div>
    </div>
  </div>
  <div class="flex justifySpaceBetween">
    <div class="modal__inputWrap0 marRight32">
      <label>Date of Birth</label>
      <div class="datepicker">
        <div class="datepicker__date" (click)="showDate=!showDate">
          Select Date
        </div>
        <app-date-picker class="datepicker__picker datepicker__picker--top" [ngClass]="{ 'isOpen' : showDate }"></app-date-picker>
      </div>
    </div>
    <div class="modal__inputWrap">
      <label>Secondary Insurance (opt)</label>
      <div class="styledSelect fullWidth">
        <select class="styledSelect__select">
          <option>- - - - - - - -</option>
          <option>Humana</option>
          <option>Medicaid</option>
          <option>Medicare</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="modal__buttons">
  <button class="button button--2nd">
    Cancel
  </button>
  <!--TODO: Show if enroll patient step 1-->
  <!--TODO: Save input states when moving to a different step-->
  <button *ngIf="!showEPStep2" class="button"
  (click)="showEPStep2=!showEPStep2">
    Next
  </button>
  <!--TODO: Show if enroll patient step 2-->
  <button *ngIf="showEPStep2" class="button">
    Enroll
  </button>
  <!--TODO: Show if care plan consent-->
  <button *ngIf="" class="button">
    Save
  </button>
</div>
