<h1 class="modal__title">Reminder Email</h1>
<div class="flex marBottom32">
  <div class="marRight32">
    <label>Name</label>
    Tamara Piccone
  </div>
  <div>
    <label>Email</label>
    tpiccone@gmail.com
  </div>
</div>
<label>Subject</label>
<input type="text" class="input fullWidth marBottom32" />
<label>Message</label>
<textarea class="input input--textarea fullWidth"></textarea>
<div class="modal__buttons">
  <button class="button button--2nd">
    Cancel
  </button>
  <button class="button">
    Send
  </button>
</div>
