<h1 class="modal__title">Reminder Email</h1>
<div class="flex marBottom32">
  <div class="marRight32">
    <label>Name</label>
    {{patient.full_name}}
  </div>
  <div>
    <label>Email</label>
    N/A
  </div>
</div>
<label>Subject</label>
<input type="text" class="input fullWidth marBottom32" [(ngModel)]="subjectInput" />
<label>Message</label>
<textarea class="input input--textarea fullWidth" [(ngModel)]="messageInput"></textarea>
<div class="modal__buttons">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" [disabled]="sendDisabled()" (click)="clickSend()">
    Send
  </button>
</div>
