<h1 class="modal__title">Delete Diagnosis?</h1>
<!--TODO: Show the following if deleting a chronic diagnosis, and the patient has a CCM or CCCM plan-->
<div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
  <i class="iconText__icon ss-alert"></i>
  <span class="error__text">
    Two or more chronic diagnoses are required for CCM and CCCM plans. Deleting this diagnosis may affect the patient's eligibility for reimbursement on these plan types.
  </span>
</div>
Are you sure you want to delete this diagnosis?
<div class="modal__buttons modal__buttons--full">
  <button class="button button--2nd">
    Cancel
  </button>
  <button class="button">
    Continue
  </button>
</div>
