<div class="ssContainer ssContents">
  <app-patient-header [currentPage]="'dashboard'"></app-patient-header>
  <!--/ patient header section-->
</div> <!--/.ssContainer (for patient header section)-->

<div class="dashBg">
  <div class="ssContainer ssContents">
    <h2>Past 30 Days</h2>
    <div class="smallChartWrap">
      <div class="smallChart">
        <label>Avg Engagement</label>
        <app-percentage-gauge [size]="260" [percent]="patientAverage?.average_engagement"></app-percentage-gauge>
        <p class="smallChart__desc">
          Percentage of tasks and<br />
          assessments completed
        </p>
      </div> <!--/.smallChart (the 1st one)-->
      <div class="smallChart">
        <label>Avg Outcome</label>
        <app-percentage-gauge [size]="260" [percent]="patientAverage?.average_outcome"></app-percentage-gauge>
        <p class="smallChart__desc">
          Results of well-being<br />
          assessments
        </p>
      </div> <!--/.smallChart (the 2nd one)-->
      <div class="smallChart">
        <label>Avg Risk Level</label>
        <app-percentage-gauge [size]="260" [percent]="patientAverage?.risk_level"></app-percentage-gauge>
        <p class="smallChart__desc">
          Average of outcome %<br />
          and engagement %
        </p>
      </div> <!--/.smallChart (the 3rd one)-->
      <div class="smallChart">
        <label>Satisfaction</label>
        <app-percentage-gauge [size]="260" [percent]="patientAverage?.average_satisfaction"></app-percentage-gauge>
        <p class="smallChart__desc">
          Results of satisfaction<br />
          assessments
        </p>
      </div> <!--/.smallChart (the 4th one)-->
    </div> <!--/.flex (for 30 days charts)-->

    <div class="dashDivider"></div>

    <div class="timeChart">
      <h2>Results Over Time</h2>
      <div class="timeChart__header">
        <div class="flex alignCenter">
          <label class="noMargin marRight8">Viewing</label>
          <div class="styledSelect timeChart__weekSelect marRight32">
            <select class="styledSelect__select" [(ngModel)]="displayWeeks">
              <option *ngFor="let week of resultsOverTime; let i = index" [value]="i + 1">{{i + 1}} Weeks</option>
            </select>
          </div>
          <p class="timeChart__key timeChart__key--dotted">
            Engagement
          </p>
          <p class="timeChart__key">
            Outcomes
          </p>
        </div> <!--/.flex (contains key for time chart)-->

      </div> <!--/.timeChart__header-->

      <app-results-graph [data]="graphedResults"></app-results-graph>

    </div> <!--/.timeChart-->

    <div class="dashDivider"></div>

    <div class="flex justifySpaceBetween">
      <app-date-range
        [datePickerOverrides]="datepickerOptions"
        [startDate]="topBillingStart"
        (startDateChange)="topBillingStart = $event; onRangeChange('top')"
        [endDate]="topBillingEnd"
        (endDateChange)="topBillingEnd = $event; onRangeChange('top')"
      ></app-date-range>
      <a (click)="routeToBillingView()" class="button button--iconText">
        <i class="ss-standard ss-view"></i> View Billing Details
      </a>
    </div>
    <div class="info info--dk info--horiz">
      <div class="info__cell">
        <label>Total Hours</label>
        <h1 class="info__bigNumber">{{formatTime(billingInfo?.top?.total_time)}}</h1>
      </div>
      <div class="info__cell">
        <label>Billable Hours</label>
        <h1 class="info__bigNumber">{{formatTime(billingInfo?.top?.billable_time)}}</h1>
      </div>
      <div class="info__cell">
        <label>Est. Month Total</label>
        <h1 class="info__bigNumber">{{formatMoney(billingInfo?.top?.total_billed)}}</h1>
      </div>
    </div> <!--/.info (for current month to date)-->

    <div class="flex justifySpaceBetween">
      <app-date-range
        [datePickerOverrides]="datepickerOptions"
        [startDate]="bottomBillingStart"
        (startDateChange)="bottomBillingStart = $event; onRangeChange('bottom')"
        [endDate]="bottomBillingEnd"
        (endDateChange)="bottomBillingEnd = $event; onRangeChange('bottom')"
      ></app-date-range>
      <a (click)="routeToBillingView()" class="button button--iconText">
        <i class="ss-standard ss-view"></i> View Billing Details
      </a>
    </div>
    <div class="info info--dk info--horiz">
      <div class="info__cell">
        <label>Total Hours</label>
        <h1 class="info__bigNumber">{{formatTime(billingInfo?.bottom?.total_time)}}</h1>
      </div>
      <div class="info__cell">
        <label>Billable Hours</label>
        <h1 class="info__bigNumber">{{formatTime(billingInfo?.bottom?.billable_time)}}</h1>
      </div>
      <div class="info__cell">
        <label>Est. Month Total</label>
        <h1 class="info__bigNumber">{{formatMoney(billingInfo?.bottom?.total_billed)}}</h1>
      </div>
    </div> <!--/.info (for past month)-->
  </div> <!--/.ssContainer (for patient dashboard section)-->
</div> <!--/.dashBg-->
