<div class="ssContainer ssContents">
  <div class="flex alignCenter marBottom32">
    <div class="flexHeader fullWidth">
      <div class="fullWidth flex">
        <h1 class="noMargin">Inactive Patients ({{totalInactive}})</h1>
        <div class="tool__anchor">
          <button class="button button--icon button--icon--small"
          (click)="toolIP1Open=!toolIP1Open">
            <i class="ss-help"></i>
          </button>
          <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : toolIP1Open }">
            <div class="tool__text">
              Inactive patients have an account, but don’t currently have a care plan, and have not been archived.
            </div>
          </div>
        </div>
      </div>
      <div class="fullWidth"></div>
      <div class="flex fullWidth">
        <div [ngStyle]="{width: '100px', padding: '5px'}"><label>Filter By User</label></div>
        <div class="drop">
          <div class="drop__input" (click)="multi4Open = !multi4Open">
            All
          </div>
          <app-popover [visible]="multi4Open" (visibleChange)="multi4Open = $event">
            <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi4Open }">
              <div class="drop__buttons">
                <button class="button button--iconText" (click)="toggleAllUsers(true)">
                  <i class="ss-check ss-standard"></i> Check All
                </button>
                <button class="button button--iconText" (click)="toggleAllUsers(false)">
                  <i class="ss-ban"></i> Uncheck All
                </button>
              </div>

              <li class="drop__option">
                <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
              </li>

              <li class="drop__option" *ngFor="let employee of employees">
                <label
                  class="drop__checkbox styledInput"
                  title="Behavioral Health Initiative"
                >
                  <input type="checkbox" class="styledInput__input" [(ngModel)]="employeeChecked[employee.id]" />
                  <span class="styledInput__box"></span>
                  {{employee?.user?.first_name}} {{employee?.user?.last_name}}
                </label>
              </li>
            </ul>
          </app-popover>
        </div>
      </div>
    </div>
  </div> <!--/.flex (for title and tooltip)-->

  <div class="flex marBottom48">

    <div class="marRight32">
      <label>Service Area</label>
      <div class="drop">
          <div class="drop__input" (click)="multi2Open = !multi2Open">
            All
          </div>
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi2Open }">
            <div class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllServiceAreas(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllServiceAreas(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div>

            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>

            <li class="drop__option" *ngFor="let serviceArea of allServiceAreas">
              <label class="drop__checkbox styledInput"
              title="Behavioral Health Initiative">
                <input type="checkbox" class="styledInput__input" [(ngModel)]="activeServiceAreas[serviceArea]" />
                <span class="styledInput__box"></span>
                {{serviceArea}}
              </label>
            </li>
          </ul>
        </div>
    </div> <!--/ container for care plan type filter-->

    <div>
      <label>Care Plan</label>
      <div class="drop">
          <div class="drop__input" (click)="multi3Open = !multi3Open">
            All
          </div>
          <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : multi3Open }">
            <div class="drop__buttons">
              <button class="button button--iconText" (click)="toggleAllCarePlans(true)">
                <i class="ss-check ss-standard"></i> Check All
              </button>
              <button class="button button--iconText" (click)="toggleAllCarePlans(false)">
                <i class="ss-ban"></i> Uncheck All
              </button>
            </div>

            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" />
            </li>

            <li class="drop__option" *ngFor="let carePlan of allCarePlans">
              <label
                class="drop__checkbox styledInput"
                title="Behavioral Health Initiative"
              >
                <input type="checkbox" class="styledInput__input" [(ngModel)]="activeCarePlans[carePlan]" />
                <span class="styledInput__box"></span>
                {{carePlan}}
              </label>
            </li>
          </ul>
        </div>
    </div> <!--/ container for care plan name filter-->
  </div> <!--/.flex (for filters)-->



  <div class="accordion" [ngClass]="{'isOpen': facilitiesOpen[facility.id]}" *ngFor="let facility of facilities; let i = index">
    <div class="accordion__head" (click)="facilitiesOpen[facility.id]=!facilitiesOpen[facility.id]">
      <span class="accordion__title">{{facility.name}} (<span *ngIf="facility.inactivePatients">{{facility.inactivePatients.length}}</span>)</span>
      <div class="accordion__right">
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body" *ngIf="facility.inactivePatients && facility.inactivePatients.length">
      <div class="accordion__contents">
        <div class="tableWrap fullWidth">
          <table class="fullWidth">
            <thead>
              <tr>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Patient</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Care Plan</span>
                </th>
                <th class="thSortable">
                  <div class="tool justifyCenter">
                    <span class="thSortable__text">Also</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small" (click)="tooltip2Open=!tooltip2Open">
                        <i class="ss-help"></i>
                      </button>
                      <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltip2Open }">
                        <div class="tool__text">This is the number of additional care plans a patient has. Click the number for details.</div>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Last Contact</span>
                </th>
                <th class="thSortable thSortable--sortDown">
                  <span class="thSortable__text thSortable__text--left">Last App Use</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Care Manager</span>
                </th>
                <th>Archive</th>
              </tr>
            </thead>
            <tbody *ngIf="facility.inactivePatients">
              <ng-container *ngFor="let inactivePatient of facility.inactivePatients">
                <ng-container *ngFor="let plan of inactivePatient.carePlans; let j = index">
                  <tr *ngIf="hasCheckedCareTeamMember(plan)">
                    <td class="left">
                      <a [routerLink]="['/patient', inactivePatient.id]" class="picName">
                        {{inactivePatient.full_name}}
                      </a>
                    </td>
                    <td>
                      <div class="iconText" *ngIf="inactivePatient.care_plan">
                        {{plan.plan_template.name}}
                      </div>
                    </td>
                    <td>
                      <a
                        class="tool__anchor justifyCenter"
                        (click)="openAlsoTip[''+inactivePatient.id+j] = !openAlsoTip[''+inactivePatient.id+j]"
                        *ngIf="getAlsoPlans(j, inactivePatient).length"
                      >
                        {{getAlsoPlans(j, inactivePatient).length}}
                        <div class="tool__tip tool__tip--bottom" [ngClass]="{ 'isOpen' : openAlsoTip[''+inactivePatient.id+j] }">
                          <div class="iconText iconText--white iconText--autoHeight marBottom8" *ngFor="let planName of getAlsoPlans(j, inactivePatient)">
                            {{planName}}
                          </div>
                        </div>
                      </a>
                    </td>
                    <td class="left">--</td>
                    <td class="left">{{formatTimeFromNow(inactivePatient.last_app_use)}}</td>
                    <td class="left">{{inactivePatient.care_manager}}</td>
                    <td>
                      <button class="button button--center button--icon"
                      (click)="confirmArchive(inactivePatient.id, i)">
                        <i class="ss-filecabinet"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div> <!--/.tableWrap-->
      </div> <!--/.accordion__contents-->
      <div class="paginationWrap" *ngIf="lastPage(facilityTotals[facility.id]) > 1">
        <div class="pagination">
            <button class="button button--icon button--icon--dis" (click)="switchNthFacilityPage(i, null, 1)">
                <i class="ss-standard ss-skipback"></i>
            </button>
            <button class="button button--icon button--icon--dis" (click)="switchNthFacilityPage(i, -1)">
                <i class="ss-standard ss-directleft"></i>
            </button>
            <span>{{facilityPages[facility.id]}} of {{lastPage(facilityTotals[facility.id])}}</span>
            <button class="button button--icon" (click)="switchNthFacilityPage(i, 1)">
                <i class="ss-standard ss-directright"></i>
            </button>
            <button class="button button--icon" (click)="switchNthFacilityPage(i, null, lastPage(facilityTotals[facility.id]))">
                <i class="ss-standard ss-skipforward"></i>
            </button>
        </div> <!--/.pagination-->
      </div> <!--/.paginationWrap-->
    </div> <!--/.accordion__body-->
    <div class="accordion__body" *ngIf="facility.inactivePatients && facility.inactivePatients.length === 0">
      <div class="accordion__contents">
        <h2 class="center">No inactive patients for this facility.</h2>
        <h5 class="center">Hint: If you're looking for an archived patient, use the search field in the header.</h5>
      </div>
    </div>

  </div> <!--/.accordion-->
</div> <!--/.ssContainer-->
