<h1 class="modal__title">Problem Areas</h1>
<ul class="marBottom8">
  <li class="problem__item">
    <div *ngIf="!editPA0">
      <div class="flex alignCenter justifySpaceBetween">
        <label class="problem__label">Identified Mar 17, 2018 by Lori Ramirez, RN</label>
        <div class="flex">
          <button class="button button--icon button--icon--small"
          (click)="editPA0=!editPA0">
            <i class="ss-write"></i>
          </button>
          <button class="button button--icon button--icon--small"
          (click)="deletePA0=!deletePA0">
            <i class="ss-delete"></i>
          </button>
        </div>
      </div>
      <h3>Severe Depression</h3>
      <p>
        Unable to concentrate or keep a job or relationship. Patient stays at home most of the time and does not have a lot of human interaction.
      </p>
    </div> <!--/ default problem area-->
    <div *ngIf="editPA0" class="problem__edit">
      <div class="flex alignCenter justifySpaceBetween marBottom16">
        <div class="modal__inputWrap">
          <input type="text" class="input fullWidth" placeholder="Title" />
        </div>
        <div class="modal__inputWrap0 flex">
          <button class="button button--icon button--icon--small"
          (click)="editPA0=!editPA0">
            <i class="ss-undo"></i>
          </button>
          <button class="button button--icon button--icon--small"
          (click)="editPA0=!editPA0">
            <i class="ss-floppydisk"></i>
          </button>
        </div>
      </div> <!--/.flex (for title and buttons)-->
      <textarea class="input input--textarea fullWidth" placeholder="Description"></textarea>
    </div> <!--/ edit problem area-->
    <div *ngIf="deletePA0" class="problem__confirm">
      <p class="problem__question">
        Are you sure you want to delete this problem area?<br />
        This cannot be undone.
      </p>
      <div class="flex justifyEnd">
        <button class="button marRight32" (click)="deletePA0=!deletePA0">
          Cancel
        </button>
        <button class="button button--2nd">
          Confirm
        </button>
      </div>
    </div> <!--/.problem__confirm-->
  </li>

  <li class="problem__item">
    <div *ngIf="!editPA1">
      <div class="flex alignCenter justifySpaceBetween">
        <label class="problem__label">Identified Dec 10, 2017 by Jason Stoneman, MD</label>
        <div class="flex">
          <button class="button button--icon button--icon--small"
          (click)="editPA1=!editPA1">
            <i class="ss-write"></i>
          </button>
          <button class="button button--icon button--icon--small"
          (click)="deletePA1=!deletePA1">
            <i class="ss-delete"></i>
          </button>
        </div>
      </div>
      <h3>Family Issues</h3>
      <p>
        Going through a divorce.
      </p>
    </div> <!--/ default problem area-->
    <div *ngIf="editPA1" class="problem__edit">
      <div class="flex alignCenter justifySpaceBetween marBottom16">
        <div class="modal__inputWrap">
          <input type="text" class="input fullWidth" placeholder="Title" />
        </div>
        <div class="modal__inputWrap0 flex">
          <button class="button button--icon button--icon--small"
          (click)="editPA1=!editPA1">
            <i class="ss-undo"></i>
          </button>
          <button class="button button--icon button--icon--small"
          (click)="editPA1=!editPA1">
            <i class="ss-floppydisk"></i>
          </button>
        </div>
      </div> <!--/.flex (for title and buttons)-->
      <textarea class="input input--textarea fullWidth" placeholder="Description"></textarea>
    </div> <!--/ edit problem area-->
    <div *ngIf="deletePA1" class="problem__confirm">
      <p class="problem__question">
        Are you sure you want to delete this problem area?<br />
        This cannot be undone.
      </p>
      <div class="flex justifyEnd">
        <button class="button marRight32" (click)="deletePA1=!deletePA1">
          Cancel
        </button>
        <button class="button button--2nd">
          Confirm
        </button>
      </div>
    </div> <!--/.problem__confirm-->
  </li>
</ul>
<button *ngIf="!addPA" class="button button--iconText marBottom32"
(click)="addPA=!addPA">
  <i class="ss-plus"></i> Add Problem Area
</button>
<div *ngIf="addPA" class="problem__edit marBottom32">
  <div class="flex alignCenter justifySpaceBetween marBottom16">
    <div class="modal__inputWrap">
      <input type="text" class="input fullWidth" placeholder="Title" />
    </div>
    <div class="modal__inputWrap0 flex">
      <button class="button button--icon button--icon--small"
      (click)="addPA=!addPA">
        <i class="ss-undo"></i>
      </button>
      <button class="button button--icon button--icon--small"
      (click)="addPA=!addPA">
        <i class="ss-plus"></i>
      </button>
    </div>
  </div> <!--/.flex (for title and buttons)-->
  <textarea class="input input--textarea fullWidth" placeholder="Description"></textarea>
</div> <!--/ edit problem area-->
