<h1 class="modal__title">Problem Areas</h1>
<ul class="marBottom8">
  <li class="problem__item" *ngFor="let problemArea of problemAreas; let i = index">
    <div *ngIf="editIndex !== i">
      <div class="flex alignCenter justifySpaceBetween">
        <label class="problem__label">Identified <span *ngIf="problemArea.date_identified">{{moment(problemArea.date_identified).format('MMM D, YYYY')}}</span><span *ngIf="problemArea?.identified_by"> by {{problemArea.identified_by.user.first_name}} {{problemArea.identified_by.user.last_name}}<span *ngIf="problemArea.identified_by.title">, {{problemArea.identified_by.title.abbreviation}}</span></span></label>
        <div class="flex">
          <button class="button button--icon button--icon--small"
          (click)="clickEditProblem(i, problemArea)">
            <i class="ss-write"></i>
          </button>
          <button class="button button--icon button--icon--small"
          (click)="clickDeleteProblem(i)">
            <i class="ss-delete"></i>
          </button>
        </div>
      </div>
      <h3>{{problemArea.name}}</h3>
      <p>
        {{problemArea.description}}
      </p>
    </div> <!--/ default problem area-->
    <div *ngIf="editIndex === i" class="problem__edit">
      <div class="flex alignCenter justifySpaceBetween marBottom16">
        <div class="modal__inputWrap">
          <input type="text" class="input fullWidth" placeholder="Title" [(ngModel)]="currentEditName" />
        </div>
        <div class="modal__inputWrap0 flex">
          <button class="button button--icon button--icon--small"
          (click)="editIndex = -1">
            <i class="ss-undo"></i>
          </button>
          <button class="button button--icon button--icon--small"
          (click)="clickSaveEdit(i)">
            <i class="ss-floppydisk"></i>
          </button>
        </div>
      </div> <!--/.flex (for title and buttons)-->
      <textarea class="input input--textarea fullWidth" placeholder="Description" [(ngModel)]="currentEditText"></textarea>
    </div> <!--/ edit problem area-->
    <div *ngIf="deleteIndex === i" class="problem__confirm">
      <p class="problem__question">
        Are you sure you want to delete this problem area?<br />
        This cannot be undone.
      </p>
      <div class="flex justifyEnd">
        <button class="button marRight32" (click)="deleteIndex = -1">
          Cancel
        </button>
        <button class="button button--2nd" (click)="confirmDelete(i)">
          Confirm
        </button>
      </div>
    </div> <!--/.problem__confirm-->
  </li>
</ul>
<button *ngIf="!addPA" class="button button--iconText marBottom32"
(click)="addPA=!addPA">
  <i class="ss-plus"></i> Add Problem Area
</button>
<div *ngIf="addPA" class="problem__edit marBottom32">
  <div class="flex alignCenter justifySpaceBetween marBottom16">
    <div class="modal__inputWrap">
      <input type="text" class="input fullWidth" placeholder="Title" [(ngModel)]="currentAddName" />
    </div>
    <div class="modal__inputWrap0 flex">
      <button class="button button--icon button--icon--small"
      (click)="addPA=!addPA">
        <i class="ss-undo"></i>
      </button>
      <button class="button button--icon button--icon--small"
      (click)="addProblemArea(); addPA=!addPA">
        <i class="ss-plus"></i>
      </button>
    </div>
  </div> <!--/.flex (for title and buttons)-->
  <textarea class="input input--textarea fullWidth" placeholder="Description" [(ngModel)]="currentAddText"></textarea>
</div> <!--/ edit problem area-->
