<h1 class="modal__title">Edit Plan Duration</h1>
<div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
  <i class="iconText__icon ss-alert"></i>
  <span class="error__text">
    Making changes here will affect X patients currently assigned to this care plan.
  </span>
</div>
<div class="flex">
  <label class="styledInput marRight48">
    <input type="radio" class="styledInput__input" name="radioPDM" />
    <span class="styledInput__radio"></span> Ongoing
  </label>
  <label class="styledInput">
    <input type="radio" class="styledInput__input" name="radioPDM" />
    <span class="styledInput__radio"></span>
    <div class="modal__inputWrap80 marRight8">
      <input type="number" class="input fullWidth" min="0" />
    </div>
    weeks
  </label>
</div>
<div class="modal__buttons">
  <button class="button button--2nd">
    Cancel
  </button>
  <button class="button">
    Save
  </button>
</div>
