<h1 class="modal__title">Add Assessment</h1>
<div *ngIf="editingTemplate" class="marCenter marCenter--twoThirds">
  <div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
    <i class="iconText__icon ss-alert"></i>
    <span class="error__text">
      Making changes here will affect X patients currently assigned to this care plan.
    </span>
  </div>
</div>
<h5 *ngIf="!editingTemplate">NOTE: You are adding an assessment to one patient's care plan. To add an assessment for everyone, go to care&nbsp;plans.</h5>
<div class="grid2col">
  <div class="gridCell--11 marRight32">
    <input type="text" class="input input--search fullWidth marBottom32" placeholder="Search Assessments" [(ngModel)]="searchInput" (ngModelChange)="filterAssessments()" />
    <div class="listBox">
      <ul class="nameList">
        <li class="nameList__item nameList__item--padLeft nameList__item--target"
            *ngFor="let assessment of assessmentsShown" [ngClass]="{'nameList__item--target--active': assessment === selectedAssessment}"
            (click)="selectedAssessment = assessment">
          <div class="flex alignCenter justifySpaceBetween fullWidth">
            <span class="assessment--outcome">{{assessment.name}}<span *ngIf="assessment.tracks_outcome">*</span><span *ngIf="assessment.tracks_satisfaction">**</span></span>
            <div class="flex">
              <button class="button button--icon button--icon--small" (click)="editAssessment(assessment)">
                <i class="ss-write"></i>
              </button>
              <button class="button button--icon button--icon--small" (click)="deleteAssessment(assessment)">
                <i class="ss-delete"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div> <!--/.listBox-->

    <button class="button button--iconText marBottom24" (click)="createNewAssessment()">
      <i class="ss-plus"></i> Create New Assessment
    </button>

    <h5>* Indicates an assessment used to calculate outcome %.</h5>
    <h5>** Indicates an assessment used to calculate satisfaction %.</h5>

    <div class="modal__buttons modal__buttons--full">
      <button class="button button--2nd" (click)="clickCancel()">
        Cancel
      </button>
      <!--TODO: Clicking "next" triggers the edit-task modal, for scheduling the assessment within the care plan-->
      <button class="button" (click)="clickNext()">
        Next
      </button>
    </div>
  </div> <!--/.gridCell--11-->

  <div class="gridCell--21">
    <div class="modal__details">
      <h2 *ngIf="!selectedAssessment" class="modal__empty">Select an assessment to see details</h2>
      <div *ngIf="selectedAssessment">
        <h2 class="marBottom8">{{selectedAssessment.name}}</h2>
        <h4 class="marBottom24" *ngIf="selectedAssessment.tracks_outcome">Tracks Outcome</h4>
        <h4 class="marBottom24" *ngIf="selectedAssessment.tracks_satisfaction">Tracks Satisfaction</h4>
        <h5 class="marBottom32">Note: Each assessment includes an optional notes field (not shown here) for the patient to provide feedback.</h5>

        <div class="assessmentQuestion" *ngFor="let question of selectedAssessment.questions">
          <p>{{question.prompt}}</p>
          <div class="scale marBottom32">
            <div class="scale__hints">
              <h5 class="noMargin">1 ({{question.worst_label}})</h5>
              <h5 class="noMargin">5 ({{question.best_label}})</h5>
            </div>
            <div class="scale__numbers">
              <label class="scale__label">
                <input type="radio" class="scale__input scale__input--unselectable" name="scale1" />
                <div class="scale__number">
                  1
                </div>
              </label>
              <label class="scale__label">
                <input type="radio" class="scale__input scale__input--unselectable" name="scale1" />
                <div class="scale__number scale__number--2">
                  2
                </div>
              </label>
              <label class="scale__label">
                <input type="radio" class="scale__input scale__input--unselectable" name="scale1" />
                <div class="scale__number scale__number--3">
                  3
                </div>
              </label>
              <label class="scale__label">
                <input type="radio" class="scale__input scale__input--unselectable" name="scale1" />
                <div class="scale__number scale__number--4">
                  4
                </div>
              </label>
              <label class="scale__label">
                <input type="radio" class="scale__input scale__input--unselectable" name="scale1" />
                <div class="scale__number scale__number--5">
                  5
                </div>
              </label>
            </div>
          </div> <!--/.scale-->
        </div>
      </div>
    </div> <!--/.modal__details-->
  </div> <!--/.gridCell--21-->
</div> <!--/.grid2col-->
