<div class="enrollment-patient-enrolled-component">
  <h1 class="modal__title noMargin">Patient Enrolled</h1>
  <div class="divider"></div>

  <h2 class="center">{{firstName}} {{lastName}}</h2>
  <p class="center">is now enrolled in</p>
  <h3 class="center marBottom32">
    <span class="marRight8">{{facilityName}}</span>
  </h3>
  <h3 class="center marBottom32">
    <span class="marRight8">{{serviceAreaName}}, {{carePlanName}}</span>
  </h3>
  <h4>Inform the patient that an email has been sent to download the app. They must download the app by {{ startDate }}.</h4>
  <div class="divider"></div>

  <div class="flex justifyEnd marBottom32 modal__buttons">
    <button class="button" (click)="close()">
      Done
    </button>
  </div>
</div>
