<h1 class="modal__title">Add Care Messages</h1>

<!--TODO: If on a care plan template, show the following-->
<div class="marCenter marCenter--twoThirds">
  <div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
    <i class="iconText__icon ss-alert"></i>
    <span class="error__text">
      Making changes here will affect X patients currently assigned to this care plan.
    </span>
  </div>
</div>
<!--TODO: If on a care plan instance, show the following-->
<h5 *ngIf="" class="center">NOTE: You are working on one patient's care plan. To do this for everyone, go to care plans.</h5>

<div class="grid2col">
  <div class="gridCell--11 marRight32">
    <input type="text" class="input input--search fullWidth marBottom32" placeholder="Search Care Messages"  [(ngModel)]="searchInput" (ngModelChange)="filterMessages()"/>
    <div class="listBox">
      <ul class="nameList">
        <li class="nameList__item nameList__item--padLeft nameList__item--target"
          [ngClass]="{'nameList__item--target--active': message.id === selectedTemplate?.id}"
          *ngFor="let message of careMessagesShown"
          (click)="selectedTemplate = message;">
          <div class="flex alignCenter justifySpaceBetween fullWidth">
            <span>{{message.name}}</span>
            <div class="flex">
              <button class="button button--icon button--icon--small" (click)="clickEditMessage(message)">
                <i class="ss-write"></i>
              </button>
              <button class="button button--icon button--icon--small" (click)="clickDeleteMessage()">
                <i class="ss-delete"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div> <!--/.listBox-->

    <button class="button button--iconText marBottom24" (click)="clickNewStream()">
      <i class="ss-plus"></i> Create New Care Message
    </button>

    <div class="modal__buttons modal__buttons--full">
      <button class="button button--2nd" (click)="clickCancel()">
        Cancel
      </button>
      <button class="button" [disabled]="nextDisabled()" (click)="clickNext()">
        Next
      </button>
    </div>
  </div> <!--/.gridCell--11-->

  <div class="gridCell--21">
    <div class="modal__details">
      <h2 *ngIf="!selectedTemplate" class="modal__empty">Select a message stream to see details</h2>
      <div *ngIf="selectedTemplate">
        <h2 class="marTop16">{{selectedTemplate.name}}</h2>
        <ul class="messagesList">
          <li *ngFor="let message of selectedTemplate.messages">
            {{message.text}}
          </li>
        </ul>
      </div>
    </div> <!--/.modal__details-->
  </div> <!--/.gridCell--21-->
</div> <!--/.grid2col-->
