<h1 class="modal__title">Change Password</h1>
<label>Current Password</label>
<input type="password" class="input fullWidth marBottom8" />
<div class="tool__anchor">
  <button class="button button--iconText marBottom16"
  (click)="tooltipCPM0Open=!tooltipCPM0Open">
    <i class="ss-help"></i>
    Forgot Password
  </button>
  <div class="tool__tip tool__tip--left" [ngClass]="{ 'isOpen' : tooltipCPM0Open }">
    <div class="tool__text">
      If you don’t remember your password, you’ll need to log out and reset it.
    </div>
    <button class="button button--iconText">
      <i class="ss-door"></i> Go There Now
    </button>
  </div>
</div>

<div class="iconText iconText--wrap iconText--autoHeight error marBottom24">
  <i class="iconText__icon ss-alert"></i>
  <span class="error__text">Passwords must be at least eight characters, with at least one capital letter, and one number or special character (1, @, %). Passwords cannot include spaces or any of the following characters: /, <, >.</span>
</div>
<label>New Password</label>
<input type="password" class="input fullWidth marBottom32" />
<label>Confirm New Password</label>
<input type="password" class="input fullWidth" />
<div class="modal__buttons">
  <button class="button button--2nd" (click)="modals.close('cancel')">
    Cancel
  </button>
  <button class="button">
    Save
  </button>
</div>
