<h1 class="modal__title">
	<!--TODO: If creating a stream, show the following-->
	<!--<span>Create</span>-->
	<!--TODO: If editing a stream, show the following-->
	<span>Edit</span>
	Care Message
</h1>

<div class="marCenter marCenter--twoThirds" *ngIf="editingTemplate">
	<div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
		<i class="iconText__icon ss-alert"></i>
		<span class="error__text">
			Making changes here will affect {{totalPatients}} patients currently assigned to this care plan.
		</span>
	</div>
</div>
<h5 *ngIf="!editingTemplate" class="center">NOTE: You are working on one patient's care plan. To do this for everyone, go to care plans.</h5>

<form [formGroup]="streamForm">
  <div class="flex justifySpaceBetween marBottom32">
  	<div class="modal__inputWrap marRight32">
  		<label class="label48">Care Message Name</label>
  		<input type="text" class="input fullWidth" formControlName="name" />
  	</div>
  	<div class="stream__typeSelectWrapper">
  		<div class="tool">
  			<label class="noMargin">Type</label>
  			<div class="tool__anchor">
  				<button class="button button--icon button--icon--small" (click)="tooltipCMS0Open=!tooltipCMS0Open">
  					<i class="ss-help"></i>
  				</button>
  				<div class="tool__tip tool__tip--right tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipCMS0Open }">
  					<div class="tool__text">
  						Care Messages provide an ongoing thread of text messages.
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="styledSelect">
  			<select class="styledSelect__select" formControlName="type" (change)="streamForm.controls.type.setValue($event.target.value)">
  				<option [value]="'education'">Education</option>
  				<option [value]="'support'">Support</option>
  				<option [value]="'medication'">Medication</option>
  			</select>
  		</div>
  	</div>
  </div>
  <!--/.flex (for name and type)-->
</form>

<div class="tool">
	Messages
	<div class="tool__anchor">
		<button class="button button--icon button--icon--small" (click)="messageTooltipOpen=!messageTooltipOpen">
			<i class="ss-help"></i>
		</button>
		<div class="tool__tip tool__tip--left" [ngClass]="{ 'isOpen' : messageTooltipOpen }">
			<div class="tool__text">
				Care Messages are designed to be quick thoughts that can given to the patients. The goal is to keep them short and sweet.
			</div>
		</div>
	</div>
</div>
<div class="stream__row" *ngFor="let message of stream?.messages; index as i;">
	<div class="fullWidth flex justifySpaceBetween">
		<textarea class="input input--textarea stream__textarea" [(ngModel)]="message.text"></textarea>
		<button class="button button--icon" (click)="deleteMessageOpen[i] = true">
			<i class="ss-delete"></i>
		</button>
	</div>
	<div *ngIf="deleteMessageOpen[i]" class="problem__confirm problem__confirm--stream">
		<p class="problem__question">
			Are you sure you want to delete this message?<br />
			This cannot be undone.
		</p>
		<div class="flex justifyEnd">
			<button class="button marRight32" (click)="deleteMessageOpen[i] = false">
				Cancel
			</button>
			<button class="button button--2nd" (click)="clickDeleteMessage(message)">
				Confirm
			</button>
		</div>
	</div>
	<!--/.problem__confirm-->
</div>
<!--/.stream__row-->

<button *ngIf="!showAddMessageForm" class="button button--iconText" (click)="clickAddMessage()">
	<i class="ss-plus"></i> Add Message
</button>

<div class="modal__buttons">
	<button class="button button--2nd" (click)="clickCancel()">
		Cancel
	</button>
	<button class="button" (click)="clickSave()">
		Save
	</button>
</div>
