/* APP-SPECIFIC GLOBAL VARIABLES
---------------------------------------- */

// colors
$grayDker: #2f3d45;
$grayDk: #45555a;
$gray: #657880;
$grayLt: #92abb5;
$grayLter: #d2dade;
$grayLtest: #e2eaee;

$greenLt: #92d2b9;
$green: #49b48b;
$greenDk: #358370;
$greenDker: #1b7361;

$blue: #2180a0;

$purple: #880e4f;
$red: #f44336;
$orange: #f57c00;
$yellow: #ff9800;
$lime: #4caf50;

$border: $grayLter;
$borderDk: $grayLt;
$borderDker: $gray;
$borderDkest: $grayDk;

$offWhite: rgba(255,255,255,.5);
