<h1 class="modal__title">
  <span *ngIf="!isEditing">Create</span>
  <span *ngIf="isEditing">Edit</span>
  Assessment
</h1>
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight32">
    <label class="label48">Assessment Name</label>
    <input type="text" class="input fullWidth" [(ngModel)]="nameInput" />
  </div>
  <div class="">
    <div class="tool">
      <label class="noMargin">assessment tracks</label>
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small"
        (click)="tooltipCAM0Open=!tooltipCAM0Open">
          <i class="ss-help"></i>
        </button>
        <div class="tool__tip tool__tip--right tool__tip--bottom" [ngClass]="{ 'isOpen' : tooltipCAM0Open }">
          <div class="tool__text">
            When an assessment tracks an outcome, it factors into the patient's outcome %. When an assessment tracks satisfaction, it applies to the patient's satisfaction score.
          </div>
        </div>
      </div>
    </div>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="assessmentTracking">
        <option [value]="null">None</option>
        <option [value]="'outcome'">Outcome</option>
        <option [value]="'satisfaction'">Satisfaction</option>
      </select>
    </div>
  </div>
</div> <!--/.flex (for assessment name and tracking)-->

<table>
  <thead>
    <tr>
      <th class="left">Question</th>
      <th class="left">Label 1 (Worst Outcome)</th>
      <th class="left">Label 5 (Best Outcome)</th>
      <th class="noPad">Order</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of sortQuestions(assessment.questions); index as i;">
      <td>
        <input type="text" class="input assessment__name" [(ngModel)]="question.prompt" />
      </td>
      <td>
        <input type="text" class="input fullWidth" value="Worst" [(ngModel)]="question.worst_label" />
      </td>
      <td>
        <input type="text" class="input fullWidth" value="Best" [(ngModel)]="question.best_label" />
      </td>
      <td class="noPad">
        <div class="flex">
          <button class="button button--icon" [disabled]="i === 0" (click)="moveUp(question)">
            <i class="ss-standard ss-navigateup"></i>
          </button>
          <button class="button button--icon" [disabled]="i === (assessment.questions.length - 1)" (click)="moveDown(question)">
            <i class="ss-standard ss-navigatedown"></i>
          </button>
        </div>
      </td>
      <td class="noPad">
        <button class="button button--icon button--icon--small" (click)="clickDeleteQuestion(question)">
          <i class="ss-delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="button button--iconText" (click)="addQuestionLine()">
  <i class="ss-plus"></i> Add Question
</button>

<div class="modal__buttons">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" [disabled]="!this.assessment.questions || !this.nameInput" (click)="clickSave()">
    Save
  </button>
</div>
