<div class="ssContainer ssContents">
  <app-plan-header [planTemplate]="planTemplate"></app-plan-header>
  <div class="accordion" [ngClass]="{ 'isOpen' : accordionOpen[facility.id] }" *ngFor="let facility of facilities">
    <div class="accordion__head" (click)="accordionOpen[facility.id] = !accordionOpen[facility.id]">
      <span class="accordion__title">{{facility.name}} (<span *ngIf="facility.plans">{{facility.plans.length}}</span><span *ngIf="!facility.plans">0</span>)</span>
      <!-- Shows if stats are available for plan -->
      <div class="accordion__right" *ngIf="facility.plans && facility.plans.length > 0">
        <div class="pill marRight16">
          Time {{totalTimeCount(facility.plans)}}
        </div>
        <div class="pill" [ngStyle]="{'background': utils.percentPillColor(totalFacilityRiskLevel(facility))}">
          {{utils.getRiskLevelText(totalFacilityRiskLevel(facility))}} {{totalFacilityRiskLevel(facility)}}%
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
      <!-- Shows if no stats are available for plan -->
      <div class="accordion__right" *ngIf="!facility.plans || facility.plans.length === 0">
        <div class="pill marRight16">
          Time 0:00
        </div>
        <div class="pill">
          N/A
        </div>
        <div class="accordion__arrow">
          <i class="ss-standard ss-navigateright"></i>
        </div>
      </div>
    </div> <!--/.accordion__head-->
    <div class="accordion__body" *ngIf="facility.plans && facility.plans.length > 0">
      <div class="accordion__contents">
        <div class="tableWrap fullWidth">
          <table class="fullWidth">
            <thead>
              <tr>
                <th class="thSortable">
                  <span class="thSortable__text thSortable__text--left">Patient</span>
                </th>
                <th class="thSortable">
                  <div class="tool">
                    <span class="thSortable__text">Other Plans</span>
                    <div class="tool__anchor">
                      <button class="button button--icon button--icon--small" (click)="otherPlansInfoOpen[facility.id]=!otherPlansInfoOpen[facility.id]"><i class="ss-info"></i></button>
                      <app-popover [visible]="otherPlansInfoOpen[facility.id]" (visibleChange)="otherPlansInfoOpen[facility.id] = $event;">
                        <div class="tool__tip tool__tip--bottom isOpen">
                          <div class="tool__text">This is the number of additional care plans a patient has. Click the number for details.</div>
                        </div>
                      </app-popover>
                    </div>
                  </div>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Monthly Time</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">My Tasks This Week</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Progress</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Last Contact</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Engagement</span>
                </th>
                <th class="thSortable">
                  <span class="thSortable__text">Outcomes</span>
                </th>
                <th class="thSortable thSortable--sortDown">
                  <span class="thSortable__text">Risk Level</span>
                </th>
                <th class="noPad"></th>
              </tr>
            </thead>
            <tbody *ngIf="facility.plans">
              <tr *ngFor="let plan of facility.plans">
                <td class="left hideOverflow">
                  <a [routerLink]="['/patient', plan.patient.id]" class="picName">
                    <img class="picName__img" [src]="plan.patient.image_url" />
                    {{plan.patient.full_name}}
                  </a>
                </td>
                <td>
                  <a class="tool__anchor justifyCenter">
                    <span (click)="otherPlansOpen[plan.id]=!otherPlansOpen[plan.id]">
                      {{plan.other_plans}}
                    </span>
                    <app-popover [visible]="otherPlansOpen[plan.id]" (visibleChange)="otherPlansOpen[plan.id] = $event;">
                      <div class="tool__tip tool__tip--bottom isOpen">
                        <div class="iconText iconText--white iconText--autoHeight marBottom8">
                          Anxiety
                        </div>
                        <div class="iconText iconText--white iconText--autoHeight">
                          Heart Diseases and Such
                        </div>
                      </div>
                    </app-popover>
                  </a>
                </td>
                <td><div class="pill">{{plan.time_count}}</div>
                </td>
                <td>
                  <!--TODO: This link should also open the care team tasks accordion on the plan instance overview page-->
                  <a (click)="routeToPatientOverview(plan.patient.id, plan.id)" class="justifyCenter">{{plan.tasks_this_week}}</a>
                </td>
                <td>
                  <div class="progress" *ngIf="plan.plan_template.duration_weeks >= 0">
                    Week {{progressInWeeks(plan)}} of {{plan.plan_template.duration_weeks}}
                    <div class="progress__bg">
                      <div class="progress__bar" [ngStyle]="{width: (progressInWeeks(plan) / plan.plan_template.duration_weeks) * 100 + '%'}"></div>
                    </div>
                  </div>
                  <div *ngIf="plan.plan_template.duration_weeks < 0">
                    Ongoing
                  </div>
                </td>
                <td>N/A</td>
                <td><div class="pill" [ngStyle]="{'background': utils.percentPillColor(plan.average_engagement)}">{{plan.average_engagement}}%</div></td>
                <td><div class="pill" [ngStyle]="{'background': utils.percentPillColor(plan.average_outcome)}">{{plan.average_outcome}}%</div></td>
                <td><div class="pill" [ngStyle]="{'background': utils.percentPillColor(plan.risk_level)}">{{utils.getRiskLevelText(plan.risk_level)}} {{plan.risk_level}}%</div></td>
                <td class="noPad">
                  <button class="button button--icon button--icon--small"
                  (click)="openReassignPatients()">
                    <i class="ss-delete"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="paginationWrap">
            <button class="button button--iconText"
            (click)="addPatientToPlan()">
              <i class="ss-plus"></i> Add Patient
            </button>
            <!-- <div class="pagination">
                <button class="button button--icon button--icon--dis">
                    <i class="ss-standard ss-skipback"></i>
                </button>
                <button class="button button--icon button--icon--dis">
                    <i class="ss-standard ss-directleft"></i>
                </button>
                <span>1 of 1</span>
                <button class="button button--icon">
                    <i class="ss-standard ss-directright"></i>
                </button>
                <button class="button button--icon">
                    <i class="ss-standard ss-skipforward"></i>
                </button>
            </div> -->
          </div> <!--/.paginationWrap-->
        </div> <!--/.tableWrap-->
      </div> <!--/.accordion__contents-->
    </div> <!--/.accordion__body-->
    <div class="accordion__body" *ngIf="!facility.plans || facility.plans.length === 0">
      <div class="accordion__contents">
        <h2 class="center">No patients have been added to this care plan.</h2>
        <button class="button button--center button--iconText"
        (click)="addPatientToPlan()">
          <i class="ss-plus"></i> Add Patient
        </button>
      </div>
    </div>
  </div> <!--/.accordion-->
</div> <!--/.ssContainer-->
