<h1 class="modal__title">Edit Communication</h1>
<form>
  <label>Email</label>
  <input type="email" class="input fullWidth marBottom32" />
  <div class="flex justifySpaceBetween">
    <div class="modal__inputWrap160 marRight32">
      <label>Phone</label>
      <input type="tel" class="input fullWidth"  />
    </div>
    <div class="modal__inputWrap">
      <label>Comm. Preference</label>
      <div class="styledSelect">
        <select class="styledSelect__select">
          <option>In-App Message</option>
          <option>Email</option>
          <option>Phone</option>
          <option>Text (SMS)</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal__buttons">
    <button class="button button--2nd">
      Cancel
    </button>
    <button class="button">
      Save
    </button>
  </div>
</form>
