<button class="button button--icon modal__close marRight48" (click)="clickPreview()">
  <i class="ss-standard ss-view"></i>
</button>
<h1 class="modal__title">
  <span *ngIf="!isEditing">Create</span>
  <span *ngIf="isEditing">Edit</span>
  Vital
</h1>
<form [formGroup]="vitalForm">
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label class="label48">Vital Name</label>
      <input type="text" class="input fullWidth" formControlName="name" />
    </div>
    <div class="">
      <div class="tool">
        <label class="noMargin">Syncing</label>
        <div class="tool__anchor">
          <button class="button button--icon button--icon--small" (click)="syncTooltipOpen=!syncTooltipOpen">
            <i class="ss-help"></i>
          </button>
          <app-popover [visible]="syncTooltipOpen" (visibleChange)="syncTooltipOpen = $event;">
            <div class="tool__tip isOpen">
              <div class="tool__text">
                Check this box to save this data to the EHR.
              </div>
            </div>
          </app-popover>
        </div>
      </div>
      <label class="styledInput">
        <input type="checkbox" class="styledInput__input" />
        <span class="styledInput__box"></span> Sync to EHR
      </label>
    </div>
  </div>
  <label>Instructions (opt)</label>
  <textarea class="input input--textarea marBottom16" formControlName="instructions"></textarea>
</form>
<div class="vitalGridWrap">
  <div class="vitalGrid">
    <div class="vitalGrid__cell vitalGrid__cell--noPadTop gridCell--11">
      <label class="label48">Question</label>
    </div>
    <div class="vitalGrid__cell vitalGrid__cell--noPadTop gridCell--21">
      <div class="tool">
        <label class="noMargin">Type</label>
        <div class="tool__anchor">
          <button class="button button--icon button--icon--small" (click)="typeTooltipOpen=!typeTooltipOpen">
            <i class="ss-help"></i>
          </button>
          <app-popover [visible]="typeTooltipOpen" (visibleChange)="typeTooltipOpen = $event;">
            <div class="tool__tip isOpen">
              <div class="tool__text">
                Question types include:
                <ul class="disc">
                  <li>
                    True/False
                  </li>
                  <li>
                    Time: For example, 3:15 PM.
                  </li>
                  <li>
                    Number: Includes an optional field for units.
                  </li>
                  <li>
                    Scale: A rating from 1-5.
                  </li>
                  <li>
                    Free Response
                  </li>
                </ul>
              </div>
            </div>
          </app-popover>
        </div> <!--/.tool__anchor-->
      </div> <!--/.tool-->
    </div>
    <div class="vitalGrid__cell vitalGrid__cell--noPadSide vitalGrid__cell--noPadTop gridCell--31">
      <label class="label48 label48--center">Order</label>
    </div>
  </div> <!--/.vitalGrid (for "table" headers)-->

  <div class="vitalGrid vitalGrid--row" *ngFor="let question of sortQuestions(vital?.questions); index as i;">
    <div class="vitalGrid__cell gridCell--11">
      <input type="text" class="input fullWidth" [(ngModel)]="question.prompt" />
    </div>
    <div class="vitalGrid__cell gridCell--21">
      <div class="flex">
        <div class="styledSelect" [ngClass]="{'vital__selectNumber': answerTypeIsNumber(question.answer_type), 'fullWidth': !answerTypeIsNumber(question.answer_type)}">
          <select class="styledSelect__select" [(ngModel)]="question.answer_type">
            <option [value]="'boolean'">True/False</option>
            <option [value]="'time'">Time</option>
            <option [value]="'number'">Number</option>
            <option [value]="'scale'">Scale</option>
            <option [value]="'string'">Free Response</option>
          </select>
        </div>
        <div class="styledSelect" *ngIf="answerTypeIsNumber(question.answer_type)">
          <select class="styledSelect__select" [(ngModel)]="question.number_type">
            <option [value]="'integer'">Integer</option>
            <option [value]="'float'">Decimal</option>
          </select>
        </div>
      </div>
    </div>
    <div class="vitalGrid__cell vitalGrid__cell--noPadSide gridCell--31">
      <div class="flex">
        <button class="button button--icon" [disabled]="i === 0" (click)="moveUp(question)">
          <i class="ss-standard ss-navigateup"></i>
        </button>
        <button class="button button--icon" [disabled]="i === (vital.questions.length - 1)" (click)="moveDown(question)">
          <i class="ss-standard ss-navigatedown"></i>
        </button>
      </div>
    </div>
    <div class="vitalGrid__cell vitalGrid__cell--noPadSide gridCell--41">
      <button class="button button--icon button--icon--small" (click)="clickDeleteQuestion(question)">
        <i class="ss-delete"></i>
      </button>
    </div>
  </div> <!--/.vitalGrid--row-->
</div> <!--/.vitalGridWrap-->

<button class="button button--iconText" (click)="addMetricLine()">
  <i class="ss-plus"></i> Add Metric
</button>

<div class="modal__buttons">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" (click)="clickSave()">
    Save
  </button>
</div>
