@import '~scss/mixins';
@import '~scss/variables';
@import '../../../modules/modals/modal-outlet.component.scss';


.flex1 {
  flex: 1;
}

.input {
  width: 100%;
}


.drop__input {
  min-width: inherit;
  max-width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 212px;
}

.datepicker__date {
  width: 100%;
}
