@import '~scss/mixins';
@import '~scss/variables';
@import '../../../modules/modals/modal-outlet.component.scss';

app-time-picker {
  max-width: inherit;
  width: 100%;

  input {
    text-align: left;
    width: 100%;
  }
}


.flex1 {
  flex: 1;
}

h5 {
  font-size: 1rem;
}

.input {
  width: 100%;
}


.drop__input {
  min-width: inherit;
  max-width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 212px;

  &--disabled {
    cursor: not-allowed;
  }
}

.datepicker__date {
  width: 100%;
}
