<h1 class="modal__title">
  <!--TODO: If adding procedure, show the following span-->
  <!---->
  <span>Add</span>
  <!---->
  <!--TODO: If editing procedure, show the following span-->
  <!--
  <span>Edit</span>
  -->
  Procedure
</h1>

<!--TODO: If adding diagnosis, show the following div-->
<!---->
<div>
  <label>Procedure</label>
  <div class="drop marBottom32">
    <input class="input input--search fullWidth" type="text" (click)="dropAPOpen = !dropAPOpen" placeholder="Search by name or PX Code" />
    <ul class="drop__dropdown fullWidth" [ngClass]="{ 'isOpen' : dropAPOpen }" (click)="dropAPOpen = !dropAPOpen">
      <li class="drop__option">
        <a class="drop__link">Bypass (1234567)</a>
      </li>
      <li class="drop__option">
        <a class="drop__link">Double Bypass (1234568)</a>
      </li>
      <li class="drop__option">
        <a class="drop__link">Knee Replacement (1234569)</a>
      </li>
    </ul>
  </div>
</div>
<!---->

<!--TODO: If editing diagnosis, show following div-->
<!--
<div class="marBottom32">
  <label>Procedure (PX Code)</label>
  <p>Double Bypass (1234569)</p>
</div>
-->

<form>
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label>Attending Practitioner</label>
      <input type="text" class="input fullWidth" />
    </div>
    <div class="modal__inputWrap0">
      <label>Date</label>
      <div class="datepicker">
        <div class="datepicker__date" (click)="showADDate=!showADDate">
          Select Date
        </div>
        <app-date-picker class="datepicker__picker datepicker__picker--right" [ngClass]="{ 'isOpen' : showADDate }"></app-date-picker>
      </div>
    </div>
  </div>
  <label>Facility</label>
  <input type="text" class="input fullWidth" />
</form>

<div class="modal__buttons">
  <button class="button button--2nd">
    Cancel
  </button>
  <button class="button">
    Save
  </button>
</div>
