<h1 class="modal__title">
  <!--TODO: If adding procedure, show the following span-->
  <!---->
  <span *ngIf="data?.type !== 'edit'">Add</span>
  <span *ngIf="data?.type === 'edit'">Edit</span>
  <!---->
  <!--TODO: If editing procedure, show the following span-->
  <!--
  <span>Edit</span>
  -->
  Procedure
</h1>

<!--TODO: If adding diagnosis, show the following div-->
<!---->
<div>
  <label>Procedure</label>
  <div class="drop marBottom32" *ngIf="!selectedProcedure">
    <input class="input input--search fullWidth" type="text" (click)="procedureSearchOpen = !procedureSearchOpen" placeholder="Search by name or PX Code" [(ngModel)]="procedureSearchTerm" (ngModelChange)="filterProcedures($event)" />
    <app-popover [visible]="procedureSearchOpen" (visibleChange)="procedureSearchOpen = $event;" [options]="procedureDropOptions">
      <ul class="drop__dropdown fullWidth isOpen" (click)="procedureSearchOpen = !procedureSearchOpen">
        <li class="drop__option" *ngFor="let procedure of proceduresShown" (click)="setSelectedProcedure(procedure)">
          <a class="drop__link">{{procedure.name}} ({{procedure.px_code}})</a>
        </li>
      </ul>
    </app-popover>
  </div>
  <div class="flex alignCenter marBottom32" *ngIf="selectedProcedure">
    <h2 class="noMargin marRight8">{{selectedProcedure.name}} ({{selectedProcedure.px_code}})</h2>
    <button class="button button--icon button--icon--small" (click)="clearSelectedProcedure()">
      <i class="ss-delete"></i>
    </button>
  </div>
</div>
<!---->

<!--TODO: If editing diagnosis, show following div-->
<!--
<div class="marBottom32">
  <label>Procedure (PX Code)</label>
  <p>Double Bypass (1234569)</p>
</div>
-->

<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight32">
    <div class="drop">
    <label>Attending Practitioner</label>
    <input class="input input--search fullWidth" type="text" placeholder="Search" [(ngModel)]="employeeSearchString" (keypress)="clearEmployeeSelection()" />
    <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : employeeSearchString.length > 2 && !selectedEmployee }">
      <li class="drop__option" *ngFor="let employee of searchEmployees" (click)="selectedEmployee = employee; employeeSearchString = employeeFullName">
        <a class="drop__link">
          <div class="picName">
            {{employee?.user?.first_name}} {{employee?.user?.last_name}}
          </div>
        </a>
      </li>
    </ul>
    </div>
  </div>
  <div class="modal__inputWrap0">
    <label>Date</label>
    <div class="datepicker">
      <div class="datepicker__date" (click)="showDatePicker=!showDatePicker">
        <span *ngIf="!selectedDate">Select Date</span>
        <span *ngIf="selectedDate">{{selectedDate.format('MMM D, YYYY')}}</span>
      </div>
      <app-popover [visible]="showDatePicker" (visibleChange)="showDatePicker = $event;" [options]="datePickerOptions">
        <app-date-picker class="datepicker__picker datepicker__picker--right isOpen" [selected]="selectedDate" (selectedChange)="setSelectedDay($event)"></app-date-picker>
      </app-popover>
    </div>
  </div>
</div>
<div class="modal__inputWrap marRight32">
  <div class="drop">
  <label>Facility</label>
  <input class="input input--search fullWidth" type="text" placeholder="Search" [(ngModel)]="facilitySearchString" (keypress)="clearFacilitySelection()" />
  <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : facilitySearchString.length > 2 && !selectedFacility }">
    <li class="drop__option" *ngFor="let facility of searchFacilities" (click)="selectedFacility = facility; facilitySearchString = facility.name">
      <a class="drop__link">
        <div class="picName">
          {{facility.name}}
        </div>
      </a>
    </li>
  </ul>
  </div>
</div>

<div class="modal__buttons">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" (click)="clickSave()">
    Save
  </button>
</div>
