@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.user__infoDetails {
  // additional padding on the right to accommodate edit button next to question icon
  padding: rem-calc(24) rem-calc(48) rem-calc(24) rem-calc(24);
}

.upperRow {
  margin: 30px auto;
}

.bc {
  .nameList {
    li {
      border: none;
      justify-content: left;
    }
  }
  border: 1px dashed #657880;
  padding: 20px;
  margin-bottom: 20px;
}

.emailbox {
    width: unset;
}

.accordion__contents {
  padding-bottom: 0px;
}