<div class="ssContainer ssContents">
  <div class="flexHeader wrap">
      <div class="flex alignCenter">
        <div class="picName marRight32">
          <!--TODO: Clicking pic should trigger file upload-->
          <img
            class="picName__img picName__img--big"
            *ngIf="employee?.user.image_url"
            [src]="employee?.user.image_url ? employee?.user.image_url : '../../../assets/img/profile.svg'"
            (click)="clickImageUpload()"
          />
          <input #imageUpload type="file" class="hiddenInput" (change)="processUpload()" accept="image/*" />
          <div *ngIf="!editName" class="flex alignCenter">
            <h1 class="noMargin marRight8">{{first_name}} {{last_name}}<span *ngIf="employee?.title">, {{employee?.title.abbreviation}}</span></h1>
            <button class="button button--icon" (click)="editName=!editName" *ngIf="isCurrentUser">
              <i class="ss-write"></i>
            </button>
          </div>
          <form *ngIf="editName" class="flexForm">
            <input type="text" class="input flexForm__input" placeholder="First Name" [(ngModel)]="first_name" name="first" />
            <input type="text" class="input flexForm__input" placeholder="Last Name" [(ngModel)]="last_name" name="last" />
            <div class="styledSelect flexForm__title">
              <select class="styledSelect__select" [(ngModel)]="title" [compareWith]="compareFn" name="editTitle">
                <option>Title</option>
                <option *ngFor="let title of titles" [ngValue]="title">{{title.abbreviation}}</option>
              </select>
            </div>
            <button class="button button--icon button--flex" (click)="editName=!editName; first_name = employee.user.first_name; last_name = employee.user.last_name">
              <i class="ss-undo"></i>
            </button>
            <button class="button button--icon button--flex" (click)="saveUserName(); editName=!editName">
              <i class="ss-floppydisk"></i>
            </button>
          </form>
        </div>
        <div class="fullWidth flex">
          <div>
            <label>Status</label>
            {{employee?.status}} <span *ngIf="employee?.status === 'active'">({{activeSince}})</span>
          </div>
          <button class="button button--iconText" (click)="confirmToggleActive()" *ngIf="employee">
            <i class="ss-standard ss-ban"></i>Make {{employee?.status === 'active' ? 'Inactive' : 'Active'}}
          </button>
        </div>
      </div>
      <div>
        <!--TODO: Show "change password" button in place of "make inactive" if user is viewing this themselves-->
        <!--<button class="button button--iconText">
          <i class="ss-ban"></i> Make Inactive
        </button>-->
      </div>
  </div> <!--/.flexHeader-->

  <div class="flex">
    <div class="info info--horiz marRight24 user__infoDetails">
      <div class="info__cell">
        <label>Employed By</label>
        {{employedBy?.name}}
      </div>
      <div class="info__cell">
        <label>Specialty</label>
        <span *ngIf="employee?.specialty">{{employee?.specialty.name}}</span>
        <span *ngIf="!employee?.specialty">--</span>
      </div>
      <div class="info__cell">
        <label>Phone</label>
        <span *ngIf="employee?.user.phone">{{employee?.user.phone}}</span>
        <span *ngIf="!employee?.user.phone">--</span>
      </div>
      <div class="info__cell">
        <label class="tool info__tool">NPI
          <div class="tool__anchor">
            <button class="button button--icon button--icon--small" (click)="tooltip1Open=!tooltip1Open">
              <i class="ss-help"></i>
            </button>
            <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip1Open }">
              <div class="tool__text">
                By adding the NPI number to the user profile, we can link providers to the electronic medical records (EMR). If the user is not a provider they won't have an NPI number.
              </div>
            </div>
          </div>
        </label>
        <span *ngIf="employee?.npi_code">{{employee?.npi_code}}</span>
        <span *ngIf="!employee?.npi_code">--</span>
      </div>
      <button class="button button--icon button--icon--small info__edit"
      (click)="editUserDetails()">
        <i class="ss-write"></i>
      </button>
    </div> <!--/.info (for employer, specialty, phone, npi)-->
    <div class="info emailbox">
      <div class="info__cell info__cell--left">
        <!--TODO: Only show edit email button on user profile-->
        <button class="button button--icon button--icon--small info__edit" (click)="openChangeEmail()" *ngIf="isCurrentUser">
          <i class="ss-write"></i>
        </button>
        <label class="noMargin">Email</label>
        <!--TODO: Don't show email address as a mailto link on user profile-->
        <a href="mailto:{{employee?.user.email}}">{{employee?.user.email}}</a>
      </div>
    </div> <!--/.info (for email)-->
  </div> <!--/.flex (for user details)-->

  <div class="flex justifySpaceBetween">
    <h2 class="marBottom24">Assignments (Current Month-to-Date)</h2>
    <!--TODO: When this link is clicked, filter active patients list by this provider-->
  </div>
  <div class="info info--horiz">
    <div class="info__cell">
      <label>Facilities</label>
      2
    </div>
    <div class="info__cell">
      <label>CM & CT</label>
      {{ctCount}} & {{cmCount}}
    </div>
    <div class="info__cell">
      <label>Billable Patients</label>
      {{billableCount}}
    </div>
    <div class="info__cell">
      <label>Billable Hours</label>
      <div class="pill pill--yellow">
        11:15
      </div>
    </div>
    <div class="info__cell">
      <label>Total $</label>
      <div class="pill pill--yellow">
        $4,790
      </div>
    </div>
    <div class="info__cell">
      <label>Avg. Risk Level</label>
      <div class="pill pill--yellow">
        Low Risk 77%
      </div>
    </div>
  </div> <!--/.info (for assignments)-->


  <div>
    <div class="accordion" [ngClass]="{ 'isOpen' : accord1Open }">
      <div class="accordion__head" (click)="accord1Open=!accord1Open">
        <span class="accordion__title">Access ({{facilitiesCount}})</span>
        <div class="accordion__right">
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div> <!--/.accordion__head-->
      <div class="accordion__body">
        <div class="accordion__contents">
          <div class="flex marBottom48 fullWidth">
            <label class="styledInput" (click)="confirmToggleAdmin(!isOrgAdmin)">
              <input
                type="checkbox"
                class="styledInput__input"
                [checked]="isOrgAdmin"
                disabled
              />
              <span class="styledInput__box"></span>
              Organization Administrator
            </label>
            <div class="tool__anchor marRight48">
              <button class="button button--icon button--icon--small" (click)="tooltip2Open=!tooltip2Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip2Open }">
                <div class="tool__text">
                  Checking this box allows the user to see and edit all details for the organization. There must always be at least one admin for the organization and one for each facility.
                </div>
              </div>
            </div> <!--/.tool__anchor-->

            <label class="styledInput" (click)="confirmToggleBillingView(!employee?.billing_view)">
              <input
                type="checkbox"
                class="styledInput__input"
                [checked]="employee?.billing_view"
                disabled
              />
              <span class="styledInput__box"></span>
              Billing View
            </label>
            <div class="tool__anchor marRight48">
              <button class="button button--icon button--icon--small" (click)="tooltip3Open=!tooltip3Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip3Open }">
                <div class="tool__text">
                  By clicking the Billng View check box it enables this user to have access to the billing view.
                </div>
              </div>
            </div> <!--/.tool__anchor-->

            <label class="styledInput" (click)="confirmToggleQualifiedPractitioner(!employee?.qualified_practitioner)">
              <input
                type="checkbox"
                class="styledInput__input"
                [checked]="employee?.qualified_practitioner"
                disabled
              />
              <span class="styledInput__box"></span>
              Qualified Practitioner
            </label>
            <div class="tool__anchor marRight48">
              <button class="button button--icon button--icon--small" (click)="tooltip4Open=!tooltip4Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip4Open }">
                <div class="tool__text">
                  Billing Coordinators (BCs) can view billing info for Billing Practitioners (BPs) to whom they’re assigned.
                </div>
              </div>
            </div> <!--/.tool__anchor-->
          </div> <!--/.flex (for checkboxes)-->
          <div class="divider"></div>

          <ng-container *ngFor="let facility of employee?.facilities; let i = index">
            <ng-container *ngIf="!facility.is_affiliate">
              <div class="flex justifySpaceBetween alignCenter upperRow"><!-- start facility -->
                <h3 class="noMargin">{{facility.name}}</h3>
                <!--TODO: If role is not CM or BP, show a confirmation modal-->
                <label class="styledInput" (click)="confirmToggleAdmin(!isFacilityManager(facility.id), facility.id)">
                  <input
                    type="checkbox"
                    class="styledInput__input"
                    [checked]="isFacilityManager(facility.id)"
                    disabled
                  />
                  <span class="styledInput__box"></span>
                  Facility Administrator
                </label>
                <button class="button button--iconText"
                (click)="confirmRevokeAccess(facility)">
                  <i class="ss-delete"></i>Revoke Access
                </button>
              </div>

              <div class="cols">
                <div class="cols__colBig marRight96"> <!-- start left column-->
                    <table class="fullWidth marBottom48">
                      <thead>
                        <tr>
                          <th class="thSortable thSortable--sortDown">
                            <span class="thSortable__text thSortable__text--left">Facility</span>
                          </th>
                          <th class="thSortable">
                            <span class="thSortable__text">Patients</span>
                          </th>
                          <th class="thSortable">
                            <span class="thSortable__text">Managing</span>
                          </th>
                          <th class="thSortable">
                            <span class="thSortable__text">Care Team</span>
                          </th>
                          <th class="thSortable">
                            <span class="thSortable__text">Billing</span>
                          </th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let role of employee?.roles">
                          <td class="left">{{role.name}}</td>
                          <td>{{roleStats(role.id, facility.di).patients}}</td>
                          <td>{{roleStats(role.id, facility.di).managing}}</td>
                          <td>{{roleStats(role.id, facility.di).careTeam}}</td>
                          <td><i *ngIf="isBilling(role)" class="ss-standard ss-check"></i></td>
                          <td>
                            <button class="button button--icon button--icon--small" (click)="confirmRemoveRole(role)">
                              <i class="ss-delete"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table> <!-- end facility -->

                  <label>Add Role</label>
                  <form class="flexForm">
                    <div class="styledSelect">
                      <select class="styledSelect__select" [(ngModel)]="selectedRole[i]" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let role of roles" [ngValue]="role">
                          {{role.name}}
                        </option>
                      </select>
                    </div>
                    <button class="button button--icon button--flex" (click)="confirmAddRole(i)">
                      <i class="ss-plus"></i>
                    </button>
                  </form>
                </div> <!--/ left column-->

                <div class="cols__colSmall"> <!-- start right column-->
                  <div class="bc">
                    <label>Billing Coordinators (BCs)</label>
                    <ul class="nameList">
                      <li class="nameList__item" *ngFor="let billingCoordinator of facility.billingCoordinators">
                        <!--TODO: Link to user detail page-->
                        <a class="picName fullWidth">
                          <img class="picName__img" src="../../../assets/img/profile.svg"/>
                          {{billingCoordinator?.coordinator?.user?.first_name}} {{billingCoordinator?.coordinator?.user?.last_name}}
                        </a>
                        <button class="button button--icon button--icon--small"
                        (click)="confirmRemoveBC(billingCoordinator)">
                          <i class="ss-delete"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <label>Add Billing Coordinator (BC)</label>
                  <form class="flexForm">
                    <div class="styledSelect">
                      <select class="styledSelect__select" [(ngModel)]="selectedBillingPractitioner[i]" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let billingPractitioner of billingPractitioners" [ngValue]="billingPractitioner">
                          {{billingPractitioner?.user?.first_name}} {{billingPractitioner?.user?.last_name}}
                        </option>
                      </select>
                    </div>
                    <button class="button button--icon button--flex" (click)="confirmAddBC(i)">
                      <i class="ss-plus"></i>
                    </button>
                  </form>
                </div> <!--/ right column-->
              </div> <!--/.cols-->
              <div class="divider"></div>
            </ng-container>
          </ng-container>
          <a class="button button--iconText marTop48" (click)="openAddFacility()">
            <i class="ss-plus"></i> Add Facility
          </a>
        </div> <!--/.accordion__contents-->
      </div> <!--/.accordion__body-->
    </div> <!--/.accordion (for roles)-->
  </div> <!--/ BC section-->
  <a *ngIf="employee" [routerLink]="['/patients/active', employee.id]" class="button button--iconText marTop48">
    <i class="ss-standard ss-view"></i> View Patients List
  </a>
</div> <!--/.ssContainer-->
