<div class="ssContainer ssContents">
  <div class="flexHeader wrap">
      <div class="flex alignCenter">
        <div class="picName marRight32">
          <!--TODO: Clicking pic should trigger file upload-->
          <img class="picName__img picName__img--big" *ngIf="!employee?.user.image_url" src="../../../assets/img/profile.svg" />
          <img class="picName__img picName__img--big" *ngIf="employee?.user.image_url" [src]="employee?.user.image_url" />
          <div *ngIf="!editName" class="flex alignCenter">
            <h1 class="noMargin marRight8">{{employee?.user.first_name}} {{employee?.user.last_name}}<span *ngIf="employee?.title">, {{employee?.title.abbreviation}}</span></h1>
            <button class="button button--icon" (click)="editName=!editName">
              <i class="ss-write"></i>
            </button>
          </div>
          <form *ngIf="editName" class="flexForm">
            <input type="text" class="input flexForm__input" placeholder="First Name" />
            <input type="text" class="input flexForm__input" placeholder="Last Name" />
            <div class="styledSelect flexForm__title">
              <select class="styledSelect__select">
                <option>Title</option>
                <option>MD</option>
                <option>CRNA</option>
              </select>
            </div>
            <button class="button button--icon button--flex" (click)="editName=!editName">
              <i class="ss-undo"></i>
            </button>
            <button class="button button--icon button--flex" (click)="editName=!editName">
              <i class="ss-floppydisk"></i>
            </button>
          </form>
        </div>
        <div>
          <label>Status</label>
          {{employee?.status}}
          <!-- <h5>(May 23, 2017)</h5> -->
        </div>
      </div>
      <div>
        <!--TODO: Show "change password" button in place of "make inactive" if user is viewing this themselves-->
        <!--<button class="button button--iconText">
          <i class="ss-ban"></i> Make Inactive
        </button>-->

        <button class="button button--iconText"
        (click)="openChangePassword()">
          <i class="ss-standard ss-ban"></i>Make Inactive
        </button>
      </div>
  </div> <!--/.flexHeader-->

  <div class="flex">
    <div class="info info--horiz marRight24 user__infoDetails">
      <div class="info__cell">
        <label>Employer</label>
        {{organization?.name}}
      </div>
      <div class="info__cell">
        <label>Specialty</label>
        <span *ngIf="employee?.specialty">{{employee?.specialty.name}}</span>
        <span *ngIf="!employee?.specialty">--</span>
      </div>
      <div class="info__cell">
        <label>Phone</label>
        <span *ngIf="employee?.user.phone">{{employee?.user.phone}}</span>
        <span *ngIf="!employee?.user.phone">--</span>
      </div>
      <div class="info__cell">
        <label class="tool info__tool">NPI
          <div class="tool__anchor">
            <button class="button button--icon button--icon--small" (click)="tooltip1Open=!tooltip1Open">
              <i class="ss-help"></i>
            </button>
            <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip1Open }">
              <div class="tool__text">
                By adding the NPI number to the user profile, we can link providers to the electronic medical records (EMR). If the user is not a provider they won't have an NPI number.
              </div>
            </div>
          </div>
        </label>
        <span *ngIf="employee?.npi_code">{{employee?.npi_code}}</span>
        <span *ngIf="!employee?.npi_code">--</span>
      </div>
      <button class="button button--icon button--icon--small info__edit"
      (click)="editUserDetails()">
        <i class="ss-write"></i>
      </button>
    </div> <!--/.info (for employer, specialty, phone, npi)-->
    <div class="info">
      <div class="info__cell info__cell--left">
        <!--TODO: Only show edit email button on user profile-->
        <button class="button button--icon button--icon--small info__edit"
        (click)="openChangeEmail()">
          <i class="ss-write"></i>
        </button>
        <label class="noMargin">Email</label>
        <!--TODO: Don't show email address as a mailto link on user profile-->
        <a href="mailto:{{employee?.user.email}}">{{employee?.user.email}}</a>
      </div>
    </div> <!--/.info (for email)-->
  </div> <!--/.flex (for user details)-->

  <div class="flex justifySpaceBetween">
    <h2 class="noMargin">Assignments (Current Month-to-Date)</h2>
    <!--TODO: When this link is clicked, filter active patients list by this provider-->
    <a [routerLink]="['/patients/active']" class="button button--iconText">
      <i class="ss-standard ss-view"></i> View Patients List
    </a>
  </div>
  <div class="info info--horiz">
    <div class="info__cell">
      <label>Facilities</label>
      2
    </div>
    <div class="info__cell">
      <label>CM & CT</label>
      122 & 14
    </div>
    <div class="info__cell">
      <label>Billable Patients</label>
      107
    </div>
    <div class="info__cell">
      <label>Billable Hours</label>
      <div class="pill pill--yellow">
        11:15
      </div>
    </div>
    <div class="info__cell">
      <label>Total $</label>
      <div class="pill pill--yellow">
        $4,790
      </div>
    </div>
    <div class="info__cell">
      <label>Avg. Risk Level</label>
      <div class="pill pill--yellow">
        Low Risk 77%
      </div>
    </div>
  </div> <!--/.info (for assignments)-->


  <div>
    <div class="accordion" [ngClass]="{ 'isOpen' : accord1Open }">
      <div class="accordion__head" (click)="accord1Open=!accord1Open">
        <span class="accordion__title">Access ({{employee?.facilities?.length}})</span>
        <div class="accordion__right">
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div> <!--/.accordion__head-->
      <div class="accordion__body">
        <div class="accordion__contents">
          <div class="flex marBottom48 fullWidth">
            <label class="styledInput" (click)="confirmToggleAdmin(!isOrgAdmin)">
              <input
                type="checkbox"
                class="styledInput__input"
                [checked]="isOrgAdmin"
                disabled
              />
              <span class="styledInput__box"></span>
              Organization Administrator
            </label>
            <div class="tool__anchor marRight48">
              <button class="button button--icon button--icon--small" (click)="tooltip2Open=!tooltip2Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip2Open }">
                <div class="tool__text">
                  Checking this box allows the user to see and edit all details for the organization. There must always be at least one admin for the organization and one for each facility.
                </div>
              </div>
            </div> <!--/.tool__anchor-->

            <label class="styledInput">
              <input type="checkbox" class="styledInput__input"
              [checked]="isProvider" (change)="isProvider=!isProvider" />
              <span class="styledInput__box"></span>
              Billing View
            </label>
            <div class="tool__anchor marRight48">
              <button class="button button--icon button--icon--small" (click)="tooltip3Open=!tooltip3Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip3Open }">
                <div class="tool__text">
                  By clicking the Billng View check box it enables this user to have access to the billing view.
                </div>
              </div>
            </div> <!--/.tool__anchor-->

            <label class="styledInput">
              <input type="checkbox" class="styledInput__input"
              [checked]="isBC" (change)="isBC=!isBC"/>
              <span class="styledInput__box"></span>
              Qualified Practitioner
            </label>
            <div class="tool__anchor marRight48">
              <button class="button button--icon button--icon--small" (click)="tooltip4Open=!tooltip4Open">
                <i class="ss-help"></i>
              </button>
              <div class="tool__tip" [ngClass]="{ 'isOpen' : tooltip4Open }">
                <div class="tool__text">
                  Billing Coordinators (BCs) can view billing info for Billing Practitioners (BPs) to whom they’re assigned.
                </div>
              </div>
            </div> <!--/.tool__anchor-->
          </div> <!--/.flex (for checkboxes)-->
          <div class="divider"></div>

          <ng-container *ngFor="let facility of employee?.facilities">
            <div class="flex justifySpaceBetween alignCenter upperRow"><!-- start facility -->
              <h3 class="noMargin">{{facility.name}}</h3>
              <!--TODO: If role is not CM or BP, show a confirmation modal-->
              <label class="styledInput" (click)="confirmToggleAdmin(!isFacilityManager(facility.id), facility.id)">
                <input
                  type="checkbox"
                  class="styledInput__input"
                  [checked]="isFacilityManager(facility.id)"
                  disabled
                />
                <span class="styledInput__box"></span>
                Facility Administrator
              </label>
              <button class="button button--iconText"
              (click)="openChangePassword()">
                <i class="ss-delete"></i>Revoke Access
              </button>
            </div>

            <div class="cols">
              <div class="cols__colBig marRight96"> <!-- start left column-->
                  <table class="fullWidth marBottom48">
                    <thead>
                      <tr>
                        <th class="thSortable thSortable--sortDown">
                          <span class="thSortable__text thSortable__text--left">Facility</span>
                        </th>
                        <th class="thSortable">
                          <span class="thSortable__text">Patients</span>
                        </th>
                        <th class="thSortable">
                          <span class="thSortable__text">Managing</span>
                        </th>
                        <th class="thSortable">
                          <span class="thSortable__text">Care Team</span>
                        </th>
                        <th class="thSortable">
                          <span class="thSortable__text">Billing</span>
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let role of employee?.roles">
                        <td class="left">{{role.name}}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>
                          <button class="button button--icon button--icon--small">
                            <i class="ss-delete"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table> <!-- end facility -->

                <label>Add Role</label>
                <form class="flexForm">
                  <div class="styledSelect">
                    <select class="styledSelect__select">
                      <option *ngFor="let role of roles">
                        {{role.name}}
                      </option>
                    </select>
                  </div>
                  <button class="button button--icon button--flex">
                    <i class="ss-plus"></i>
                  </button>
                </form>
              </div> <!--/ left column-->

              <div class="cols__colSmall"> <!-- start right column-->
                <div class="bc">
                  <label>Billing Coordinators (BCs)</label>
                  <ul class="nameList">
                    <li class="nameList__item">
                      <!--TODO: Link to user detail page-->
                      <a class="picName fullWidth">
                        <img class="picName__img" src="../../../assets/img/profile.svg"/>
                        Paul Gordon
                      </a>
                      <button class="button button--icon button--icon--small"
                      (click)="confirmRemoveBC()">
                        <i class="ss-write"></i>
                      </button>
                      <button class="button button--icon button--icon--small"
                      (click)="confirmRemoveBC()">
                        <i class="ss-delete"></i>
                      </button>
                    </li>
                  </ul>
                </div>
                <label>Add Billing Coordinator (BC)</label>
                <form class="flexForm">
                  <div class="drop">
                    <input class="input input--search" type="text" (click)="dropOpen = !dropOpen" placeholder="Search" />
                    <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : dropOpen }" (click)="dropOpen = !dropOpen">
                      <li class="drop__option">
                        <a class="drop__link">
                          <div class="picName">
                            <img class="picName__img" src="../../../assets/img/profile.svg" />Adam Hancock
                          </div>
                        </a>
                      </li>
                      <li class="drop__option">
                        <a class="drop__link">
                          <div class="picName">
                            <img class="picName__img" src="../../../assets/img/profile.svg" />Hank Granowski
                          </div>
                        </a>
                      </li>
                      <li class="drop__option">
                        <a class="drop__link">
                          <div class="picName">
                            <img class="picName__img" src="../../../assets/img/profile.svg" />Samantha Hancock
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button class="button button--icon">
                    <i class="ss-plus"></i>
                  </button>
                </form>
              </div> <!--/ right column-->
            </div> <!--/.cols-->
            <div class="divider"></div>
          </ng-container>
        </div> <!--/.accordion__contents-->
      </div> <!--/.accordion__body-->
    </div> <!--/.accordion (for roles)-->
  </div> <!--/ BC section-->
</div> <!--/.ssContainer-->
