<div class="ssContainer ssContents">
  <div class="flexHeader">
    <div class="flex alignCenter">
      <h1 class="noMargin marRight24">Billing</h1>
      <div class="monthpicker">
        <button class="button button--icon">
          <i class="ss-standard ss-navigateleft" (click)="decrementMonth()"></i>
        </button>
        <h2 class="monthpicker__text">{{selectedMonth.format('MMMM YYYY')}}</h2>
        <button class="button button--icon" (click)="incrementMonth()">
          <i class="ss-standard ss-navigateright"></i>
        </button>
      </div> <!--/.monthpicker-->
    </div>
    <div class="flex alignCenter">
      <button class="button button--iconText button--iconText--dis">
        <i class="ss-upload"></i> Sync Billing
      </button>
      <div class="tool__anchor">
        <button class="button button--icon button--icon--small" (click)="syncTooltipOpen=!syncTooltipOpen">
          <i class="ss-help"></i>
        </button>
        <app-popover [visible]="syncTooltipOpen" (visibleChange)="syncTooltipOpen = $event;">
          <div class="tool__tip isOpen">
            <div class="tool__text">
              An organization can sync their billing to their billing system. If your billing isn’t getting synced, and you would like this fuctionality, please contact CareAdopt to begin this process.
            </div>
          </div>
        </app-popover>
      </div>
    </div>
  </div> <!--/.flexHeader-->

  <h2>Filter Results</h2>
  <div class="flex marBottom48">
  	<div class="marRight32">
  		<!--TODO: If the user only has access to one facility, hide this filter-->
  		<label>Facility</label>
  		<div class="drop">
  			<div class="drop__input" (click)="filterFacilitiesOpen = !filterFacilitiesOpen">
  				<span *ngIf="selectedFacility">{{selectedFacility.name}}</span>
          <span *ngIf="!selectedFacility">All</span>
  			</div>
  			<app-popover [visible]="filterFacilitiesOpen" (visibleChange)="filterFacilitiesOpen = $event;">
  				<ul class="drop__dropdown fullWidth isOpen">
            <li class="drop__option">
              <input class="input input--search drop__innerInput" type="text" placeholder="Search" [(ngModel)]="facilitySearch" (ngModelChange)="filterFacilities()" />
            </li>
  					<li class="drop__option" *ngFor="let facility of facilitiesShown">
              <a class="drop__link" (click)="setSelectedFacility(facility)">
                {{facility.name}}
              </a>
  					</li>
  				</ul>
  			</app-popover>
  		</div>
  	</div>
  	<!--/ container for facility filter-->

  	<div class="marRight32">
  		<label>Service Area</label>
  		<div class="drop">
  			<div class="drop__input" (click)="filterServiceOpen = !filterServiceOpen">
  				<span *ngIf="selectedServiceArea">{{selectedServiceArea.name}}</span>
          <span *ngIf="!selectedServiceArea">All</span>
  			</div>
  			<app-popover [visible]="filterServiceOpen" (visibleChange)="filterServiceOpen = $event;">
  				<ul class="drop__dropdown fullWidth isOpen">
            <li class="drop__option">
  						<input class="input input--search drop__innerInput" type="text" placeholder="Search" [(ngModel)]="serviceSearch" (ngModelChange)="filterServiceArea()" />
            </li>
  					<li class="drop__option" *ngFor="let serviceArea of serviceAreasShown">
              <a class="drop__link" (click)="setSelectedServiceArea(serviceArea)">
                {{serviceArea.name}}
              </a>
  					</li>
  				</ul>
  			</app-popover>
  		</div>
  	</div>
  	<!--/ container for service area filter-->

  	<div class="marRight32">
  		<label>Status</label>
  		<div class="drop">
  			<div class="drop__input" (click)="filterStatusOpen = !filterStatusOpen">
  				{{selectedStatus|titlecase}}
  			</div>
  			<app-popover [visible]="filterStatusOpen" (visibleChange)="filterStatusOpen = $event;">
  				<ul class="drop__dropdown fullWidth isOpen">
            <li class="drop__option" (click)="setSelectedStatus('all')">
  						<a class="drop__link">
  							All Billings
  						</a>
            </li>
            <li class="drop__option" (click)="setSelectedStatus('not-billed')">
  						<a class="drop__link">
  							Not-billed
  						</a>
            </li>
            <li class="drop__option" (click)="setSelectedStatus('billed')">
  						<a class="drop__link">
  							Billed
  						</a>
            </li>
  				</ul>
  			</app-popover>
  		</div>
  	</div>
  	<!--/ container for care plan type filter-->

  	<div class="drop" *ngIf="isManager">
  		<label>Search Users</label>
  		<div *ngIf="selectedEmployee" class="flex alignCenter">
  			<div class="picName marRight8">
  				<img class="picName__img" src="../../../assets/img/profile.svg" />{{selectedEmployee.first_name}} {{selectedEmployee.last_name}}, {{selectedEmployee.title}}
  			</div>
  			<button class="button button--icon" (click)="selectedEmployee = null; employeeSearch = '';"><i class="ss-delete"></i></button>
  		</div>
  		<input *ngIf="!selectedEmployee" class="input input--search" type="text" (click)="employeeSearchOpen = !employeeSearchOpen" placeholder="Search" [(ngModel)]="employeeSearch" (ngModelChange)="filterEmployee()" />
  		<app-popover [visible]="employeeSearchOpen" (visibleChange)="employeeSearchOpen = $event;">
  			<ul class="drop__dropdown isOpen" (click)="employeeSearchOpen = !employeeSearchOpen">
  				<li class="drop__option" *ngFor="let employee of employees" (click)="setSelectedEmployee(employee)">
  					<a class="drop__link">
  						<div class="picName">
  							<img class="picName__img" src="../../../assets/img/profile.svg" />{{employee.first_name}} {{employee.last_name}}, {{employee.title}}
  						</div>
  					</a>
  				</li>
  			</ul>
  		</app-popover>
  	</div>
  	<!--/ container for search users filter-->
  </div>
  <!--/.flex (for filters)-->

  <div class="info info--horiz marBottom48">
    <div class="info__cell">
      <div class="psuedo-label tool info__tool justifyCenter">
        Billable Patients
        <div class="tool__anchor">
          <button class="button button--icon button--icon--small" (click)="billablePatientsHelpOpen = !billablePatientsHelpOpen">
            <i class="ss-help"></i>
          </button>
          <app-popover [visible]="billablePatientsHelpOpen" (visibleChange)="billablePatientsHelpOpen = $event;">
            <div class="tool__tip isOpen">
              <div class="tool__text">
                Billable patients qualify for reimbursement.
              </div>
            </div>
          </app-popover>
        </div>
      </div>
      {{overviewStats?.billable_patients}}
    </div>
    <div class="info__cell">
      <label>Total Facilities</label>
      {{overviewStats?.total_facilities}}
    </div>
    <div class="info__cell">
      <label>Total Practitioners</label>
      {{overviewStats?.total_practitioners}}
    </div>
    <div class="info__cell">
      <label>Total Hours</label>
      <div class="pill">
        {{overviewStats?.total_hours}}
      </div>
    </div>
    <div class="info__cell">
      <label>Total $</label>
      <div class="pill">
        N/A
      </div>
    </div>
  </div>
  <ng-container *ngFor="let facility of getUniqueFacilities()">
    <h2 class="marBottom16 marTop48">{{facility.name}}: Billing Practitioners ({{getFacilityPractitioners(facility.id).length}}) Billable Patients ({{facilityBillablePatientsCount(facility.id)}})</h2>
    <div class="accordion" *ngFor="let bp of getFacilityPractitioners(facility.id)" [ngClass]="{ 'isOpen' : practitionerDropdownOpen[bp.id] }">
      <div class="accordion__head" (click)="practitionerDropdownOpen[bp.id]=!practitionerDropdownOpen[bp.id]">
        <span class="accordion__title">Billing Practitioner: {{bp.first_name}} {{bp.last_name}}<span *ngIf="bp.title">, {{bp.title}}</span> ({{getPractitionerPlansAtFacility(bp.id, facility.id).length}})</span>
        <div class="accordion__right">
          <div class="pill" [ngStyle]="{'background': utils.percentPillColor(getBilledPercent(bp.id, facility.id)) }">
            Billed {{plansBilledCount(getPractitionerPlansAtFacility(bp.id, facility.id))}} / {{getPractitionerPlansAtFacility(bp.id, facility.id).length}}
          </div>
          <div class="accordion__arrow">
            <i class="ss-standard ss-navigateright"></i>
          </div>
        </div>
      </div> <!--/.accordion__head-->
      <div class="accordion__body">
        <div class="accordion__contents">
          <div class="info" [ngClass]="{ 'info--green' : plan.is_billed }" *ngFor="let plan of getPractitionerPlansAtFacility(bp.id, facility.id)">
            <div class="flex justifySpaceBetween marBottom24">
              <div>
                <a (click)="routeToPatient(plan.patient.id)" class="picName">
                  <img class="picName__img" [src]="plan.patient.image_url" />
                  {{plan.patient.first_name}} {{plan.patient.last_name}}
                </a>
              </div>
              <div class="flex alignCenter">
                <div class="bold marRight16">
                  Billing Coordinator
                </div>
                <div>
                  <a class="picName" [routerLink]="['/user/asdf']">
                    <img class="picName__img" src="../../../assets/img/profile.svg" />
                    N/A
                  </a>
                </div>
              </div>
              <div>
                <label class="styledInput">
                  <input type="checkbox" class="styledInput__input" [disabled]="plan.is_billed" [checked]="plan.is_billed" (click)="markPlanBilled(plan)" />
                  <span class="styledInput__box"></span>
                  Billed
                </label>
              </div>
              <div class="flex alignCenter ">
                <div class="bold marRight16">
                  Total
                </div>
                <div>
                  <h1 class="noMargin">N/A</h1>
                </div>
              </div>
            </div> <!--/ top row of billing info-->

            <table class="fullWidth">
              <thead>
                <tr>
                  <th class="left">Name</th>
                  <th>Type</th>
                  <th>CPT Code</th>
                  <th>Time</th>
                  <th>Date Achieved</th>
                  <th>Description</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let activity of plan.billed_activities">
                  <td class="left">Name</td>
                  <td>Type</td>
                  <td>CPT Code</td>
                  <td>Time</td>
                  <td>Date Achieved</td>
                  <td>Description</td>
                  <td>Subtotal</td>
                </tr>
              </tbody>
            </table>

            <div class="accordion" [ngClass]="{ 'isOpen' : detailsOpen[plan.id] }">
              <div class="flex justifySpaceBetween alignCenter" (click)="detailsOpen[plan.id]=!detailsOpen[plan.id]">
                <div class="flex alignCenter">
                  <label class="accordion__label">Details of Service</label>
                  <div class="accordion__arrow accordion__arrow--lt">
                    <i class="ss-standard ss-navigateright"></i>
                  </div>
                </div>
                <div class="flex alignCenter">
                  <div class="bold marRight16">
                    Care Manager
                  </div>
                  <div>
                    <a class="picName" (click)="routeToUser(plan.care_manager[0].id)">
                      <img class="picName__img" [src]="plan.care_manager[0].user.image_url" />
                      {{plan.care_manager[0].user.first_name}} {{plan.care_manager[0].user.last_name}}
                    </a>
                  </div>
                </div>
              </div> <!--/.accordion__head-->
              <div class="accordion__body">
                <div class="accordion__contents accordion__contents--lt">
                  <table class="fullWidth">
                    <thead>
                      <tr>
                        <th class="left">Action</th>
                        <th class="left">Provider</th>
                        <th class="left">Date & Time</th>
                        <th>Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let details of plan.details_of_service">
                        <td class="left">{{details.get_activity_type_display}}</td>
                        <td class="left">
                          <a (click)="routeToUser(details.added_by.id)" class="picName">
                            <img class="picName__img" [src]="details.added_by.user.image_url" />
                            {{details.added_by.user.first_name}} {{details.added_by.user.last_name}}
                          </a>
                        </td>
                        <td class="left">{{moment(details.activity_date).format('MMMM D, YYYY')}}</td>
                        <td>{{details.time_spent}} minutes</td>
                      </tr>
                    </tbody>
                  </table>
                </div> <!--/.accordion__contents (details of service)-->
              </div> <!--/.accordion__body (details of service)-->
            </div> <!--/.accordion (details of service)-->
          </div> <!--/.info-->

        </div> <!--/.accordion__contents (for BP)-->
      </div> <!--/.accordion__body (for BP)-->
    </div> <!--/.accordion (for BP)-->
  </ng-container>
</div> <!--/.ssContainer-->
