<h1 class="modal__title">Edit Emergency Contact</h1>
<form>
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label>Name</label>
      <input type="text" class="input fullWidth" />
    </div>
    <div class="modal__inputWrap160">
      <label>Relationship</label>
      <input type="text" class="input fullWidth" />
    </div>
  </div>
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap160 marRight32">
      <label>Phone</label>
      <input type="text" class="input fullWidth" />
    </div>
    <div class="modal__inputWrap">
      <label>Email</label>
      <input type="email" class="input fullWidth" />
    </div>
  </div>
  <div class="modal__buttons">
    <button class="button button--2nd">
      Cancel
    </button>
    <button class="button">
      Save
    </button>
  </div>
</form>
