<h1 class="modal__title">Add User</h1>
<!--TODO: When using this modal for editing (instead of adding) a user, hide the fields for first name, last name, and title-->
<div class="flex justifySpaceBetween marBottom32">
  <div class="marRight16">
    <label>First Name</label>
    <input type="text" class="input fullWidth" [(ngModel)]="firstNameInput" />
  </div>
  <div class="marRight32">
    <label>Last Name</label>
    <input type="text" class="input fullWidth" [(ngModel)]="lastNameInput" />
  </div>
</div> <!--/.flex (for first name, last name, title)-->
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap120 marRight16">
    <label>Title</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="titleInput" [compareWith]="compareFn">
        <option>- - - -</option>
        <option *ngFor="let title of titles" [ngValue]="title">{{title.abbreviation}}</option>
      </select>
    </div>
  </div>
  <div class="modal__inputWrap marRight32">
    <label>Email</label>
    <input type="email" class="input fullWidth" [(ngModel)]="emailInput" />
  </div>
</div> <!--/.flex (for email, phone)-->
<div class="flex justifySpaceBetween">
  <div class="modal__inputWrap marBottom16 marRight16">
    <label>Employed By</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="employedByInput" (change)="selectOrg()" [compareWith]="compareFn">
        <option>- - - -</option>
        <option [ngValue]="organization">{{organization?.name}}</option>
        <option *ngFor="let affiliate of filteredFacilities(true)" [ngValue]="affiliate">{{affiliate.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal__inputWrap marBottom16 marRight32">

    <label>Org/Facility</label>
    <div class="drop">
      <div class="drop__input" (click)="multi2Open = !multi2Open">
        {{checkedFacilitiesText}}
      </div>
      <app-popover [visible]="multi2Open" (visibleChange)="multi2Open = $event">
        <ul class="drop__dropdown isOpen" [ngClass]="{ 'isOpen' : multi2Open }">
          <li class="drop__option">
            <label class="drop__checkbox styledInput">
              <input type="checkbox" class="styledInput__input" [(ngModel)]="orgChecked" />
              <span class="styledInput__box"></span>
              {{organization.name}}
            </label>
          </li>
          <li class="drop__option" *ngFor="let facility of filteredFacilities(false)">
            <label class="drop__checkbox styledInput">
              <input type="checkbox" class="styledInput__input" [(ngModel)]="facilityChecked[facility.id]" />
              <span class="styledInput__box"></span>
              {{facility.name}}
            </label>
          </li>
        </ul>
      </app-popover>
    </div> <!--/.drop-->
  </div>
</div>
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight16">
    <label>Specialty</label>
    <div class="styledSelect">
      <select class="styledSelect__select" [(ngModel)]="specialtyInput" [compareWith]="compareFn">
        <option>- - - -</option>
        <option *ngFor="let specialty of specialties" [ngValue]="specialty">{{specialty.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal__inputWrap marRight32">
    <label>NPI (opt)</label>
    <input type="email" class="input fullWidth" [(ngModel)]="npiInput" />
  </div>
</div> <!--/.flex (for email, phone)-->

<div class="modal__buttons">
  <button class="button button--2nd" (click)="close()">
    Cancel
  </button>
  <button class="button" (click)="submit()">
    Save
  </button>
</div>
