@import '../../../../modules/modals/modal-outlet.component.scss';

.edit-details {
    width: 80%;
    margin: auto;
}

.matchLabel {
    font-size: .75rem;
    font-weight: 900;
    color: #657880;
    text-transform: uppercase;
    letter-spacing: 1px;
}

textarea {
    height: 200px;
}
