<h1 class="modal__title">
  <!--TODO: Show the following span if adding a medication-->
  <!--<span>Add</span>-->
  <!--TODO: Show the following span if editing a medication-->
  <span>{{data?.type === 'add' ? 'Add' : 'Edit'}}</span>
  Medication
</h1>
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight32">
    <label>Medication Name</label>
    <div class="styledSelect marBottom32">
      <select class="styledSelect__select" [(ngModel)]="selectedMedication" [compareWith]="compareFn">
        <option *ngFor="let medication of medications" [ngValue]="medication">{{medication.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal__inputWrap140">
    <label>Dose</label>
    <div class="flex alignCenter">
      <div class="modal__inputWrap100 marRight8">
        <input type="number" class="input fullWidth" min="0" [(ngModel)]="doseMg" />
      </div>
      mg
    </div>
  </div>
</div>
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight32">
    <label>Started</label>
    <div class="datepicker">
      <div class="datepicker__date datepicker__date--fullWidth" (click)="showDate=!showDate">
        {{datePrescribedFormatted || 'Select Date'}}
      </div>
      <app-date-picker class="datepicker__picker" [ngClass]="{ 'isOpen' : showDate }" (selectedChange)="datePrescribed = $event"></app-date-picker>
    </div>
  </div>
  <div class="modal__inputWrap140 marRight32">
    <label>Length</label>
    <div class="flex alignCenter">
      <div class="modal__inputWrap100 marRight8">
        <input type="number" class="input fullWidth" min="0" [(ngModel)]="durationDays" />
      </div>
      days
    </div>
  </div>
  <!-- <div class="modal__inputWrap100">
    <label>Refills</label>
    <input type="number" class="input fullWidth" min="0" />
  </div> -->
</div>
<div class="drop marBottom32">
  <label>Diagnosing Practitioner</label>
  <input class="input input--search fullWidth" type="text" placeholder="Search" [(ngModel)]="employeeSearchString" (keypress)="clearEmployeeSelection()" />
  <ul class="drop__dropdown" [ngClass]="{ 'isOpen' : employeeSearchString.length > 2 && !selectedEmployee }">
    <li class="drop__option" *ngFor="let employee of searchEmployees" (click)="selectedEmployee = employee; employeeSearchString = employeeFullName">
      <a class="drop__link">
        <div class="picName">
          {{employee?.user?.first_name}} {{employee?.user?.last_name}}
        </div>
      </a>
    </li>
  </ul>
</div>

<label>Instructions (opt)</label>
<textarea class="input input--textarea" [(ngModel)]="instructions"></textarea>

<div class="divider"></div>
<div class="edit-details">
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label>Starts on Day</label>
      <input type="text" class="input fullWidth" type="number" min="0" [(ngModel)]="startDay" />
    </div>
    <div class="modal__inputWrap">
      <label>Frequency</label>
      <div class="styledSelect fullWidth">
        <select class="styledSelect__select" [(ngModel)]="frequency">
          <option *ngFor="let option of frequencyOptions" [value]="option.value">{{option.displayName}}</option>
        </select>
      </div>
    </div>
  </div>
  <label *ngIf="frequency !== 'once'">
    Repeats
    <div class="flex">
      <label class="styledInput marRight48">
        <input type="radio" class="styledInput__input" name="radioPDM" [value]="'plan_end'" [(ngModel)]="repeatsChoice" />
        <span class="styledInput__radio"></span> Until Plan Ends
      </label>
      <label class="styledInput">
        <input type="radio" class="styledInput__input" name="radioPDM" [value]="'other'" [(ngModel)]="repeatsChoice" />
        <span class="styledInput__radio"></span>
        <div class="modal__inputWrap80 marRight8">
          <input type="number" class="input fullWidth" min="0" [(ngModel)]="repeatAmount" />
        </div>
        times
      </label>
    </div>
  </label>
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label>Appear Time</label>
			<app-time-picker (valueChange)="appearTime = $event;"></app-time-picker>
    </div>
    <div class="modal__inputWrap">
      <label>Due Time</label>
			<app-time-picker (valueChange)="dueTime = $event;"></app-time-picker>
    </div>
  </div>
</div>

<div class="modal__buttons modal__buttons--marBottom48">
  <button *ngIf="data?.type === 'edit'" class="button button--2nd" (click)="clickDelete()">
    Delete
  </button>
  <button class="button button--2nd marRight32" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" [disabled]="saveDisabled()" (click)="clickSave()">
    Save
  </button>
</div>
