<h1 class="modal__title">
  <!--TODO: Show the following span if adding a medication-->
  <!--<span>Add</span>-->
  <!--TODO: Show the following span if editing a medication-->
  <span>Edit</span>
  Medication
</h1>
<!--TODO: Show the following if editing a medication tied to a medication task-->
<div class="iconText iconText--wrap iconText--autoHeight error marBottom32">
  <i class="iconText__icon ss-alert"></i>
  <span class="error__text">
    This medication is linked to a medication task. Changing it may affect this patient's care&nbsp;plan.
  </span>
</div>
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight32">
    <label>Medication Name</label>
    <!--TODO: Show input if adding a medication-->
    <!--<input type="text" class="input fullWidth" />-->
    <!--TODO: Show text if editing a medication-->
    <p class="flex alignCenter noMargin height48">Zoloft</p>
  </div>
  <div class="modal__inputWrap140">
    <label>Dose</label>
    <div class="flex alignCenter">
      <div class="modal__inputWrap100 marRight8">
        <input type="number" class="input fullWidth" min="0" />
      </div>
      mg
    </div>
  </div>
</div>
<div class="flex justifySpaceBetween marBottom32">
  <div class="modal__inputWrap marRight32">
    <label>Started</label>
    <div class="datepicker">
      <div class="datepicker__date datepicker__date--fullWidth" (click)="showDate=!showDate">
        Select Date
      </div>
      <app-date-picker class="datepicker__picker" [ngClass]="{ 'isOpen' : showDate }"></app-date-picker>
    </div>
  </div>
  <div class="modal__inputWrap140 marRight32">
    <label>Length</label>
    <div class="flex alignCenter">
      <div class="modal__inputWrap100 marRight8">
        <input type="number" class="input fullWidth" min="0" />
      </div>
      days
    </div>
  </div>
  <!-- <div class="modal__inputWrap100">
    <label>Refills</label>
    <input type="number" class="input fullWidth" min="0" />
  </div> -->
</div>
<label>Prescribing Practitioner</label>
<div class="styledSelect marBottom32">
  <select class="styledSelect__select">
    <option>John Smith, MD</option>
    <option>Lori Ramirez, RN</option>
    <option>Not on Care Team</option>
  </select>
</div>
<label>Instructions (opt)</label>
<textarea class="input input--textarea"></textarea>

<div class="divider"></div>
<div class="edit-details">
  <div class="flex justifySpaceBetween marBottom32">
    <div class="modal__inputWrap marRight32">
      <label>Starts on Day</label>
      <input type="text" class="input fullWidth" />
    </div>
    <div class="modal__inputWrap">
      <label>Frequency</label>
      <div class="styledSelect fullWidth">
        <select class="styledSelect__select">
          <option>1x per day</option>
          <option>2x per day</option>
          <option>3x per day</option>
          <option>4x per day</option>
        </select>
      </div>
    </div>
  </div>
    <label>
      Repeats
      <div class="flex">
        <label class="styledInput marRight48">
          <input type="radio" class="styledInput__input" name="radioPDM" />
          <span class="styledInput__radio"></span> Until Plan Ends
        </label>
        <label class="styledInput">
          <input type="radio" class="styledInput__input" name="radioPDM" />
          <span class="styledInput__radio"></span>
          <div class="modal__inputWrap80 marRight8">
            <input type="number" class="input fullWidth" min="0" />
          </div>
          times
        </label>
      </div>
    </label>
    <div class="flex justifySpaceBetween marBottom32">
      <div class="modal__inputWrap marRight32">
        <label>Appear Time</label>
        <div class="styledSelect fullWidth">
          <select class="styledSelect__select">
            <option>7:00 AM</option>
            <option>8:00 AM</option>
            <option>9:00 AM</option>
            <option>10:00 AM</option>
            <option>11:00 AM</option>
            <option>12:00 PM</option>
            <option>1:00 PM</option>
            <option>2:00 PM</option>
            <option>3:00 PM</option>
            <option>4:00 PM</option>
            <option>5:00 PM</option>
            <option>6:00 PM</option>
            <option>7:00 PM</option>
            <option>8:00 PM</option>
            <option>9:00 PM</option>
          </select>
        </div>
      </div>
      <div class="modal__inputWrap">
        <label>Due Time</label>
        <div class="styledSelect fullWidth">
          <select class="styledSelect__select">
            <option>7:00 AM</option>
            <option>8:00 AM</option>
            <option>9:00 AM</option>
            <option>10:00 AM</option>
            <option>11:00 AM</option>
            <option>12:00 PM</option>
            <option>1:00 PM</option>
            <option>2:00 PM</option>
            <option>3:00 PM</option>
            <option>4:00 PM</option>
            <option>5:00 PM</option>
            <option>6:00 PM</option>
            <option>7:00 PM</option>
            <option>8:00 PM</option>
            <option>9:00 PM</option>
          </select>
        </div>
      </div>
    </div>

</div>

<div class="modal__buttons modal__buttons--marBottom48">
  <button class="button button--2nd">
    Cancel
  </button>
  <button class="button">
    Save
  </button>
</div>
