<h1 class="modal__title">Care Plan Consent</h1>
<hr />
<h2 class="modal__title">{{patient?.user.first_name}} {{patient?.user.last_name}}</h2>
<h4 class="modal__title"><span *ngIf="carePlan?.plan_template.service_area">{{carePlan?.plan_template.service_area.name}}, </span>{{carePlan?.plan_template.name}}</h4>
<h4 class="modal__title" *ngIf="carePlan?.plan_template.type">{{carePlan?.plan_template.type.name}} ({{carePlan?.plan_template.acronym}})</h4>
<div>
  <label class="styledInput listHead">REIMBURSEMENT REQUIREMENTS (OPT)</label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="planConsent.verbal_consent" />
    <span class="styledInput__box"></span>
    Patient has verbally consented to begin care plan.
  </label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="planConsent.seen_within_year" />
    <span class="styledInput__box"></span>
    Patient has been seen by the billing practitioner within the past year.
  </label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="planConsent.discussed_co_pay" />
    <span class="styledInput__box"></span>
    Patient understands the potential co-pay.
  </label>
  <label class="styledInput listHead">PATIENT COMMITMENT (OPT)</label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="planConsent.will_use_mobile_app" />
    <span class="styledInput__box"></span>
    Use the mobile app.
  </label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="planConsent.will_interact_with_team" />
    <span class="styledInput__box"></span>
    Interact with care team.
  </label>
  <label class="styledInput">
    <input type="checkbox" class="styledInput__input" [(ngModel)]="planConsent.will_complete_tasks" />
    <span class="styledInput__box"></span>
    Complete daily tasks.
  </label>
</div>
<div class="flex justifySpaceBetween">
  <div class="modal__inputWrap marRight16">
    <label>Enrolled By</label>
    {{data?.enrolledBy}}
  </div>
  <div class="modal__inputWrap marRight32">
    <label>Enroll Date</label>
    {{data?.enrollDate}}
  </div>
</div>

<div class="modal__buttons padBottom32">
  <button class="button button--2nd" (click)="clickCancel()">
    Cancel
  </button>
  <button class="button" (click)="clickNext()">
    Next
  </button>
</div>
